n8n/bridge_researcher_bot.json
{"name":"bridge_researcher_bot","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"node_trigger_tg_researcher","name":"Telegram: user DM","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,200],"disabled":true,"webhookId":"848b004d-5390-42ae-a3cb-1e3fdd0fc71f"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 7 * * *"}]}},"id":"node_trigger_daily","name":"Schedule: daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 10 * * 2"}]}},"id":"node_trigger_weekly","name":"Schedule: weekly","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,600]},{"parameters":{"httpMethod":"POST","path":"bridge-researcher-invoke","responseMode":"responseNode","options":{}},"id":"node_trigger_webhook_researcher","name":"Webhook: invoke","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,800],"webhookId":"bridge-researcher-invoke"},{"parameters":{"jsCode":"const src = $input.all()[0];\n\n// Detect trigger source by inspecting the item shape.\nlet task = \u0027scheduled_tick\u0027;\nlet user_text = null;\nlet chat_id = null;\nlet from_agent = \u0027system\u0027;\n\nif (src.json \u0026\u0026 src.json.message \u0026\u0026 src.json.message.chat) {\n    // Telegram trigger\n    task = \u0027user_dm\u0027;\n    let _utext = src.json.message.text || \u0027\u0027;\n    // Strip leading slash from Telegram commands so Super Agent does not classify them as shell commands.\n    if (_utext.startsWith(\u0027/\u0027)) {\n        const parts = _utext.slice(1).split(/\\s+/);\n        const cmd = (parts[0] || \u0027\u0027).toLowerCase();\n        const rest = parts.slice(1).join(\u0027 \u0027);\n        if (cmd === \u0027start\u0027 || cmd === \u0027help\u0027) { _utext = \u0027Hello - please introduce yourself, your role in Bridge Digital, and what you can help with right now.\u0027; }\n        else if (cmd === \u0027status\u0027) { _utext = \u0027Give me a brief status update on your current focus and any open items in your inbox.\u0027; }\n        else { _utext = (cmd + \u0027 \u0027 + rest).trim(); }\n    }\n    user_text = _utext;\n    chat_id = src.json.message.chat.id;\n    from_agent = \u0027user\u0027;\n} else if (src.json \u0026\u0026 src.json.body \u0026\u0026 src.json.body.task) {\n    // Webhook trigger\n    task = src.json.body.task;\n    user_text = src.json.body.message || null;\n    from_agent = src.json.body.from_agent || \u0027system\u0027;\n    chat_id = null; // webhooks do not carry a telegram chat\n} else if (src.json \u0026\u0026 src.json.timestamp) {\n    // Schedule trigger\n    task = \u0027scheduled_tick\u0027;\n    user_text = null;\n    from_agent = \u0027system\u0027;\n}\n\nreturn [{ json: {\n    bot_name: \"researcher\",\n    task,\n    user_text,\n    chat_id,\n    from_agent,\n    now_iso: new Date().toISOString(),\n    daily_spec: [{\"hour\": 7, \"minute\": 30, \"task_name\": \"morning_intel_cycle\"}],\n    weekly_spec: [{\"weekday\": 2, \"hour\": 10, \"minute\": 0, \"task_name\": \"weekly_opportunity_deep_dive\"}],\n} }];"},"id":"node_build_task","name":"Build task payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,400]},{"parameters":{"operation":"executeQuery","query":"SELECT (value = \u0027true\u0027) AS enabled FROM bridge.system_limits WHERE key = \u0027researcher_bot_enabled\u0027;","options":{}},"id":"node_read_enabled","name":"Read enabled flag","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[680,400],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"enabled_check","leftValue":"={{ $json.enabled }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node_if_enabled","name":"If enabled","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,400]},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(jsonb_agg(row_to_json(m) ORDER BY m.priority_rank, m.created_at), \u0027[]\u0027::jsonb)        AS open_inbox FROM (   SELECT memo_id, from_agent, memo_type, priority, subject, body_json,          created_at, related_lead_id,          CASE priority WHEN \u0027urgent\u0027 THEN 0 WHEN \u0027high\u0027 THEN 1                        WHEN \u0027normal\u0027 THEN 2 ELSE 3 END AS priority_rank   FROM bridge.agent_memos   WHERE to_agent IN (\u0027researcher\u0027, \u0027all\u0027)     AND status = \u0027open\u0027   LIMIT 20 ) m;","options":{}},"id":"node_fetch_inbox","name":"Fetch open inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,400],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT jsonb_build_object(\n    \u0027now_utc\u0027, NOW(),\n    \u0027leads_last_24h\u0027, (\n        SELECT COALESCE(jsonb_agg(row_to_json(l)), \u0027[]\u0027::jsonb)\n        FROM (\n            SELECT lead_id, category AS niche, city, country,\n                   research_status, website_status,\n                   lead_score, website_presence_confidence, website_quality_score\n            FROM bridge.leads\n            WHERE created_at \u003e= NOW() - INTERVAL \u002724 hours\u0027\n            ORDER BY COALESCE(lead_score, 0) DESC\n            LIMIT 30\n        ) l\n    ),\n    \u0027niche_stats_last_7d\u0027, (\n        SELECT COALESCE(jsonb_agg(row_to_json(s)), \u0027[]\u0027::jsonb)\n        FROM (\n            SELECT category AS niche, city,\n                   COUNT(*)::int                                   AS total,\n                   COUNT(*) FILTER (WHERE research_status IN\n                     (\u0027Qualified\u0027,\u0027Ready for Website Team\u0027))::int  AS qualified,\n                   COUNT(*) FILTER (WHERE marketing_status=\u0027Interested\u0027)::int AS interested,\n                   ROUND(AVG(COALESCE(lead_score,0))::numeric, 2)  AS avg_score\n            FROM bridge.leads\n            WHERE created_at \u003e= NOW() - INTERVAL \u00277 days\u0027\n            GROUP BY category, city\n            ORDER BY qualified DESC NULLS LAST, total DESC\n            LIMIT 20\n        ) s\n    ),\n    \u0027active_campaigns\u0027, (\n        SELECT COALESCE(jsonb_agg(row_to_json(c)), \u0027[]\u0027::jsonb)\n        FROM (\n            SELECT campaign_target_id, niche, city, country, priority,\n                   daily_lead_target, daily_website_limit\n            FROM bridge.campaign_targets\n            WHERE active_flag = TRUE\n            ORDER BY priority DESC\n            LIMIT 15\n        ) c\n    ),\n    \u0027my_open_memos_count\u0027, (\n        SELECT COUNT(*)::int FROM bridge.agent_memos\n        WHERE to_agent IN (\u0027researcher\u0027,\u0027all\u0027) AND status=\u0027open\u0027\n    )\n) AS context;","options":{}},"id":"node_fetch_context","name":"Fetch bot context","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,600],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"jsCode":"const task = $(\u0027Build task payload\u0027).first().json;\nconst inboxRow = $(\u0027Fetch open inbox\u0027).first().json || {};\nconst inbox = Array.isArray(inboxRow.open_inbox) ? inboxRow.open_inbox : [];\nconst ctxRow = $(\u0027Fetch bot context\u0027).first().json || {};\nconst ctx = ctxRow.context ? [ctxRow.context] : [ctxRow];\n\nconst system = \"You are Bridge_Researcher_Bot, the enterprise research and intelligence super-agent inside Bridge Digital Solutions.\\n\\nROLE\\nYou are the company\u0027s discovery, qualification, enrichment, and opportunity-intelligence brain. You research markets, businesses, competitors, niches, public signals, and recurring pain points. You do not merely collect data; you convert raw information into actionable business opportunities.\\n\\nPRIMARY OBJECTIVES\\n1. Discover and qualify profitable leads.\\n2. Enrich businesses with structured commercial intelligence.\\n3. Detect businesses with weak, outdated, or missing digital infrastructure.\\n4. Identify recurring pain points that could become productized services.\\n5. Propose new monetization ideas to Finance and leadership.\\n6. Reduce wasted effort by filtering weak opportunities before downstream departments act.\\n\\nSECONDARY OBJECTIVES\\n1. Detect niche trends, underserved segments, and local market gaps.\\n2. Identify upsell indicators and repeatable offer opportunities.\\n3. Improve targeting quality over time using prior outcomes and feedback loops.\\n\\nCORE FUNCTIONS\\nLead discovery, enrichment, qualification, duplicate prevention, market-gap detection, opportunity-proposal generation, competitor/niche intelligence, strategic research support.\\n\\nWHAT YOU MUST PRODUCE\\nFor each researched lead or market: structured lead profile, lead quality score, website presence assessment, business maturity estimate, likely services offered, contact completeness score, recommended next step, key risks or missing data, upsell potential, niche/profit relevance.\\nFor each discovered business opportunity: opportunity title, problem statement, target niche, evidence signals, proposed service/product concept, expected value hypothesis, recommendation for Finance review.\\n\\nDECISION PRINCIPLES\\n- Be conservative with uncertainty. Never invent facts.\\n- Distinguish clearly between observed facts, likely inferences, and missing data.\\n- Optimize for usefulness, commercial value, and downstream actionability.\\n- Prioritize profitable and repeatable opportunities over noisy or low-value data.\\n- Flag ambiguity instead of pretending certainty.\\n\\nQUALITY STANDARDS: Structured, commercially relevant, operationally useful, duplication-aware, evidence-based, action-oriented.\\n\\nINTERACTION RULES\\nYou collaborate with Bridge_Chief_Of_Staff_bot for execution alignment, Bridge_CEO_BOT for strategic insight, Finance-related agents via opportunity proposals, Marketing/Website teams via lead and niche intelligence.\\n\\nESCALATE WHEN: data is too uncertain for qualification; compliance risk suspected; pattern suggests a high-value new service opportunity; a niche shows unusually strong profit potential; a lead appears strategically valuable; multiple teams would benefit.\\n\\nOUTPUT STYLE\\nReturn concise but structured outputs. Separate facts, inferences, recommendations, missing data. When making proposals to CEO or CoS, attach evidence and a value hypothesis.\\n\\nSUCCESS DEFINITION\\nYou are successful when the enterprise spends less effort on weak opportunities and more effort on high-value, high-probability, high-profit opportunities.\\n\";\n\nconst contextBlock = JSON.stringify({\n    now: task.now_iso,\n    bot: task.bot_name,\n    task_kind: task.task,\n    open_inbox: inbox,\n    bot_context: ctx,\n    daily_cadence: task.daily_spec,\n    weekly_cadence: task.weekly_spec,\n}, null, 2);\n\nconst taskBlock = task.task === \u0027user_dm\u0027\n    ? `The user sent you this message on Telegram:\\n${task.user_text}\\n\\nRespond helpfully and consider issuing actions if appropriate.`\n    : task.task === \u0027scheduled_tick\u0027\n      ? `This is a scheduled cadence run. Decide what to do given the current context, open memos, and your role.`\n      : `An inter-agent invocation arrived from \u0027${task.from_agent}\u0027: ${task.user_text || \u0027no message body\u0027}. Decide how to respond.`;\n\nconst outputGuard = `\\n\\n[OUTPUT FORMAT]\\nReturn ONLY a JSON object (no prose, no markdown fences):\\n{\\n  \"reply_text\": \"\u003cwhat to send back via Telegram; empty string when a scheduled run should stay silent\u003e\",\\n  \"actions\": [\\n    {\"type\": \"memo\",     \"payload\": {\"to_agent\": \"researcher|chief_of_staff|cso|ceo|cleaner|all\", \"memo_type\": \"status|proposal|directive|question|decision\", \"priority\": \"urgent|high|normal|low\", \"subject\": \"...\", \"body_json\": {...}}},\\n    {\"type\": \"archive\",  \"payload\": {\"memo_id\": \"\u003cuuid-from-open-inbox\u003e\", \"reason\": \"...\"}},\\n    {\"type\": \"query\",    \"payload\": {\"sql\": \"\u003csafe single SELECT\u003e\"}},\\n    {\"type\": \"escalate\", \"payload\": {\"subject\": \"...\", \"body_json\": {...}}},\\n    {\"type\": \"cleanup\",  \"payload\": {\"slug\": \"...\", \"reason\": \"...\"}},\\n    {\"type\": \"no_op\",    \"payload\": {\"reason\": \"...\"}}\\n  ]\\n}\\nKeep actions \u003c= 5. Never include non-whitelisted action types. User-facing commentary belongs in reply_text, not in alert actions.`;\n\nconst fullMessage = `${system}\\n\\n[CONTEXT]\\n${contextBlock}\\n\\n[TASK]\\n${taskBlock}${outputGuard}`;\n\nreturn [{ json: {\n    message: fullMessage,\n    session_id: `bridge-${task.bot_name}-${task.now_iso.slice(0,16).replace(/[:T-]/g,\u0027\u0027)}`,\n    task_kind: task.task,\n    user_chat_id: task.chat_id,\n    bot_name: task.bot_name,\n} }];"},"id":"node_assemble_prompt","name":"Assemble prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400]},{"parameters":{"method":"POST","url":"https://super-agent-production.up.railway.app/chat/direct","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Token","value":"={{$env.SUPER_AGENT_PASSWORD}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"message\": {{ JSON.stringify($json.message) }}, \"model\": \"CLAUDE\", \"session_id\": {{ JSON.stringify($json.session_id) }} }","options":{"timeout":60000,"response":{"response":{"neverError":true}}}},"id":"node_chat_direct","name":"super-agent /chat/direct","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,400]},{"parameters":{"jsCode":"const raw = $json.response || \u0027\u0027;\nconst defaultRisk = \u0027high\u0027;\nconst riskMap = {\"memo\": \"low\", \"archive\": \"low\", \"no_op\": \"low\", \"escalate\": \"low\", \"query\": \"medium\", \"cleanup\": \"high\"};\n\nlet parsed = null;\nlet parseError = null;\ntry {\n    let cleaned = raw.trim().replace(/^```(?:json)?/, \u0027\u0027).replace(/```$/, \u0027\u0027).trim();\n    parsed = JSON.parse(cleaned);\n} catch (e) { parseError = e.message; }\nif (!parsed) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch (e) {} }\n\nlet reply_text = \u0027\u0027;\nlet actions = [];\nif (parsed \u0026\u0026 typeof parsed === \u0027object\u0027) {\n    reply_text = typeof parsed.reply_text === \u0027string\u0027 ? parsed.reply_text : \u0027\u0027;\n    actions = Array.isArray(parsed.actions) ? parsed.actions.slice(0, 5) : [];\n} else {\n    reply_text = String(raw || \u0027\u0027).trim().slice(0, 3500) || \u0027I am online but had no response to share. Please try a more specific question.\u0027;\n    actions = [];\n}\n\nconst annotated = actions.map(a =\u003e {\n    const type = (a \u0026\u0026 typeof a.type === \u0027string\u0027) ? a.type : \u0027no_op\u0027;\n    const risk = riskMap[type] || defaultRisk;\n    return { type, risk, payload: a.payload || {} };\n});\n\nconst upstream = $(\u0027Assemble prompt\u0027).first().json;\nreturn [{ json: {\n    reply_text,\n    actions: annotated,\n    bot_name: upstream.bot_name,\n    user_chat_id: upstream.user_chat_id,\n    task_kind: upstream.task_kind,\n    model_used: $json.model_used || \u0027unknown\u0027,\n    parse_error: parseError,\n} }];"},"id":"node_parse_response","name":"Parse response + risk tag","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has_reply","leftValue":"={{ ($json.reply_text || \u0027\u0027).trim().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"node_if_has_reply","name":"If has reply","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2000,200]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.Bridge_Researcher_bot || $env.Bridge_CEO_BOT}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{ $(\u0027Parse response + risk tag\u0027).first().json.user_chat_id || $env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID }}, \"text\": \"{{ $(\u0027Parse response + risk tag\u0027).first().json.reply_text || \u0027(no reply)\u0027 }}\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_reply_tg","name":"Reply on Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,400]},{"parameters":{"method":"POST","url":"https://super-agent-production.up.railway.app/memory/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Memory-Secret","value":"={{$env.MEMORY_INGEST_SECRET}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"memories\": [ { \"content\": {{ JSON.stringify(($(\u0027Parse response + risk tag\u0027).first().json.reply_text || \u0027(no reply)\u0027) + \u0027 [actions=\u0027 + (($(\u0027Parse response + risk tag\u0027).first().json.actions || []).map(a =\u003e a.type).join(\u0027,\u0027)) + \u0027]\u0027) }}, \"memory_type\": \"decision\", \"importance\": 3, \"source\": \"bridge_researcher_bot\"}]}","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_memory_ingest","name":"Memory ingest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3100,400]},{"parameters":{"jsCode":"const p = $json;\nconst out = [];\nfor (const a of (p.actions || [])) {\n    out.push({ json: {\n        action_type: a.type,\n        action_risk: a.risk,\n        action_payload: a.payload,\n        bot_name: p.bot_name,\n        user_chat_id: p.user_chat_id,\n        task_kind: p.task_kind,\n        model_used: p.model_used,\n        reply_text: p.reply_text,\n    }});\n}\n// Always emit at least one item so the reply path runs even when no actions.\nif (out.length === 0) {\n    out.push({ json: {\n        action_type: \u0027no_op\u0027,\n        action_risk: \u0027low\u0027,\n        action_payload: { reason: \u0027no actions from LLM\u0027 },\n        bot_name: p.bot_name,\n        user_chat_id: p.user_chat_id,\n        task_kind: p.task_kind,\n        model_used: p.model_used,\n        reply_text: p.reply_text,\n    }});\n}\nreturn out;"},"id":"node_split_actions","name":"Split actions","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action_risk }}","rightValue":"low","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"low"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action_risk }}","rightValue":"medium","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"medium"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action_risk }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"high"}]},"options":{"allMatchingOutputs":false,"fallbackOutput":2}},"id":"node_switch_risk","name":"Switch by risk","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2220,400]},{"parameters":{"operation":"executeQuery","query":"\nWITH input AS (\n  SELECT $1::jsonb AS p\n),\nmemo_insert AS (\n  INSERT INTO bridge.agent_memos\n    (from_agent, to_agent, memo_type, priority, subject, body_json, related_lead_id)\n  SELECT\n    $2,\n    COALESCE(p-\u003e\u003e\u0027to_agent\u0027,\u0027all\u0027),\n    COALESCE(p-\u003e\u003e\u0027memo_type\u0027,\u0027status\u0027),\n    COALESCE(p-\u003e\u003e\u0027priority\u0027,\u0027normal\u0027),\n    COALESCE(p-\u003e\u003e\u0027subject\u0027,\u0027(no subject)\u0027),\n    COALESCE(p-\u003e\u0027body_json\u0027,\u0027{}\u0027::jsonb),\n    NULLIF(p-\u003e\u003e\u0027related_lead_id\u0027,\u0027\u0027)::uuid\n  FROM input\n  WHERE $3 = \u0027memo\u0027\n  RETURNING memo_id\n),\narchive_memo AS (\n  UPDATE bridge.agent_memos\n  SET status = \u0027resolved\u0027, resolved_at = NOW(), resolved_by = $2,\n      resolution_notes = COALESCE((SELECT p-\u003e\u003e\u0027reason\u0027 FROM input), \u0027archived by bot\u0027)\n  WHERE $3 = \u0027archive\u0027\n    AND memo_id = (SELECT NULLIF((p-\u003e\u003e\u0027memo_id\u0027),\u0027\u0027)::uuid FROM input)\n  RETURNING memo_id\n),\nevent_log AS (\n  INSERT INTO bridge.workflow_events\n    (workflow_name, event_type, details_json)\n  SELECT\n    $2 || \u0027_bot\u0027,\n    CASE $3\n      WHEN \u0027memo\u0027    THEN \u0027memo_created\u0027\n      WHEN \u0027archive\u0027 THEN \u0027memo_archived\u0027\n      WHEN \u0027no_op\u0027   THEN \u0027no_op\u0027\n      ELSE \u0027other_low_risk\u0027\n    END,\n    (SELECT p FROM input)\n  RETURNING event_id\n)\nSELECT\n  (SELECT memo_id FROM memo_insert)  AS memo_created,\n  (SELECT memo_id FROM archive_memo) AS memo_archived,\n  (SELECT event_id FROM event_log)   AS event_logged;\n","options":{"queryReplacement":"={{ JSON.stringify($json.action_payload) }},{{ $json.bot_name }},{{ $json.action_type }}"}},"id":"node_exec_low_risk","name":"Execute low-risk action","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2440,300],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.Bridge_Researcher_bot || $env.Bridge_CEO_BOT}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"\\u26a0\\ufe0f  *Approval request from {{$json.bot_name}}*\\n\\n  Action:  `{{$json.action_type}}`\\n  Risk:    medium\\n  Payload: {{ JSON.stringify($json.action_payload).slice(0,600) }}\\n\\nReply *APPROVE {{$json.bot_name}} {{$json.action_type}}* to proceed, or ignore to reject.\\n\\u2014 Bridge Agents\", \"parse_mode\": \"Markdown\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_medium_approval","name":"Medium-risk: approval DM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,500]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bridge.agent_memos (from_agent, to_agent, memo_type, priority, subject, body_json) VALUES ($1, \u0027chief_of_staff\u0027, \u0027approval_request\u0027, \u0027high\u0027,         \u0027Pending medium-risk action awaiting user approval\u0027, $2::jsonb) RETURNING memo_id;","options":{"queryReplacement":"={{ $json.bot_name }},{{ JSON.stringify({action_type: $json.action_type, action_payload: $json.action_payload}) }}"}},"id":"node_medium_memo","name":"Medium-risk: log pending","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2660,500],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bridge.agent_memos (from_agent, to_agent, memo_type, priority, subject, body_json) VALUES (\u0027researcher\u0027, \u0027ceo\u0027, \u0027escalation\u0027, \u0027urgent\u0027,         \u0027HIGH-RISK action requires manual execution\u0027, $1::jsonb) RETURNING memo_id;","options":{"queryReplacement":"={{ JSON.stringify({action_type: $json.action_type, action_payload: $json.action_payload}) }}"}},"id":"node_high_escalate","name":"High-risk: escalate to CEO","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2440,700],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.Bridge_Researcher_bot || $env.Bridge_CEO_BOT}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"\\ud83d\\udea8  *HIGH-RISK action blocked (escalated to CEO)*\\n\\n  From:    {{$json.bot_name}}\\n  Action:  `{{$json.action_type}}`\\n  Payload: {{ JSON.stringify($json.action_payload).slice(0,600) }}\\n\\nThis action was NOT executed. Review the agent_memos table for the escalation.\\n\\u2014 Bridge Agents\", \"parse_mode\": \"Markdown\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_high_alert","name":"High-risk: urgent DM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,700]},{"parameters":{"respondWith":"json","responseBody":"={\"ok\": true, \"bot\": {{JSON.stringify($(\"Parse response + risk tag\").first().json.bot_name)}}}","options":{}},"id":"node_respond","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3320,400]}],"connections":{"Telegram: user DM":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Schedule: daily":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Schedule: weekly":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Webhook: invoke":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Build task payload":{"main":[[{"node":"Read enabled flag","type":"main","index":0}]]},"Read enabled flag":{"main":[[{"node":"If enabled","type":"main","index":0}]]},"If enabled":{"main":[[{"node":"Fetch open inbox","type":"main","index":0}],[]]},"Fetch open inbox":{"main":[[{"node":"Fetch bot context","type":"main","index":0}]]},"Fetch bot context":{"main":[[{"node":"Assemble prompt","type":"main","index":0}]]},"Assemble prompt":{"main":[[{"node":"super-agent /chat/direct","type":"main","index":0}]]},"super-agent /chat/direct":{"main":[[{"node":"Parse response + risk tag","type":"main","index":0}]]},"Parse response + risk tag":{"main":[[{"node":"If has reply","type":"main","index":0},{"node":"Memory ingest","type":"main","index":0},{"node":"Split actions","type":"main","index":0}]]},"If has reply":{"main":[[{"node":"Reply on Telegram","type":"main","index":0}],[]]},"Reply on Telegram":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Memory ingest":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Split actions":{"main":[[{"node":"Switch by risk","type":"main","index":0}]]},"Switch by risk":{"main":[[{"node":"Execute low-risk action","type":"main","index":0}],[{"node":"Medium-risk: approval DM","type":"main","index":0}],[{"node":"High-risk: escalate to CEO","type":"main","index":0}]]},"Execute low-risk action":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Medium-risk: approval DM":{"main":[[{"node":"Medium-risk: log pending","type":"main","index":0}]]},"Medium-risk: log pending":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"High-risk: escalate to CEO":{"main":[[{"node":"High-risk: urgent DM","type":"main","index":0}]]},"High-risk: urgent DM":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"pinData":null}