n8n/bridge_enterprise_cadence.json
{
  "name": "bridge_enterprise_cadence",
  "nodes": [
    {"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"t1","name":"Hourly","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,200]},
    {"parameters":{"jsCode":"const now=new Date();const h=now.getUTCHours();const dow=now.getUTCDay();const cad=[{hour:7,dow:null,to:'researcher_bot',type:'directive',pri:'normal',subj:'Morning intelligence sweep',body:{task:'scan markets, niches, competitors and surface high-value opportunities'}},{hour:9,dow:null,to:'pm',type:'directive',pri:'normal',subj:'Daily project pulse',body:{task:'review active projects, milestones, blockers; report status'}},{hour:11,dow:null,to:'chief_of_staff',type:'directive',pri:'normal',subj:'Daily blocker review',body:{task:'identify blockers, drive resolution, escalate as needed'}},{hour:14,dow:null,to:'cso',type:'directive',pri:'normal',subj:'Daily risk review',body:{task:'check security posture, exposure, credentials'}},{hour:16,dow:null,to:'ceo',type:'directive',pri:'normal',subj:'Daily executive summary',body:{task:'review days operational state, finance posture, urgent memos'}},{hour:18,dow:null,to:'cleaner',type:'directive',pri:'normal',subj:'End-of-day cleanup',body:{task:'close completed loops, recycle expired demos'}},{hour:9,dow:1,to:'researcher_bot',type:'directive',pri:'high',subj:'Weekly market opportunity review',body:{task:'deep weekly scan; produce ranked opportunity proposals'}},{hour:10,dow:1,to:'pm',type:'directive',pri:'high',subj:'Weekly project review',body:{task:'replan active projects, surface variance'}},{hour:14,dow:1,to:'ceo',type:'directive',pri:'high',subj:'Weekly strategy review',body:{task:'review proposals, allocations, performance'}},{hour:14,dow:2,to:'cso',type:'directive',pri:'high',subj:'Weekly security review',body:{task:'audit controls, retention, deployments'}},{hour:16,dow:5,to:'cleaner',type:'directive',pri:'normal',subj:'Weekly archive',body:{task:'archive completed campaigns, recycle resources'}}];return cad.filter(c=>c.hour===h&&(c.dow===null||c.dow===dow)).map(m=>({json:{from_agent:'chief_of_staff',to_agent:m.to,memo_type:m.type,priority:m.pri,subject:m.subj,body_json:JSON.stringify(m.body)}}));"},"id":"c1","name":"Decide cadence","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,200]},
    {"parameters":{"operation":"executeQuery","query":"INSERT INTO bridge.agent_memos (from_agent, to_agent, memo_type, priority, subject, body_json) VALUES ('{{$json.from_agent}}', '{{$json.to_agent}}', '{{$json.memo_type}}', '{{$json.priority}}', '{{$json.subject}}', '{{$json.body_json}}'::jsonb) RETURNING memo_id;","options":{}},"id":"p1","name":"Insert memo","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,200],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}}
  ],
  "connections": {
    "Hourly": { "main": [[{ "node": "Decide cadence", "type": "main", "index": 0 }]] },
    "Decide cadence": { "main": [[{ "node": "Insert memo", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}