n8n/bridge_website_builder.json
{
  "name": "bridge_website_builder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bridge-website-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "bridge-website-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\n  limits AS (\n    SELECT\n      (SELECT value::int FROM bridge.system_limits WHERE key='max_websites_in_progress') AS cap,\n      (SELECT COUNT(*)::int FROM bridge.leads\n         WHERE website_status IN ('In Progress','Draft Ready')) AS in_flight\n  ),\n  picked AS (\n    SELECT l.lead_id, l.business_name, l.normalized_business_name, l.category,\n           l.city, l.region, l.postcode, l.country, l.address_line_1,\n           l.phone_raw, l.email, l.website_url_found, l.website_domain,\n           l.reviews_rating, l.reviews_count, l.research_status,\n           l.website_presence_status, l.website_quality_score,\n           l.opening_hours, l.service_list, l.logo_url\n    FROM bridge.leads l, limits\n    WHERE l.research_status = 'Ready for Website Team'\n      AND l.website_status IN ('Queued','Cannot Build Yet')\n      AND l.archived_flag = FALSE\n      AND limits.in_flight < limits.cap\n    ORDER BY l.updated_at ASC\n    LIMIT 1\n    FOR UPDATE OF l SKIP LOCKED\n  ),\n  advanced AS (\n    UPDATE bridge.leads\n    SET website_status = 'In Progress',\n        updated_at = NOW()\n    WHERE lead_id IN (SELECT lead_id FROM picked)\n    RETURNING lead_id\n  )\nSELECT p.*,\n       (SELECT cap FROM limits) AS max_websites_in_progress,\n       (SELECT in_flight FROM limits) AS current_in_flight\nFROM picked p;",
        "options": {}
      },
      "id": "node_pick_lead",
      "name": "Pick lead + gate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "Ae3yvuqjgMnVRrCo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: claimed lead row. Output: brief + Lovable Build-with-URL + swap callback URL.\nconst lead = $input.first().json;\nif (!lead || !lead.lead_id) {\n  return { json: { __no_work__: true, reason: 'no lead available or capacity reached' } };\n}\n\nfunction slugify(s) {\n  return (s || '')\n    .toString().toLowerCase()\n    .normalize('NFKD').replace(/[\u0300-\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 40);\n}\n\nconst shortId = String(lead.lead_id).slice(0, 8);\nconst slug = [slugify(lead.category), slugify(lead.city), shortId]\n  .filter(Boolean).join('-') || ('demo-' + shortId);\n\nconst brief = {\n  business_name: lead.business_name,\n  category: lead.category,\n  city: lead.city,\n  region: lead.region,\n  country: lead.country,\n  address: lead.address_line_1,\n  phone: lead.phone_raw,\n  email: lead.email,\n  current_website: lead.website_url_found,\n  rating: lead.reviews_rating,\n  reviews: lead.reviews_count,\n  website_quality_score: lead.website_quality_score,\n  slug,\n};\n\n// Lovable Build-with-URL: clicking generates a project in the logged-in\n// Lovable workspace with this prompt auto-submitted. Prompt stays tight \u2014\n// Lovable's own agent fills in layout/styling.\nconst lovablePrompt =\n  'Build a modern, conversion-focused local-service website for ' + (lead.business_name || 'this business') +\n  ', a ' + (lead.category || 'service') + ' company based in ' + (lead.city || '') +\n  ', ' + (lead.country || 'United Kingdom') + '. ' +\n  'Sections required: (1) hero with strong headline + subheading + CTA, ' +\n  '(2) services grid with 4-5 cards, (3) why-choose-us bullets, ' +\n  '(4) service areas, (5) contact block. ' +\n  'Rating signal: ' + (lead.reviews_rating ?? 'n/a') + ' from ' + (lead.reviews_count ?? 0) + ' reviews. ' +\n  'Tone: trustworthy, clear, UK local-service. ' +\n  'Contact details to display (no other contact info): ' +\n  'WhatsApp +44 7345 787028, email bridge.digital.solution@gmail.com. ' +\n  'Use the city and service words naturally for local SEO. No stock photos of people; ' +\n  'use simple color blocks or abstract shapes instead. Do NOT invent awards, years in ' +\n  'business, or testimonials that are not provided.';\n\nconst lovableBuildUrl = 'https://lovable.dev/?autosubmit=true#prompt=' + encodeURIComponent(lovablePrompt);\n\n// Pre-filled swap callback \u2014 user pastes the Lovable preview URL after 'preview_url='\n// and opens it in a browser to switch bridge.website_projects.preview_url.\nconst swapBase = 'https://outstanding-blessing-production-1d4b.up.railway.app/webhook/bridge-lovable-swap';\nconst swapCallbackUrl = swapBase + '?lead_id=' + lead.lead_id + '&preview_url=PASTE_LOVABLE_URL_HERE';\n\nreturn { json: {\n  ...lead,\n  slug,\n  brief_json: brief,\n  lovable_prompt: lovablePrompt,\n  lovable_build_url: lovableBuildUrl,\n  swap_callback_url: swapCallbackUrl,\n}};",
        "mode": "runOnceForAllItems"
      },
      "id": "node_build_brief",
      "name": "Build brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.BRIDGE_WEBSITE_BOT_TOKEN}}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"\\ud83c\\udfa8  New demo on the table\\n\\n  Client:    {{ $json.brief_json.business_name }}\\n  Location:  {{ $json.brief_json.city }}\\n  Slug:      {{ $json.slug }}\\n\\nCalling v0.dev to generate a polished website (up to 2 min).\\n\\u2014 Web Team\" }",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node_bot_start",
      "name": "Website bot: starting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the v0.dev prompt from the brief.\nconst brief = $('Build brief').first().json.brief_json;\nconst biz   = brief.business_name || 'Local Business';\nconst cat   = brief.category || 'service';\nconst city  = brief.city || '';\nconst country = brief.country || 'United Kingdom';\nconst rating  = brief.reviews_rating ?? null;\nconst reviews = brief.reviews_count ?? 0;\n\nconst prompt = `Generate a complete, polished, production-ready single-file index.html for a local service business website.\n\nBusiness details:\n- Name: ${biz}\n- Category: ${cat}\n- Location: ${city}, ${country}\n- Rating: ${rating !== null ? rating + '/5 from ' + reviews + ' reviews' : 'no rating yet'}\n- Phone: WhatsApp +44 7345 787028\n- Email: bridge.digital.solution@gmail.com\n\nRequirements:\n1. Self-contained single file: all CSS inline in <style> and all JS inline in <script>. NO external imports, NO CDN links.\n2. Sections: hero with H1 + subheading + CTA button, services grid (4-5 cards), why-choose-us bullets, service areas, contact block (show ONLY the phone and email above \u2014 no other contact info), footer.\n3. Mobile-first responsive design, professional colour scheme (blues/greens or neutrals \u2014 no garish colours).\n4. Do NOT fabricate testimonials, awards, years in business, or certifications. Use rating/reviews only if provided.\n5. Local SEO: use city and service words naturally in headings and meta tags.\n6. No stock photos of people; use CSS shapes, gradients, or simple SVG icons instead.\n7. Contact details to display: WhatsApp +44 7345 787028, email bridge.digital.solution@gmail.com.\n8. Output ONLY the raw HTML. Start with <!DOCTYPE html>. No markdown fences, no explanation.`;\n\nreturn { json: {\n  ...$input.first().json,\n  v0_prompt: prompt,\n}};",
        "mode": "runOnceForAllItems"
      },
      "id": "node_build_v0_prompt",
      "name": "Build v0 prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.v0.dev/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.V0_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"v0-1.5-md\", \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.v0_prompt) }}}], \"stream\": false }",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node_v0_generate",
      "name": "v0.dev generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract HTML from v0.dev response. On failure, call LEGION as fallback.\n// If LEGION also fails, render a minimal static page so Vercel deploy still succeeds.\nconst https  = require('https');\nconst crypto = require('crypto');\nconst brief  = $('Build brief').first().json.brief_json;\nconst slug   = $('Build brief').first().json.slug;\nconst v0Prompt = $('Build v0 prompt').first().json.v0_prompt || '';\nconst resp   = $json;\n\n// \u2500\u2500 1. Parse v0.dev response \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet raw = '';\ntry { raw = (resp.choices?.[0]?.message?.content || resp.content || '').trim(); } catch(e) {}\nlet html = raw.replace(/^```html\\s*/i,'').replace(/^```\\s*/,'').replace(/```\\s*$/,'').trim();\nlet engine = 'v0.dev';\n\n// \u2500\u2500 2. LEGION fallback if v0 returned nothing usable \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (!html || !html.toLowerCase().includes('<html')) {\n  const legBase   = ($env.LEGION_BASE_URL || '').replace(/\\/+$/, '');\n  const legSecret = $env.LEGION_API_SHARED_SECRET || '';\n\n  if (legBase && legSecret) {\n    try {\n      const legBody = Buffer.from(JSON.stringify({\n        query: v0Prompt,\n        complexity: 4,\n        task_kind: 'bridge_bots',\n        deadline_ms: 90000,\n      }));\n      const ts  = Math.floor(Date.now() / 1000).toString();\n      const sig = crypto.createHmac('sha256', legSecret)\n                        .update(ts + '\\n' + legBody.toString())\n                        .digest('hex');\n      const url = new URL(legBase + '/v1/respond');\n      const legRes = await new Promise((resolve, reject) => {\n        const req = https.request({\n          hostname: url.hostname, path: url.pathname,\n          method: 'POST',\n          headers: {\n            'Content-Type': 'application/json',\n            'Content-Length': legBody.length,\n            'X-Legion-Ts': ts, 'X-Legion-Sig': sig,\n          }\n        }, res => {\n          const chunks = [];\n          res.on('data', c => chunks.push(c));\n          res.on('end', () => {\n            try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n            catch(e) { resolve({}); }\n          });\n        });\n        req.on('error', reject);\n        req.setTimeout(95000, () => { req.destroy(); reject(new Error('timeout')); });\n        req.write(legBody); req.end();\n      });\n      const legContent = (legRes.content || '').trim()\n        .replace(/^```html\\s*/i,'').replace(/^```\\s*/,'').replace(/```\\s*$/,'').trim();\n      if (legContent && legContent.toLowerCase().includes('<html')) {\n        html   = legContent;\n        engine = 'legion/' + (legRes.winner_agent || '?');\n      }\n    } catch(legErr) { /* LEGION also failed \u2014 fall through to static */ }\n  }\n}\n\n// \u2500\u2500 3. Last-resort static page if both v0 and LEGION failed \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (!html || !html.toLowerCase().includes('<html')) {\n  const biz  = brief.business_name || 'Local Business';\n  const cat  = brief.category || 'service';\n  const city = brief.city || '';\n  engine = 'static-fallback';\n  html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>${biz} \u2014 ${cat} in ${city}</title>\n<style>\nbody{font-family:sans-serif;margin:0;color:#222}\n.hero{background:#1e3a5f;color:#fff;padding:4rem 2rem;text-align:center}\n.hero h1{margin:0 0 1rem;font-size:2.2rem}\n.hero p{font-size:1.1rem;margin:0 0 2rem}\n.btn{display:inline-block;padding:.8rem 2rem;background:#f59e0b;color:#fff;text-decoration:none;border-radius:4px;font-weight:bold}\nsection{max-width:900px;margin:3rem auto;padding:0 1rem}\nfooter{text-align:center;padding:2rem;background:#f3f4f6;color:#666}\n</style>\n</head>\n<body>\n<div class=\"hero\">\n  <h1>${biz}</h1>\n  <p>Professional ${cat} services in ${city}.</p>\n  <a class=\"btn\" href=\"tel:+447345787028\">Get in touch</a>\n</div>\n<section>\n  <h2>Contact</h2>\n  <p>\ud83d\udcde <a href=\"tel:+447345787028\">+44 7345 787028</a></p>\n  <p>\u2709\ufe0f <a href=\"mailto:bridge.digital.solution@gmail.com\">bridge.digital.solution@gmail.com</a></p>\n</section>\n<footer>${biz} \u2014 ${city}</footer>\n</body>\n</html>`;\n}\n\nconst llm_cost_usd = engine.startsWith('v0') ? 0.10 : 0.00;\nconst charCount = html.length;\n\nreturn {\n  json: {\n    lead_id: $('Build brief').first().json.lead_id,\n    slug,\n    brief_json: brief,\n    copy_json: { engine, char_count: charCount },\n    rendered_html: html,\n    preview_url: null,  // set by Deploy to Vercel node\n    llm_cost_usd,\n    llm_meta: { model: engine, char_count: charCount },\n  }\n};",
        "mode": "runOnceForAllItems"
      },
      "id": "node_parse_v0",
      "name": "Parse v0 HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Upload rendered HTML to Vercel and create a preview deployment.\nconst https  = require('https');\nconst crypto = require('crypto');\nconst prev   = $input.first().json;\nconst html   = prev.rendered_html || '';\nconst slug   = prev.slug || 'demo';\nconst token  = $env.VERCEL_TOKEN || '';\n\nif (!token) {\n  return [{ json: { ...prev, deploy_ok: false, commit_ok: false,\n    preview_url: null, vercel_error: 'VERCEL_TOKEN not set' } }];\n}\n\nfunction httpsReq(opts, bodyBuf) {\n  return new Promise((resolve, reject) => {\n    const req = https.request(opts, res => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const raw = Buffer.concat(chunks).toString('utf8');\n        try { resolve({ status: res.statusCode, data: JSON.parse(raw) }); }\n        catch(e) { resolve({ status: res.statusCode, data: { raw: raw.slice(0,400) } }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, () => { req.destroy(); reject(new Error('timeout')); });\n    if (bodyBuf) req.write(bodyBuf);\n    req.end();\n  });\n}\n\n// 1. Upload file blob to Vercel blob store\nconst htmlBuf = Buffer.from(html, 'utf8');\nconst sha1    = crypto.createHash('sha1').update(htmlBuf).digest('hex');\nawait httpsReq({\n  hostname: 'api.vercel.com', path: '/v2/files', method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'text/html; charset=utf-8',\n    'Content-Length': htmlBuf.length,\n    'x-vercel-digest': sha1,\n  }\n}, htmlBuf);\n\n// 2. Create preview deployment (framework: null = pure static)\nconst depName = ('bridge-' + slug).slice(0, 52);\nconst depBody = Buffer.from(JSON.stringify({\n  name: depName,\n  files: [{ file: 'index.html', sha: sha1, size: htmlBuf.length }],\n  projectSettings: { framework: null },\n  target: 'preview',\n}));\nconst depRes = await httpsReq({\n  hostname: 'api.vercel.com', path: '/v13/deployments', method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'application/json',\n    'Content-Length': depBody.length,\n  }\n}, depBody);\n\nconst dep       = depRes.data || {};\nconst vercelUrl = dep.url ? 'https://' + dep.url : null;\nconst deployOk  = !!vercelUrl;\n\nreturn [{ json: {\n  ...prev,\n  preview_url:    vercelUrl,\n  vercel_url:     vercelUrl,\n  vercel_id:      dep.id || null,\n  vercel_status:  dep.readyState || dep.status || 'unknown',\n  vercel_error:   deployOk ? null : JSON.stringify(dep).slice(0, 300),\n  deploy_ok:      deployOk,\n  commit_ok:      deployOk,\n  repo_commit_sha: dep.id || null,\n} }];",
        "mode": "runOnceForAllItems"
      },
      "id": "node_deploy_vercel",
      "name": "Deploy to Vercel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "node_wait",
      "name": "Wait for Vercel (20s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        400
      ],
      "webhookId": "bridge-vercel-wait"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH p AS (SELECT $1::jsonb AS d)\nINSERT INTO bridge.website_projects (\n  lead_id, slug, brief_json, copy_json,\n  build_method, preview_url, repo_name, repo_commit_sha, deployment_status\n)\nSELECT\n  (d->>'lead_id')::uuid,\n  d->>'slug',\n  (d->'brief_json')::jsonb,\n  (d->'copy_json')::jsonb,\n  COALESCE(d->>'build_method', 'static_template'),\n  d->>'preview_url',\n  COALESCE(d->>'repo_name', 'bridge_websites_demos'),\n  d->>'repo_commit_sha',\n  COALESCE(d->>'deployment_status', 'live')\nFROM p\nON CONFLICT (slug) DO UPDATE SET\n  brief_json        = EXCLUDED.brief_json,\n  copy_json         = EXCLUDED.copy_json,\n  preview_url       = EXCLUDED.preview_url,\n  repo_commit_sha   = EXCLUDED.repo_commit_sha,\n  deployment_status = EXCLUDED.deployment_status,\n  updated_at        = NOW()\nRETURNING website_project_id, slug, preview_url;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({lead_id: $json.lead_id, slug: $json.slug, brief_json: $json.brief_json, copy_json: $json.copy_json, build_method: 'v0_vercel', preview_url: $json.preview_url, repo_name: null, repo_commit_sha: $json.vercel_id, deployment_status: $json.commit_ok ? 'live' : 'failed'}) }}"
        }
      },
      "id": "node_insert_project",
      "name": "Insert website_project",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2660,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "Ae3yvuqjgMnVRrCo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Commit-gated status transition: only advance to Ready for Marketing\n-- when the GitHub commit actually succeeded. On commit failure, the lead\n-- rolls back to 'Cannot Build Yet' so a future run will retry (the\n-- ON CONFLICT (slug) DO UPDATE on bridge.website_projects means re-running\n-- is safe \u2014 the new commit overwrites the empty/broken one).\nWITH p AS (SELECT $1::jsonb AS d)\nUPDATE bridge.leads\nSET website_status = CASE\n      WHEN (d->>'commit_ok')::boolean THEN 'Ready for Marketing'\n      ELSE 'Cannot Build Yet'\n    END,\n    updated_at = NOW()\nFROM p\nWHERE lead_id = (d->>'lead_id')::uuid\nRETURNING lead_id, website_status, business_name;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({lead_id: $('Deploy to Vercel').first().json.lead_id, commit_ok: $('Deploy to Vercel').first().json.commit_ok}) }}"
        }
      },
      "id": "node_update_lead",
      "name": "Lead status (gated by commit_ok)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2880,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "Ae3yvuqjgMnVRrCo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bridge.expenses\n  (workflow_name, lead_id, category, vendor, description, units, unit_label, amount_usd, details_json)\nVALUES\n  ('website', $1::uuid, 'ai_generation', 'v0_dev',\n   $2, 1, 'calls', CAST($3 AS NUMERIC(10,4)),\n   $4::jsonb)\nRETURNING expense_id, amount_usd;",
        "options": {
          "queryReplacement": "={{ $('Deploy to Vercel').first().json.lead_id }},v0.dev website generation for {{ $('Deploy to Vercel').first().json.slug }},{{ $('Deploy to Vercel').first().json.llm_cost_usd }},{{ JSON.stringify($('Deploy to Vercel').first().json.llm_meta) }}"
        }
      },
      "id": "node_log_expense",
      "name": "Log LLM expense",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3100,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "Ae3yvuqjgMnVRrCo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH p AS (SELECT $1::jsonb AS d)\nINSERT INTO bridge.workflow_events\n  (lead_id, workflow_name, event_type, old_status, new_status, details_json)\nSELECT\n  (d->>'lead_id')::uuid, 'website', d->>'event_type',\n  d->>'old_status', d->>'new_status',\n  jsonb_build_object('slug', d->>'slug', 'preview_url', d->>'preview_url',\n                     'repo_commit_sha', d->>'repo_commit_sha',\n                     'llm_cost_usd', d->>'llm_cost_usd')\nFROM p\nRETURNING event_id;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({lead_id: $('Deploy to Vercel').first().json.lead_id, event_type: ($('Deploy to Vercel').first().json.commit_ok ? 'demo_built' : 'demo_build_failed'), old_status: 'In Progress', new_status: ($('Deploy to Vercel').first().json.commit_ok ? 'Ready for Marketing' : 'Cannot Build Yet'), slug: $('Deploy to Vercel').first().json.slug, preview_url: $('Deploy to Vercel').first().json.preview_url, repo_commit_sha: $('Deploy to Vercel').first().json.repo_commit_sha, llm_cost_usd: $('Deploy to Vercel').first().json.llm_cost_usd}) }}"
        }
      },
      "id": "node_log_event",
      "name": "Log workflow_event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3320,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "Ae3yvuqjgMnVRrCo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.BRIDGE_WEBSITE_BOT_TOKEN}}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"{{ $('Deploy to Vercel').first().json.commit_ok ? '\\u2728  Demo live on Vercel!' : '\\u26a0\\ufe0f  Build failed' }}\\n\\n  Client:    {{ $('Build brief').first().json.brief_json.business_name }}\\n  Status:    {{ $('Deploy to Vercel').first().json.commit_ok ? 'Ready for Marketing' : 'Cannot Build Yet' }}\\n\\n\\ud83c\\udf10  Vercel preview URL:\\n  {{ $('Deploy to Vercel').first().json.preview_url }}\\n\\n\\ud83e\\udd16  Engine: {{ $('Deploy to Vercel').first().json.copy_json.engine }} \\u2192 Vercel\\n\\n  Contact baked in:\\n  \\ud83d\\udcde  +44 7345 787028\\n  \\u2709\\ufe0f  bridge.digital.solution@gmail.com\\n\\n\\u2014 Web Team\" }",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node_bot_done",
      "name": "Website bot: done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.BRIDGE_FINANCE_BOT_TOKEN}}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"\\ud83e\\uddfe  Website build billed\\n\\n  Lead:      {{ $('Build brief').first().json.brief_json.business_name }}\\n  Engine:    {{ $('Deploy to Vercel').first().json.llm_meta.model }} ({{ $('Deploy to Vercel').first().json.llm_meta.char_count }} chars)\\n  Cost:      ${{ $('Deploy to Vercel').first().json.llm_cost_usd }}\\n\\nLogged to bridge.expenses.\\n\\u2014 Accounts\" }",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node_bot_finance",
      "name": "Finance bot: cost",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"lead_id\": {{ JSON.stringify($('Deploy to Vercel').first().json.lead_id) }}, \"slug\": {{ JSON.stringify($('Deploy to Vercel').first().json.slug) }}, \"preview_url\": {{ JSON.stringify($('Deploy to Vercel').first().json.preview_url) }}, \"llm_cost_usd\": {{ $('Deploy to Vercel').first().json.llm_cost_usd }}, \"commit_ok\": {{ $('Deploy to Vercel').first().json.commit_ok }} }",
        "options": {}
      },
      "id": "node_respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3760,
        400
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Pick lead + gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick lead + gate": {
      "main": [
        [
          {
            "node": "Build brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build brief": {
      "main": [
        [
          {
            "node": "Website bot: starting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website bot: starting": {
      "main": [
        [
          {
            "node": "Build v0 prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build v0 prompt": {
      "main": [
        [
          {
            "node": "v0.dev generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "v0.dev generate": {
      "main": [
        [
          {
            "node": "Parse v0 HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse v0 HTML": {
      "main": [
        [
          {
            "node": "Deploy to Vercel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy to Vercel": {
      "main": [
        [
          {
            "node": "Wait for Vercel (20s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Vercel (20s)": {
      "main": [
        [
          {
            "node": "Insert website_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert website_project": {
      "main": [
        [
          {
            "node": "Lead status (gated by commit_ok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead status (gated by commit_ok)": {
      "main": [
        [
          {
            "node": "Log LLM expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log LLM expense": {
      "main": [
        [
          {
            "node": "Log workflow_event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log workflow_event": {
      "main": [
        [
          {
            "node": "Website bot: done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website bot: done": {
      "main": [
        [
          {
            "node": "Finance bot: cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance bot: cost": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}