n8n/bridge_cleaner_bot.json
{"name":"bridge_cleaner_bot","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"node_trigger_tg_cleaner","name":"Telegram: user DM","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,200],"disabled":true,"webhookId":"a9b2d59e-840f-4265-bb2f-a8de6f348bb3"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 22 * * *"}]}},"id":"node_trigger_daily","name":"Schedule: daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 18 * * 5"}]}},"id":"node_trigger_weekly","name":"Schedule: weekly","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,600]},{"parameters":{"httpMethod":"POST","path":"bridge-cleaner-invoke","responseMode":"responseNode","options":{}},"id":"node_trigger_webhook_cleaner","name":"Webhook: invoke","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,800],"webhookId":"bridge-cleaner-invoke"},{"parameters":{"jsCode":"const src = $input.all()[0];\n\n// Detect trigger source by inspecting the item shape.\nlet task = \u0027scheduled_tick\u0027;\nlet user_text = null;\nlet chat_id = null;\nlet from_agent = \u0027system\u0027;\n\nif (src.json \u0026\u0026 src.json.message \u0026\u0026 src.json.message.chat) {\n    // Telegram trigger\n    task = \u0027user_dm\u0027;\n    let _utext = src.json.message.text || \u0027\u0027;\n    // Strip leading slash from Telegram commands so Super Agent does not classify them as shell commands.\n    if (_utext.startsWith(\u0027/\u0027)) {\n        const parts = _utext.slice(1).split(/\\s+/);\n        const cmd = (parts[0] || \u0027\u0027).toLowerCase();\n        const rest = parts.slice(1).join(\u0027 \u0027);\n        if (cmd === \u0027start\u0027 || cmd === \u0027help\u0027) { _utext = \u0027Hello - please introduce yourself, your role in Bridge Digital, and what you can help with right now.\u0027; }\n        else if (cmd === \u0027status\u0027) { _utext = \u0027Give me a brief status update on your current focus and any open items in your inbox.\u0027; }\n        else { _utext = (cmd + \u0027 \u0027 + rest).trim(); }\n    }\n    user_text = _utext;\n    chat_id = src.json.message.chat.id;\n    from_agent = \u0027user\u0027;\n} else if (src.json \u0026\u0026 src.json.body \u0026\u0026 src.json.body.task) {\n    // Webhook trigger\n    task = src.json.body.task;\n    user_text = src.json.body.message || null;\n    from_agent = src.json.body.from_agent || \u0027system\u0027;\n    chat_id = null; // webhooks do not carry a telegram chat\n} else if (src.json \u0026\u0026 src.json.timestamp) {\n    // Schedule trigger\n    task = \u0027scheduled_tick\u0027;\n    user_text = null;\n    from_agent = \u0027system\u0027;\n}\n\nreturn [{ json: {\n    bot_name: \"cleaner\",\n    task,\n    user_text,\n    chat_id,\n    from_agent,\n    now_iso: new Date().toISOString(),\n    daily_spec: [{\"hour\": 22, \"minute\": 0, \"task_name\": \"nightly_cleanup\"}],\n    weekly_spec: [{\"weekday\": 5, \"hour\": 18, \"minute\": 0, \"task_name\": \"weekly_archive_cycle\"}],\n} }];"},"id":"node_build_task","name":"Build task payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,400]},{"parameters":{"operation":"executeQuery","query":"SELECT (value = \u0027true\u0027) AS enabled FROM bridge.system_limits WHERE key = \u0027cleaner_bot_enabled\u0027;","options":{}},"id":"node_read_enabled","name":"Read enabled flag","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[680,400],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"enabled_check","leftValue":"={{ $json.enabled }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"node_if_enabled","name":"If enabled","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,400]},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(jsonb_agg(row_to_json(m) ORDER BY m.priority_rank, m.created_at), \u0027[]\u0027::jsonb)        AS open_inbox FROM (   SELECT memo_id, from_agent, memo_type, priority, subject, body_json,          created_at, related_lead_id,          CASE priority WHEN \u0027urgent\u0027 THEN 0 WHEN \u0027high\u0027 THEN 1                        WHEN \u0027normal\u0027 THEN 2 ELSE 3 END AS priority_rank   FROM bridge.agent_memos   WHERE to_agent IN (\u0027cleaner\u0027, \u0027all\u0027)     AND status = \u0027open\u0027   LIMIT 20 ) m;","options":{}},"id":"node_fetch_inbox","name":"Fetch open inbox","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,400],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH\nttl_demos AS (\n    UPDATE bridge.website_projects p\n       SET archived_at = NOW()\n      FROM bridge.leads l\n     WHERE p.lead_id = l.lead_id\n       AND p.archived_at IS NULL\n       AND p.created_at \u003c NOW() - INTERVAL \u002712 hours\u0027\n       AND COALESCE(l.marketing_status, \u0027\u0027) NOT IN (\u0027Interested\u0027)\n    RETURNING p.website_project_id, p.slug, p.lead_id\n),\nexpired_memos AS (\n    UPDATE bridge.agent_memos m\n       SET status = \u0027expired\u0027\n      WHERE m.status = \u0027open\u0027\n        AND m.priority IN (\u0027low\u0027,\u0027normal\u0027)\n        AND m.created_at \u003c NOW() - INTERVAL \u002714 days\u0027\n    RETURNING m.memo_id, m.subject, m.from_agent, m.to_agent\n)\nSELECT jsonb_build_object(\n    \u0027now_utc\u0027, NOW(),\n    \u0027ttl_demos_archived_this_run\u0027, (\n        SELECT COALESCE(jsonb_agg(row_to_json(t)), \u0027[]\u0027::jsonb) FROM ttl_demos t\n    ),\n    \u0027memos_expired_this_run\u0027, (\n        SELECT COALESCE(jsonb_agg(row_to_json(e)), \u0027[]\u0027::jsonb) FROM expired_memos e\n    ),\n    \u0027pending_demo_deletions\u0027, (\n        SELECT COALESCE(jsonb_agg(row_to_json(d)), \u0027[]\u0027::jsonb)\n        FROM (\n            SELECT slug, lead_id, archived_at\n            FROM bridge.website_projects\n            WHERE archived_at IS NOT NULL\n              AND archived_at \u003e= NOW() - INTERVAL \u002724 hours\u0027\n            ORDER BY archived_at DESC\n            LIMIT 30\n        ) d\n    ),\n    \u0027queue_residue\u0027, (\n        SELECT jsonb_build_object(\n            \u0027leads_in_queue_over_7d\u0027, (\n                SELECT COUNT(*)::int FROM bridge.leads\n                WHERE research_status = \u0027Queued\u0027 AND updated_at \u003c NOW() - INTERVAL \u00277 days\u0027\n            ),\n            \u0027website_in_progress_over_24h\u0027, (\n                SELECT COUNT(*)::int FROM bridge.leads\n                WHERE website_status = \u0027In Progress\u0027 AND updated_at \u003c NOW() - INTERVAL \u002724 hours\u0027\n            ),\n            \u0027awaiting_reply_over_30d\u0027, (\n                SELECT COUNT(*)::int FROM bridge.leads\n                WHERE marketing_status = \u0027Awaiting Reply\u0027 AND updated_at \u003c NOW() - INTERVAL \u002730 days\u0027\n            )\n        )\n    ),\n    \u0027archivable_completed_leads_over_90d\u0027, (\n        SELECT COUNT(*)::int FROM bridge.leads\n        WHERE project_status IN (\u0027Completed\u0027,\u0027Archived\u0027)\n          AND updated_at \u003c NOW() - INTERVAL \u002790 days\u0027\n    ),\n    \u0027duplicate_workflow_events_last_24h\u0027, (\n        SELECT COUNT(*)::int FROM (\n            SELECT workflow_name, event_type, COUNT(*) AS n\n            FROM bridge.workflow_events\n            WHERE created_at \u003e= NOW() - INTERVAL \u002724 hours\u0027\n            GROUP BY workflow_name, event_type, lead_id\n            HAVING COUNT(*) \u003e 5\n        ) dups\n    )\n) AS context;","options":{}},"id":"node_fetch_context","name":"Fetch bot context","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,600],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"jsCode":"const task = $(\u0027Build task payload\u0027).first().json;\nconst inboxRow = $(\u0027Fetch open inbox\u0027).first().json || {};\nconst inbox = Array.isArray(inboxRow.open_inbox) ? inboxRow.open_inbox : [];\nconst ctxRow = $(\u0027Fetch bot context\u0027).first().json || {};\nconst ctx = ctxRow.context ? [ctxRow.context] : [ctxRow];\n\nconst system = \"You are Bridge_Cleaner_bot, the enterprise maintenance, hygiene, reset, and lifecycle management super-agent inside Bridge Digital Solutions.\\n\\nROLE\\nYou are responsible for keeping the ecosystem clean, orderly, efficient, and recoverable. You remove clutter, archive stale items, recycle temporary resources, reset expired states, and preserve operational hygiene across workflows, data, storage, environments, and temporary assets.\\n\\nPRIMARY OBJECTIVES\\n1. Keep the enterprise free from stale, expired, duplicated, or wasteful operational residue.\\n2. Recycle temporary resources efficiently.\\n3. Improve system clarity, performance, and cost discipline through maintenance hygiene.\\n4. Support lifecycle completion after campaigns, workflows, builds, meetings, and project stages.\\n\\nSECONDARY OBJECTIVES\\n1. Prevent resource leakage and state confusion.\\n2. Support finance and PM by reducing unnecessary operational overhead.\\n3. Maintain archival discipline and closure integrity.\\n\\nCORE FUNCTIONS\\nArchive stale records, reset expired states, recycle temporary resources, remove duplicate or abandoned artifacts, close completed maintenance loops, clean demo-site and temporary deployment residue, keep storage and workflow states organized, mark unresolved clutter for escalation, support end-of-day and end-of-week cleanup cycles.\\n\\nWHAT YOU MUST CLEAN OR MANAGE\\nexpired demo websites, temporary deployment resources, stale queue items, abandoned drafts, duplicated temporary files, old cache-like workflow residues, inactive or expired work states, no-longer-needed artifacts after PM or finance decisions, archival routing for historical traceability.\\n\\nDECISION PRINCIPLES\\n- Do not delete what should be archived.\\n- Do not archive what is still active.\\n- Prefer recoverable cleanup over destructive cleanup.\\n- Respect security, legal, and finance retention rules.\\n- Improve clarity, reduce waste, and preserve traceability.\\n\\nAUTHORITY AND AUTONOMY\\nYou may archive expired or approved-for-closure assets, reset stale states according to policy, reclaim temporary resources, flag clutter and maintenance risks, request PM review for ambiguous cleanup cases.\\nYou may not destroy protected data without approved policy, remove legally or financially important records, override active project ownership without escalation.\\n\\nINTERACTION RULES\\nYou work with Bridge_Chief_Of_Staff_bot for cleanup timing and closure authority, Bridge_CEO_BOT only through escalated operational summaries when waste becomes strategic, Bridge_Chief_Sec_Off_bot for secure cleanup and retention compliance, finance and project workflows for budget-saving resource reclamation.\\n\\nESCALATE WHEN an item is stale but ownership is ambiguous, cleanup might affect legal/financial/security obligations, resource leakage is recurring, multiple abandoned states indicate process failure, or temporary assets are consuming unnecessary budget.\\n\\nOUTPUT STYLE\\nAlways organize outputs as: items cleaned, items archived, items recycled, items needing approval, risks from clutter, savings or efficiency impact.\\n\\nNOTE FOR THIS RUNTIME\\nThe CONTEXT_QUERY you receive already auto-archives stale website_projects rows older than 12 hours whose lead is not \u0027Interested\u0027. Reflect this in your reply_text (count and a short list of slugs). For destructive GitHub file deletion of those archived demos, emit a \u0027cleanup\u0027 action with payload {slug, reason} \\u2014 that goes through user approval, never auto-executes.\\n\\nSUCCESS DEFINITION\\nYou are successful when the enterprise stays lean, orderly, cost-efficient, and free from stale operational buildup.\\n\";\n\nconst contextBlock = JSON.stringify({\n    now: task.now_iso,\n    bot: task.bot_name,\n    task_kind: task.task,\n    open_inbox: inbox,\n    bot_context: ctx,\n    daily_cadence: task.daily_spec,\n    weekly_cadence: task.weekly_spec,\n}, null, 2);\n\nconst taskBlock = task.task === \u0027user_dm\u0027\n    ? `The user sent you this message on Telegram:\\n${task.user_text}\\n\\nRespond helpfully and consider issuing actions if appropriate.`\n    : task.task === \u0027scheduled_tick\u0027\n      ? `This is a scheduled cadence run. Decide what to do given the current context, open memos, and your role.`\n      : `An inter-agent invocation arrived from \u0027${task.from_agent}\u0027: ${task.user_text || \u0027no message body\u0027}. Decide how to respond.`;\n\nconst outputGuard = `\\n\\n[OUTPUT FORMAT]\\nReturn ONLY a JSON object (no prose, no markdown fences):\\n{\\n  \"reply_text\": \"\u003cwhat to send back via Telegram; empty string when a scheduled run should stay silent\u003e\",\\n  \"actions\": [\\n    {\"type\": \"memo\",     \"payload\": {\"to_agent\": \"researcher|chief_of_staff|cso|ceo|cleaner|all\", \"memo_type\": \"status|proposal|directive|question|decision\", \"priority\": \"urgent|high|normal|low\", \"subject\": \"...\", \"body_json\": {...}}},\\n    {\"type\": \"archive\",  \"payload\": {\"memo_id\": \"\u003cuuid-from-open-inbox\u003e\", \"reason\": \"...\"}},\\n    {\"type\": \"query\",    \"payload\": {\"sql\": \"\u003csafe single SELECT\u003e\"}},\\n    {\"type\": \"escalate\", \"payload\": {\"subject\": \"...\", \"body_json\": {...}}},\\n    {\"type\": \"cleanup\",  \"payload\": {\"slug\": \"...\", \"reason\": \"...\"}},\\n    {\"type\": \"no_op\",    \"payload\": {\"reason\": \"...\"}}\\n  ]\\n}\\nKeep actions \u003c= 5. Never include non-whitelisted action types. User-facing commentary belongs in reply_text, not in alert actions.`;\n\nconst fullMessage = `${system}\\n\\n[CONTEXT]\\n${contextBlock}\\n\\n[TASK]\\n${taskBlock}${outputGuard}`;\n\nreturn [{ json: {\n    message: fullMessage,\n    session_id: `bridge-${task.bot_name}-${task.now_iso.slice(0,16).replace(/[:T-]/g,\u0027\u0027)}`,\n    task_kind: task.task,\n    user_chat_id: task.chat_id,\n    bot_name: task.bot_name,\n} }];"},"id":"node_assemble_prompt","name":"Assemble prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400]},{"parameters":{"method":"POST","url":"https://super-agent-production.up.railway.app/chat/direct","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Token","value":"={{$env.SUPER_AGENT_PASSWORD}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"message\": {{ JSON.stringify($json.message) }}, \"model\": \"GEMINI\", \"session_id\": {{ JSON.stringify($json.session_id) }} }","options":{"timeout":60000,"response":{"response":{"neverError":true}}}},"id":"node_chat_direct","name":"super-agent /chat/direct","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,400]},{"parameters":{"jsCode":"const raw = $json.response || \u0027\u0027;\nconst defaultRisk = \u0027high\u0027;\nconst riskMap = {\"memo\": \"low\", \"archive\": \"low\", \"no_op\": \"low\", \"escalate\": \"low\", \"query\": \"medium\", \"cleanup\": \"high\"};\n\nlet parsed = null;\nlet parseError = null;\ntry {\n    let cleaned = raw.trim().replace(/^```(?:json)?/, \u0027\u0027).replace(/```$/, \u0027\u0027).trim();\n    parsed = JSON.parse(cleaned);\n} catch (e) { parseError = e.message; }\nif (!parsed) { try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch (e) {} }\n\nlet reply_text = \u0027\u0027;\nlet actions = [];\nif (parsed \u0026\u0026 typeof parsed === \u0027object\u0027) {\n    reply_text = typeof parsed.reply_text === \u0027string\u0027 ? parsed.reply_text : \u0027\u0027;\n    actions = Array.isArray(parsed.actions) ? parsed.actions.slice(0, 5) : [];\n} else {\n    reply_text = String(raw || \u0027\u0027).trim().slice(0, 3500) || \u0027I am online but had no response to share. Please try a more specific question.\u0027;\n    actions = [];\n}\n\nconst annotated = actions.map(a =\u003e {\n    const type = (a \u0026\u0026 typeof a.type === \u0027string\u0027) ? a.type : \u0027no_op\u0027;\n    const risk = riskMap[type] || defaultRisk;\n    return { type, risk, payload: a.payload || {} };\n});\n\nconst upstream = $(\u0027Assemble prompt\u0027).first().json;\nreturn [{ json: {\n    reply_text,\n    actions: annotated,\n    bot_name: upstream.bot_name,\n    user_chat_id: upstream.user_chat_id,\n    task_kind: upstream.task_kind,\n    model_used: $json.model_used || \u0027unknown\u0027,\n    parse_error: parseError,\n} }];"},"id":"node_parse_response","name":"Parse response + risk tag","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has_reply","leftValue":"={{ ($json.reply_text || \u0027\u0027).trim().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"node_if_has_reply","name":"If has reply","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2000,200]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.Bridge_Cleaner_bot || $env.Bridge_CEO_BOT}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{ $(\u0027Parse response + risk tag\u0027).first().json.user_chat_id || $env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID }}, \"text\": \"{{ $(\u0027Parse response + risk tag\u0027).first().json.reply_text || \u0027(no reply)\u0027 }}\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_reply_tg","name":"Reply on Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,400]},{"parameters":{"method":"POST","url":"https://super-agent-production.up.railway.app/memory/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Memory-Secret","value":"={{$env.MEMORY_INGEST_SECRET}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"memories\": [ { \"content\": {{ JSON.stringify(($(\u0027Parse response + risk tag\u0027).first().json.reply_text || \u0027(no reply)\u0027) + \u0027 [actions=\u0027 + (($(\u0027Parse response + risk tag\u0027).first().json.actions || []).map(a =\u003e a.type).join(\u0027,\u0027)) + \u0027]\u0027) }}, \"memory_type\": \"decision\", \"importance\": 3, \"source\": \"bridge_cleaner_bot\"}]}","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_memory_ingest","name":"Memory ingest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3100,400]},{"parameters":{"jsCode":"const p = $json;\nconst out = [];\nfor (const a of (p.actions || [])) {\n    out.push({ json: {\n        action_type: a.type,\n        action_risk: a.risk,\n        action_payload: a.payload,\n        bot_name: p.bot_name,\n        user_chat_id: p.user_chat_id,\n        task_kind: p.task_kind,\n        model_used: p.model_used,\n        reply_text: p.reply_text,\n    }});\n}\n// Always emit at least one item so the reply path runs even when no actions.\nif (out.length === 0) {\n    out.push({ json: {\n        action_type: \u0027no_op\u0027,\n        action_risk: \u0027low\u0027,\n        action_payload: { reason: \u0027no actions from LLM\u0027 },\n        bot_name: p.bot_name,\n        user_chat_id: p.user_chat_id,\n        task_kind: p.task_kind,\n        model_used: p.model_used,\n        reply_text: p.reply_text,\n    }});\n}\nreturn out;"},"id":"node_split_actions","name":"Split actions","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action_risk }}","rightValue":"low","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"low"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action_risk }}","rightValue":"medium","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"medium"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action_risk }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"outputKey":"high"}]},"options":{"allMatchingOutputs":false,"fallbackOutput":2}},"id":"node_switch_risk","name":"Switch by risk","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2220,400]},{"parameters":{"operation":"executeQuery","query":"\nWITH input AS (\n  SELECT $1::jsonb AS p\n),\nmemo_insert AS (\n  INSERT INTO bridge.agent_memos\n    (from_agent, to_agent, memo_type, priority, subject, body_json, related_lead_id)\n  SELECT\n    $2,\n    COALESCE(p-\u003e\u003e\u0027to_agent\u0027,\u0027all\u0027),\n    COALESCE(p-\u003e\u003e\u0027memo_type\u0027,\u0027status\u0027),\n    COALESCE(p-\u003e\u003e\u0027priority\u0027,\u0027normal\u0027),\n    COALESCE(p-\u003e\u003e\u0027subject\u0027,\u0027(no subject)\u0027),\n    COALESCE(p-\u003e\u0027body_json\u0027,\u0027{}\u0027::jsonb),\n    NULLIF(p-\u003e\u003e\u0027related_lead_id\u0027,\u0027\u0027)::uuid\n  FROM input\n  WHERE $3 = \u0027memo\u0027\n  RETURNING memo_id\n),\narchive_memo AS (\n  UPDATE bridge.agent_memos\n  SET status = \u0027resolved\u0027, resolved_at = NOW(), resolved_by = $2,\n      resolution_notes = COALESCE((SELECT p-\u003e\u003e\u0027reason\u0027 FROM input), \u0027archived by bot\u0027)\n  WHERE $3 = \u0027archive\u0027\n    AND memo_id = (SELECT NULLIF((p-\u003e\u003e\u0027memo_id\u0027),\u0027\u0027)::uuid FROM input)\n  RETURNING memo_id\n),\nevent_log AS (\n  INSERT INTO bridge.workflow_events\n    (workflow_name, event_type, details_json)\n  SELECT\n    $2 || \u0027_bot\u0027,\n    CASE $3\n      WHEN \u0027memo\u0027    THEN \u0027memo_created\u0027\n      WHEN \u0027archive\u0027 THEN \u0027memo_archived\u0027\n      WHEN \u0027no_op\u0027   THEN \u0027no_op\u0027\n      ELSE \u0027other_low_risk\u0027\n    END,\n    (SELECT p FROM input)\n  RETURNING event_id\n)\nSELECT\n  (SELECT memo_id FROM memo_insert)  AS memo_created,\n  (SELECT memo_id FROM archive_memo) AS memo_archived,\n  (SELECT event_id FROM event_log)   AS event_logged;\n","options":{"queryReplacement":"={{ JSON.stringify($json.action_payload) }},{{ $json.bot_name }},{{ $json.action_type }}"}},"id":"node_exec_low_risk","name":"Execute low-risk action","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2440,300],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.Bridge_Cleaner_bot || $env.Bridge_CEO_BOT}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"\\u26a0\\ufe0f  *Approval request from {{$json.bot_name}}*\\n\\n  Action:  `{{$json.action_type}}`\\n  Risk:    medium\\n  Payload: {{ JSON.stringify($json.action_payload).slice(0,600) }}\\n\\nReply *APPROVE {{$json.bot_name}} {{$json.action_type}}* to proceed, or ignore to reject.\\n\\u2014 Bridge Agents\", \"parse_mode\": \"Markdown\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_medium_approval","name":"Medium-risk: approval DM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,500]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bridge.agent_memos (from_agent, to_agent, memo_type, priority, subject, body_json) VALUES ($1, \u0027chief_of_staff\u0027, \u0027approval_request\u0027, \u0027high\u0027,         \u0027Pending medium-risk action awaiting user approval\u0027, $2::jsonb) RETURNING memo_id;","options":{"queryReplacement":"={{ $json.bot_name }},{{ JSON.stringify({action_type: $json.action_type, action_payload: $json.action_payload}) }}"}},"id":"node_medium_memo","name":"Medium-risk: log pending","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2660,500],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bridge.agent_memos (from_agent, to_agent, memo_type, priority, subject, body_json) VALUES (\u0027cleaner\u0027, \u0027ceo\u0027, \u0027escalation\u0027, \u0027urgent\u0027,         \u0027HIGH-RISK action requires manual execution\u0027, $1::jsonb) RETURNING memo_id;","options":{"queryReplacement":"={{ JSON.stringify({action_type: $json.action_type, action_payload: $json.action_payload}) }}"}},"id":"node_high_escalate","name":"High-risk: escalate to CEO","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2440,700],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.Bridge_Cleaner_bot || $env.Bridge_CEO_BOT}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": \"\\ud83d\\udea8  *HIGH-RISK action blocked (escalated to CEO)*\\n\\n  From:    {{$json.bot_name}}\\n  Action:  `{{$json.action_type}}`\\n  Payload: {{ JSON.stringify($json.action_payload).slice(0,600) }}\\n\\nThis action was NOT executed. Review the agent_memos table for the escalation.\\n\\u2014 Bridge Agents\", \"parse_mode\": \"Markdown\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"node_high_alert","name":"High-risk: urgent DM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,700]},{"parameters":{"respondWith":"json","responseBody":"={\"ok\": true, \"bot\": {{JSON.stringify($(\"Parse response + risk tag\").first().json.bot_name)}}}","options":{}},"id":"node_respond","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3320,400]}],"connections":{"Telegram: user DM":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Schedule: daily":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Schedule: weekly":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Webhook: invoke":{"main":[[{"node":"Build task payload","type":"main","index":0}]]},"Build task payload":{"main":[[{"node":"Read enabled flag","type":"main","index":0}]]},"Read enabled flag":{"main":[[{"node":"If enabled","type":"main","index":0}]]},"If enabled":{"main":[[{"node":"Fetch open inbox","type":"main","index":0}],[]]},"Fetch open inbox":{"main":[[{"node":"Fetch bot context","type":"main","index":0}]]},"Fetch bot context":{"main":[[{"node":"Assemble prompt","type":"main","index":0}]]},"Assemble prompt":{"main":[[{"node":"super-agent /chat/direct","type":"main","index":0}]]},"super-agent /chat/direct":{"main":[[{"node":"Parse response + risk tag","type":"main","index":0}]]},"Parse response + risk tag":{"main":[[{"node":"If has reply","type":"main","index":0},{"node":"Memory ingest","type":"main","index":0},{"node":"Split actions","type":"main","index":0}]]},"If has reply":{"main":[[{"node":"Reply on Telegram","type":"main","index":0}],[]]},"Reply on Telegram":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Memory ingest":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Split actions":{"main":[[{"node":"Switch by risk","type":"main","index":0}]]},"Switch by risk":{"main":[[{"node":"Execute low-risk action","type":"main","index":0}],[{"node":"Medium-risk: approval DM","type":"main","index":0}],[{"node":"High-risk: escalate to CEO","type":"main","index":0}]]},"Execute low-risk action":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Medium-risk: approval DM":{"main":[[{"node":"Medium-risk: log pending","type":"main","index":0}]]},"Medium-risk: log pending":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"High-risk: escalate to CEO":{"main":[[{"node":"High-risk: urgent DM","type":"main","index":0}]]},"High-risk: urgent DM":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"pinData":null}