n8n/bridge_finance_kpi_monitor.json
{
  "name": "bridge_finance_kpi_monitor",
  "nodes": [
    {"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 7 * * *"}]}},"id":"t1","name":"Daily 7am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,200]},
    {"parameters":{"operation":"executeQuery","query":"SELECT json_build_object('total_cost_usd',(SELECT COALESCE(SUM(amount_usd),0) FROM bridge.expenses WHERE occurred_at >= NOW() - INTERVAL '24 hours'),'ai_cost_usd',(SELECT COALESCE(SUM(amount_usd),0) FROM bridge.expenses WHERE occurred_at >= NOW() - INTERVAL '24 hours' AND (category ILIKE '%ai%' OR vendor ILIKE '%anthropic%' OR vendor ILIKE '%claude%' OR vendor ILIKE '%openai%' OR vendor ILIKE '%gemini%')),'total_revenue_usd',(SELECT COALESCE(SUM(invoice_total),0) FROM bridge.billing_records WHERE paid_at >= NOW() - INTERVAL '24 hours'),'leads_24h',(SELECT COUNT(*) FROM bridge.leads WHERE created_at >= NOW() - INTERVAL '24 hours'),'demos_24h',(SELECT COUNT(*) FROM bridge.website_projects WHERE created_at >= NOW() - INTERVAL '24 hours'),'outreach_24h',(SELECT COUNT(*) FROM bridge.outreach_messages WHERE direction='outbound' AND sent_at >= NOW() - INTERVAL '24 hours'),'invoices_paid_24h',(SELECT COUNT(*) FROM bridge.billing_records WHERE paid_at >= NOW() - INTERVAL '24 hours'),'top_cost_drivers',(SELECT COALESCE(json_agg(c),'[]'::json) FROM (SELECT COALESCE(vendor,category,'unknown') AS vendor, ROUND(SUM(amount_usd),4)::numeric AS amount_usd, COUNT(*) AS tx_count FROM bridge.expenses WHERE occurred_at >= NOW() - INTERVAL '24 hours' GROUP BY 1 ORDER BY 2 DESC LIMIT 5) c),'top_workflows',(SELECT COALESCE(json_agg(w),'[]'::json) FROM (SELECT workflow_name, COUNT(*) AS events FROM bridge.workflow_events WHERE created_at >= NOW() - INTERVAL '24 hours' GROUP BY 1 ORDER BY 2 DESC LIMIT 5) w)) AS kpi;","options":{}},"id":"p1","name":"Pull KPI snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[500,200],"credentials":{"postgres":{"id":"Ae3yvuqjgMnVRrCo","name":"Postgres account"}}},
    {"parameters":{"jsCode":"const k = $json.kpi || {};\nconst totalCost = parseFloat(k.total_cost_usd || 0);\nconst aiCost = parseFloat(k.ai_cost_usd || 0);\nconst rev = parseFloat(k.total_revenue_usd || 0);\nconst profit = rev - totalCost;\nconst margin = rev > 0 ? ((profit/rev)*100).toFixed(1) + '%' : 'N/A';\nconst topCost = (k.top_cost_drivers || []).map(c => '  - ' + (c.vendor||'unknown') + ': $' + parseFloat(c.amount_usd||0).toFixed(2) + ' (' + c.tx_count + ' tx)').join('\\n') || '  (no expenses logged)';\nconst topWf = (k.top_workflows || []).map(w => '  - ' + w.workflow_name + ': ' + w.events + ' events').join('\\n') || '  (no events)';\nconst lines = [\n  '*Bridge Daily Finance & KPI Report*',\n  '_last 24h UTC_',\n  '',\n  '*Cost*  Total: $' + totalCost.toFixed(2) + ' | AI: $' + aiCost.toFixed(2) + ' | Other: $' + (totalCost-aiCost).toFixed(2),\n  '*Revenue*  Total: $' + rev.toFixed(2) + ' | Profit: $' + profit.toFixed(2) + ' | Margin: ' + margin,\n  '',\n  '*Top cost drivers*',\n  topCost,\n  '',\n  '*Top workflow activity*',\n  topWf,\n  '',\n  '*Pipeline (24h)*',\n  '  Leads: ' + (k.leads_24h||0) + ' | Demos: ' + (k.demos_24h||0) + ' | Outreach: ' + (k.outreach_24h||0) + ' | Paid invoices: ' + (k.invoices_paid_24h||0),\n  '',\n  '_AI cost is partial — full per-call token logging requires super-agent /chat/direct instrumentation._'\n];\nreturn [{json:{telegram_text: lines.join('\\n'), kpi: k}}];"},"id":"c1","name":"Build report","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,200]},
    {"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.BRIDGE_FINANCE_BOT_TOKEN || $env.BRIDGE_CEO_BOT_TOKEN}}/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"chat_id\": {{$env.BRIDGE_ADMIN_TELEGRAM_CHAT_ID}}, \"text\": {{ JSON.stringify($json.telegram_text) }}, \"parse_mode\": \"Markdown\" }","options":{"timeout":15000,"response":{"response":{"neverError":true}}}},"id":"h1","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,200]}
  ],
  "connections": {
    "Daily 7am": { "main": [[{ "node": "Pull KPI snapshot", "type": "main", "index": 0 }]] },
    "Pull KPI snapshot": { "main": [[{ "node": "Build report", "type": "main", "index": 0 }]] },
    "Build report": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}