n8n/claude_verification_monitor.json
{
  "name": "Claude Verification Code Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "read-outlook",
      "name": "Read Unread Outlook Emails",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [460, 400],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "9paQ8IJLgiLbjEYI",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Filter to only recent Anthropic verification emails.\n// Returns the message ID so the next step can fetch the full body.\nconst items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const subject = (item.json.subject || '').toLowerCase();\n  const from = (item.json.from && item.json.from.emailAddress && item.json.from.emailAddress.address || item.json.from || '').toLowerCase();\n  const isAnthropicSender = from.includes('anthropic.com') || from.includes('claude.ai');\n  const isLoginSubject = subject.includes('claude') || subject.includes('sign in') || subject.includes('secure link') || subject.includes('log in') || subject.includes('magic') || subject.includes('verify') || subject.includes('login') || subject.includes('authenticate');\n  if (!isAnthropicSender && !isLoginSubject) continue;\n  // Only process emails received within the last 8 minutes\n  const receivedAt = new Date(item.json.receivedDateTime || item.json.createdDateTime || 0);\n  const ageMs = Date.now() - receivedAt.getTime();\n  if (ageMs > 8 * 60 * 1000) continue;\n  if (!item.json.id) continue;\n  results.push({ json: { id: item.json.id, subject: item.json.subject, receivedDateTime: item.json.receivedDateTime } });\n}\nreturn results;"
      },
      "id": "filter-anthropic",
      "name": "Filter Anthropic Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "id": "get-full-email",
      "name": "Get Full Email Body",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [900, 400],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "9paQ8IJLgiLbjEYI",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Extract magic link URL and/or 6-digit verification code from full email body.\n// Also determines which Claude account (A = inspiring-cat, B = legion) the email targets,\n// so the POST step can route to the correct container.\nconst ACCOUNT_A = 'gelsonmascarenhas@gmail.com';\nconst ACCOUNT_B = 'e.remote.demands@gmail.com';\nconst items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const bodyHtml = (item.json.body && item.json.body.content) || '';\n  const bodyText = item.json.bodyPreview || '';\n  const searchIn = bodyHtml + ' ' + bodyText;\n  const plainText = bodyHtml.replace(/<[^>]+>/g, ' ').replace(/&amp;/g, '&').replace(/&nbsp;/g, ' ');\n  // Determine target account: scan recipients (toRecipients) + body text for A/B email.\n  const toList = (item.json.toRecipients || []).map(r => ((r.emailAddress && r.emailAddress.address) || '').toLowerCase()).join(' ');\n  const allText = (toList + ' ' + plainText).toLowerCase();\n  let accountTarget = null;\n  if (allText.includes(ACCOUNT_B)) accountTarget = 'B';\n  else if (allText.includes(ACCOUNT_A)) accountTarget = 'A';\n  else accountTarget = 'A'; // default for backward compat; most historic mail is account A\n  let magicUrl = null;\n  const patterns = [\n    /https:\\/\\/claude\\.ai\\/magic-link[^\\s\"'<>)\\\\]+/i,\n    /https:\\/\\/platform\\.claude\\.com\\/magic-link[^\\s\"'<>)\\\\]+/i,\n    /https:\\/\\/claude\\.ai\\/verify[^\\s\"'<>)\\\\]+/i,\n    /https:\\/\\/claude\\.ai\\/login[^\\s\"'<>)\\\\]+token[^\\s\"'<>)\\\\]+/i,\n    /https:\\/\\/platform\\.claude\\.com\\/[^\\s\"'<>)\\\\]+/i,\n    /https:\\/\\/claude\\.com\\/[^\\s\"'<>)\\\\]*(?:magic|verify|link|token)[^\\s\"'<>)\\\\]+/i,\n    /https:\\/\\/[^\\s\"'<>)\\\\]+\\.claude\\.(?:ai|com)\\/[^\\s\"'<>)\\\\]+/i,\n  ];\n  for (const pattern of patterns) {\n    const m = searchIn.match(pattern);\n    if (m) { magicUrl = m[0].replace(/&amp;/g, '&').replace(/[.,;!?]+$/, ''); break; }\n  }\n  let directCode = null;\n  const codePatterns = [\n    /verification\\s+code[:\\s]+([0-9]{6})\\b/i,\n    /use\\s+code[:\\s]+([0-9]{6})\\b/i,\n    /your\\s+code\\s+is[:\\s]+([0-9]{6})\\b/i,\n    /code[:\\s]+([0-9]{6})\\b/i,\n  ];\n  for (const cp of codePatterns) {\n    const cm = plainText.match(cp);\n    if (cm) { directCode = cm[1]; break; }\n  }\n  if (magicUrl) {\n    results.push({ json: { url: magicUrl, directCode: directCode, accountTarget: accountTarget, subject: item.json.subject, messageId: item.json.id } });\n  } else if (directCode) {\n    results.push({ json: { url: directCode, directCode: directCode, accountTarget: accountTarget, subject: item.json.subject, messageId: item.json.id } });\n  }\n}\nreturn results.length ? results : [];"
      },
      "id": "extract-code",
      "name": "Extract Magic Link URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.accountTarget === 'B' ? ($env.LEGION_WEBHOOK_URL || '') : ($env.INSPIRING_CAT_WEBHOOK_URL || 'https://inspiring-cat-production.up.railway.app/webhook/verification-code') }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $json.accountTarget === 'B' ? $env.LEGION_WEBHOOK_SECRET : $env.WEBHOOK_SECRET }}"
            },
            {
              "name": "X-Account-Target",
              "value": "={{ $json.accountTarget }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.directCode ? { url: $json.url, code: $json.directCode, account: $json.accountTarget } : { url: $json.url, account: $json.accountTarget }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "post-code",
      "name": "POST Magic Link to CLI Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "id": "delete-message",
      "name": "Delete Anthropic Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1120, 520],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "9paQ8IJLgiLbjEYI",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [
        [{ "node": "Read Unread Outlook Emails", "type": "main", "index": 0 }]
      ]
    },
    "Read Unread Outlook Emails": {
      "main": [
        [{ "node": "Filter Anthropic Emails", "type": "main", "index": 0 }]
      ]
    },
    "Filter Anthropic Emails": {
      "main": [
        [{ "node": "Get Full Email Body", "type": "main", "index": 0 }]
      ]
    },
    "Get Full Email Body": {
      "main": [
        [
          { "node": "Extract Magic Link URL", "type": "main", "index": 0 },
          { "node": "Delete Anthropic Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Magic Link URL": {
      "main": [
        [{ "node": "POST Magic Link to CLI Worker", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
