n8n/daily_superagent_report.json
{
  "name": "Daily-SuperAgent-Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "report-cron",
      "name": "Daily 07:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://super-agent-production.up.railway.app/activity/recent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "lines", "value": "200" }]
        },
        "options": { "timeout": 15000 }
      },
      "id": "fetch-activity",
      "name": "Fetch Agent Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT workflow_name, trigger_type, status, COUNT(*) as run_count, AVG(EXTRACT(EPOCH FROM (finished_at - started_at))) as avg_duration_sec, MIN(started_at) as first_run, MAX(finished_at) as last_run FROM workflow_runs WHERE started_at > NOW() - INTERVAL '24 hours' GROUP BY workflow_name, trigger_type, status ORDER BY run_count DESC",
        "options": {}
      },
      "id": "fetch-workflow-logs",
      "name": "Fetch Workflow Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 360],
      "credentials": {
        "postgres": {
          "id": "RECONNECT",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT workflow_name, COUNT(*) as error_count, MAX(error_timestamp) as last_error, MAX(error_message) as sample_error FROM errors WHERE error_timestamp > NOW() - INTERVAL '24 hours' GROUP BY workflow_name ORDER BY error_count DESC",
        "options": {}
      },
      "id": "fetch-errors",
      "name": "Fetch Error Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 520],
      "credentials": {
        "postgres": {
          "id": "RECONNECT",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_processed, COUNT(*) FILTER (WHERE p.category = 'urgent') as urgent_count, COUNT(*) FILTER (WHERE p.category = 'finance') as finance_count, COUNT(*) FILTER (WHERE p.category = 'newsletter') as newsletter_count, COUNT(*) FILTER (WHERE p.action = 'archive') as archived_count, COUNT(*) FILTER (WHERE p.action = 'draft') as drafts_count, ROUND(AVG(p.priority_score), 1) as avg_priority FROM gmail_messages m LEFT JOIN gmail_processing_state p ON m.message_id = p.message_id WHERE m.created_at > NOW() - INTERVAL '24 hours'",
        "options": {}
      },
      "id": "fetch-gmail-stats",
      "name": "Fetch Gmail Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 680],
      "credentials": {
        "postgres": {
          "id": "RECONNECT",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://super-agent-production.up.railway.app/stats/report",
        "options": { "timeout": 15000 }
      },
      "id": "fetch-model-stats",
      "name": "Fetch Model Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 840]
    },
    {
      "parameters": {
        "jsCode": "// Gather data from all parallel branches\nconst activityRaw = $('Fetch Agent Activity').first().json;\nconst workflowLogs = $('Fetch Workflow Logs').all().map(i => i.json).filter(i => i.workflow_name);\nconst errorSummary = $('Fetch Error Summary').all().map(i => i.json).filter(i => i.workflow_name);\nconst gmailStats = $('Fetch Gmail Stats').first().json;\n\n// Parse activity log\nconst activityText = typeof activityRaw === 'string' ? activityRaw : (activityRaw.data || activityRaw.activity || JSON.stringify(activityRaw));\nconst activityLines = (typeof activityText === 'string' ? activityText : '').split('\\n').filter(l => l.trim()).slice(0, 50);\n\nconst today = new Date().toISOString().split('T')[0];\n\nlet html = `<div style=\"font-family: Arial, sans-serif; max-width: 750px; margin: 0 auto;\">`;\nhtml += `<h1 style=\"color: #6200ea;\">Daily Super Agent Report</h1>`;\nhtml += `<p style=\"color: #666;\">Report for: ${today}</p>`;\n\n// Gmail Processing Stats\nhtml += `<h2 style=\"color: #1a73e8;\">Gmail Processing (24h)</h2>`;\nhtml += `<table style=\"border-collapse: collapse; width: 100%;\">`;\nhtml += `<tr><td style=\"padding: 6px;\">Total Processed</td><td style=\"padding: 6px; font-weight: bold;\">${gmailStats.total_processed || 0}</td></tr>`;\nhtml += `<tr><td style=\"padding: 6px;\">Urgent</td><td style=\"padding: 6px; color: #d93025; font-weight: bold;\">${gmailStats.urgent_count || 0}</td></tr>`;\nhtml += `<tr><td style=\"padding: 6px;\">Finance</td><td style=\"padding: 6px;\">${gmailStats.finance_count || 0}</td></tr>`;\nhtml += `<tr><td style=\"padding: 6px;\">Newsletters</td><td style=\"padding: 6px;\">${gmailStats.newsletter_count || 0}</td></tr>`;\nhtml += `<tr><td style=\"padding: 6px;\">Archived</td><td style=\"padding: 6px;\">${gmailStats.archived_count || 0}</td></tr>`;\nhtml += `<tr><td style=\"padding: 6px;\">Drafts Created</td><td style=\"padding: 6px;\">${gmailStats.drafts_count || 0}</td></tr>`;\nhtml += `<tr><td style=\"padding: 6px;\">Avg Priority</td><td style=\"padding: 6px;\">${gmailStats.avg_priority || '-'}</td></tr>`;\nhtml += `</table>`;\n\n// Workflow Performance\nif (workflowLogs.length > 0) {\n  html += `<h2 style=\"color: #1a73e8;\">Workflow Performance (24h)</h2>`;\n  html += `<table style=\"border-collapse: collapse; width: 100%;\">`;\n  html += `<tr style=\"background: #f0f0f0;\"><th style=\"padding: 6px; text-align: left;\">Workflow</th><th style=\"padding: 6px;\">Runs</th><th style=\"padding: 6px;\">Status</th><th style=\"padding: 6px;\">Avg Duration</th></tr>`;\n  for (const w of workflowLogs) {\n    const dur = w.avg_duration_sec ? Math.round(w.avg_duration_sec * 10) / 10 + 's' : '-';\n    const statusColor = w.status === 'success' ? '#34a853' : '#d93025';\n    html += `<tr><td style=\"padding: 6px; border-bottom: 1px solid #eee;\">${w.workflow_name}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; text-align: center;\">${w.run_count}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; text-align: center; color: ${statusColor};\">${w.status}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; text-align: center;\">${dur}</td></tr>`;\n  }\n  html += `</table>`;\n}\n\n// Errors\nif (errorSummary.length > 0) {\n  html += `<h2 style=\"color: #d93025;\">Errors (24h)</h2>`;\n  html += `<table style=\"border-collapse: collapse; width: 100%;\">`;\n  html += `<tr style=\"background: #fce8e6;\"><th style=\"padding: 6px; text-align: left;\">Workflow</th><th style=\"padding: 6px;\">Count</th><th style=\"padding: 6px; text-align: left;\">Sample Error</th></tr>`;\n  for (const e of errorSummary) {\n    html += `<tr><td style=\"padding: 6px; border-bottom: 1px solid #eee;\">${e.workflow_name}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; text-align: center;\">${e.error_count}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; font-size: 11px;\">${(e.sample_error || '').substring(0, 100)}</td></tr>`;\n  }\n  html += `</table>`;\n} else {\n  html += `<h2 style=\"color: #34a853;\">Errors: None in 24h</h2>`;\n}\n\n// Model Usage & Cost\ntry {\n  const modelStats = $('Fetch Model Stats').first().json;\n  if (modelStats && modelStats.interactions && modelStats.interactions.total_interactions > 0) {\n    const inter = modelStats.interactions;\n    html += `<h2 style=\"color: #1a73e8;\">Model Usage (24h)</h2>`;\n    html += `<table style=\"border-collapse: collapse; width: 100%;\">`;\n    html += `<tr style=\"background: #f0f0f0;\"><th style=\"padding: 6px; text-align: left;\">Model</th><th style=\"padding: 6px;\">Requests</th><th style=\"padding: 6px;\">%</th></tr>`;\n    const dist = inter.model_distribution || {};\n    const total = inter.total_interactions;\n    for (const [model, count] of Object.entries(dist).sort((a,b) => b[1] - a[1])) {\n      const pct = Math.round(count / total * 100);\n      html += `<tr><td style=\"padding: 6px; border-bottom: 1px solid #eee;\">${model}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; text-align: center;\">${count}</td><td style=\"padding: 6px; border-bottom: 1px solid #eee; text-align: center;\">${pct}%</td></tr>`;\n    }\n    html += `<tr style=\"font-weight: bold;\"><td style=\"padding: 6px;\">Total</td><td style=\"padding: 6px; text-align: center;\">${total}</td><td style=\"padding: 6px; text-align: center;\">—</td></tr>`;\n    html += `</table>`;\n    if (inter.error_count > 0) {\n      html += `<p style=\"color: #d93025;\">Error rate: ${inter.error_rate_pct}% (${inter.error_count} errors)</p>`;\n    }\n  }\n  if (modelStats && modelStats.spend) {\n    const spend = modelStats.spend;\n    html += `<p><strong>API Spend:</strong> Today: $${(spend.today || 0).toFixed(2)} | Week: $${(spend.last_7_days || 0).toFixed(2)} | Month: $${(spend.last_30_days || 0).toFixed(2)}</p>`;\n  }\n} catch(e) { /* model stats not available */ }\n\n// Agent Activity Highlights\nhtml += `<h2 style=\"color: #1a73e8;\">Agent Activity Log (last 50 lines)</h2>`;\nhtml += `<pre style=\"background: #f5f5f5; padding: 12px; border-radius: 4px; font-size: 11px; overflow-x: auto; max-height: 400px;\">`;\nfor (const line of activityLines) {\n  html += line.replace(/</g, '&lt;').replace(/>/g, '&gt;') + '\\n';\n}\nhtml += `</pre>`;\n\nhtml += `<hr><p style=\"color: #999; font-size: 11px;\">Daily Super Agent Report - Automated by n8n</p></div>`;\n\nreturn [{ json: { report_html: html, report_date: today } }];"
      },
      "id": "build-report",
      "name": "Build Report HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "=Daily Super Agent Report - {{ $now.format('yyyy-MM-dd') }}",
        "message": "={{ $json.report_html }}",
        "options": {
          "appendAttributionToBody": false
        }
      },
      "id": "send-report",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [980, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "RECONNECT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_runs (workflow_name, trigger_type, status, started_at, finished_at, payload_summary) VALUES ('Daily-SuperAgent-Report', 'cron', 'success', NOW(), NOW(), $1)",
        "options": { "queryParameters": "=Report sent for {{ $json.report_date }}" }
      },
      "id": "log-report",
      "name": "Log Report Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 400],
      "credentials": {
        "postgres": {
          "id": "RECONNECT",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 07:00 Trigger": {
      "main": [[
        { "node": "Fetch Agent Activity", "type": "main", "index": 0 },
        { "node": "Fetch Workflow Logs", "type": "main", "index": 0 },
        { "node": "Fetch Error Summary", "type": "main", "index": 0 },
        { "node": "Fetch Gmail Stats", "type": "main", "index": 0 },
        { "node": "Fetch Model Stats", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Agent Activity": {
      "main": [[{ "node": "Build Report HTML", "type": "main", "index": 0 }]]
    },
    "Fetch Workflow Logs": {
      "main": [[{ "node": "Build Report HTML", "type": "main", "index": 0 }]]
    },
    "Fetch Error Summary": {
      "main": [[{ "node": "Build Report HTML", "type": "main", "index": 0 }]]
    },
    "Fetch Gmail Stats": {
      "main": [[{ "node": "Build Report HTML", "type": "main", "index": 0 }]]
    },
    "Fetch Model Stats": {
      "main": [[{ "node": "Build Report HTML", "type": "main", "index": 0 }]]
    },
    "Build Report HTML": {
      "main": [[{ "node": "Send Report Email", "type": "main", "index": 0 }]]
    },
    "Send Report Email": {
      "main": [[{ "node": "Log Report Run", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Daily Super Agent Report: runs at 07:00, fetches agent activity from Super Agent API, workflow execution logs, error summary, and Gmail processing stats from PostgreSQL, compiles HTML report, and emails to admin."
  },
  "tags": []
}
