n8n/finance_operations_controller.json
{
  "name": "Finance Operations Controller",
  "nodes": [
    {
      "parameters": { "updates": ["messages"], "options": {} },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "webhookId": "9b1af47e-04b8-49d7-b394-53453087ac81",
      "credentials": { "whatsAppTriggerApi": { "id": "qWl5Z2MKku7htFew", "name": "WhatsApp OAuth account" } }
    },
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 450],
      "webhookId": "finance-telegram-webhook-001",
      "credentials": { "telegramApi": { "id": "vaWr2cxS1Q9HsYd4", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "simple": false,
        "filters": {
          "q": "subject:(invoice OR receipt OR tax OR VAT OR HMRC OR statement OR remittance OR PAYE OR P60 OR P45) OR has:attachment",
          "readStatus": "unread"
        },
        "options": { "dataPropertyAttachmentsPrefixName": "attachment_", "downloadAttachments": true }
      },
      "id": "gmail-trigger",
      "name": "Gmail Finance Monitor",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [200, 700],
      "credentials": { "gmailOAuth2": { "id": "DL39Lr8wENjvFtij", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": {},
        "options": { "downloadAttachments": true, "attachmentsBinaryProperty": "attachment_" }
      },
      "id": "outlook-trigger",
      "name": "Outlook / Hotmail Monitor",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [200, 950],
      "credentials": { "microsoftOutlookOAuth2Api": { "id": "9paQ8IJLgiLbjEYI", "name": "Microsoft Outlook account" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nconst msgType = body.type || 'text';\nconst hasDoc = ['document','image','audio','video'].includes(msgType);\nreturn [{ json: {\n  source_channel: 'whatsapp',\n  sender_id: body.from || 'unknown',\n  sender_email: null,\n  has_document: hasDoc,\n  text: body.text?.body || body.caption || '',\n  subject: 'WhatsApp message',\n  filename: body.document?.filename || body.image?.filename || null,\n  media_id: body.document?.id || body.image?.id || null,\n  attachment_key: hasDoc ? 'attachment_0' : null,\n  raw: d\n}, binary: $input.first().binary || {} }];"
      },
      "id": "normalize-whatsapp",
      "name": "Normalize WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst msg = d.message || d;\nconst hasDoc = !!(msg.document || msg.photo);\nreturn [{ json: {\n  source_channel: 'telegram',\n  sender_id: String(msg.from?.id || msg.chat?.id || 'unknown'),\n  sender_email: null,\n  has_document: hasDoc,\n  text: msg.text || msg.caption || '',\n  subject: 'Telegram from ' + (msg.from?.username || msg.from?.first_name || 'unknown'),\n  filename: msg.document?.file_name || (msg.photo ? 'photo.jpg' : null),\n  file_id: msg.document?.file_id || (msg.photo && msg.photo[msg.photo.length-1]?.file_id) || null,\n  attachment_key: hasDoc ? 'attachment_0' : null,\n  raw: d\n}, binary: $input.first().binary || {} }];"
      },
      "id": "normalize-telegram",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 450]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst b = $input.first().binary || {};\nconst attachKey = Object.keys(d).find(k => k.startsWith('attachment_')) || Object.keys(b).find(k => k.startsWith('attachment_')) || null;\nconst hasDoc = !!attachKey;\nreturn [{ json: {\n  source_channel: 'gmail',\n  sender_id: d.from || 'unknown',\n  sender_email: d.from || null,\n  has_document: hasDoc,\n  text: d.text || d.snippet || '',\n  subject: d.subject || '',\n  filename: (attachKey && b[attachKey]) ? b[attachKey].fileName : null,\n  attachment_key: attachKey,\n  raw: d\n}, binary: b }];"
      },
      "id": "normalize-gmail",
      "name": "Normalize Gmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 700]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst b = $input.first().binary || {};\nconst attachKey = Object.keys(b).find(k => k.startsWith('attachment_')) || null;\nconst hasDoc = d.hasAttachments === true || !!attachKey;\nconst senderEmail = d.from?.emailAddress?.address || d.sender?.emailAddress?.address || String(d.from || 'unknown');\nreturn [{ json: {\n  source_channel: 'outlook',\n  sender_id: senderEmail,\n  sender_email: senderEmail,\n  has_document: hasDoc,\n  text: d.bodyPreview || '',\n  subject: d.subject || '',\n  filename: (attachKey && b[attachKey]) ? b[attachKey].fileName : null,\n  attachment_key: attachKey,\n  raw: d\n}, binary: b }];"
      },
      "id": "normalize-outlook",
      "name": "Normalize Outlook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 950]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.has_document }}", "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-document",
      "name": "Has Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [800, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://super-agent-production.up.railway.app/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Token", "value": "={{ $env.SUPER_AGENT_PASSWORD }}" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'You are the Finance Operations Controller for Bridge Digital. You handle invoices, tax letters, VAT, expenses, bookkeeping, and financial reporting for small businesses. Answer the following question clearly and concisely: ' + $json.text, session_id: $json.source_channel + '_qa_' + $json.sender_id }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "finance-qa",
      "name": "Finance Q&A - Super Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json.response || 'No response from finance assistant.';\nconst orig = $('Has Document?').item.json;\nreturn [{ json: { ...orig, ai_response: resp } }];"
      },
      "id": "merge-qa",
      "name": "Merge Q&A Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 320]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "rq1", "leftValue": "={{ $json.source_channel }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "whatsapp" },
            { "conditions": { "options": { "caseSensitive": false, "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "rq2", "leftValue": "={{ $json.source_channel }}", "rightValue": "telegram", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "telegram" }
          ]
        },
        "options": {}
      },
      "id": "route-qa",
      "name": "Route Q&A by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1700, 320]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1028630140342045",
        "recipientPhoneNumber": "={{ $json.sender_id }}",
        "textBody": "={{ $json.ai_response }}",
        "additionalFields": {}
      },
      "id": "send-whatsapp-qa",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [2000, 220],
      "credentials": { "whatsAppApi": { "id": "cO8ewwCrbB15ov3L", "name": "WhatsApp account" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.sender_id }}",
        "text": "={{ $json.ai_response }}",
        "additionalFields": {}
      },
      "id": "send-telegram-qa",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, 420],
      "credentials": { "telegramApi": { "id": "vaWr2cxS1Q9HsYd4", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst filename = (d.filename || '').toLowerCase();\nconst subject = (d.subject || d.text || '').toLowerCase();\nlet doc_type = 'invoice';\nif (subject.includes('tax') || subject.includes('hmrc') || subject.includes('irs') || subject.includes('self assessment') || subject.includes('paye') || subject.includes('p60') || subject.includes('p45') || subject.includes('corporation tax') || filename.includes('tax') || filename.includes('hmrc')) {\n  doc_type = 'tax_letter';\n} else if (filename.endsWith('.csv') || filename.endsWith('.xlsx') || filename.endsWith('.xls') || filename.endsWith('.ods') || subject.includes('bank statement') || subject.includes('reconciliation') || subject.includes('statement of account')) {\n  doc_type = 'table';\n} else if (subject.includes('invoice') || subject.includes('receipt') || subject.includes('remittance') || filename.includes('invoice') || filename.includes('receipt')) {\n  doc_type = 'invoice';\n}\nconst useOcr = !filename || filename.endsWith('.pdf') || filename.endsWith('.jpg') || filename.endsWith('.jpeg') || filename.endsWith('.png') || filename.endsWith('.tiff') || filename.endsWith('.tif') || doc_type !== 'table';\nreturn [{ json: { ...d, doc_type, use_ocr: useOcr } }];"
      },
      "id": "detect-doc-type",
      "name": "Detect Document Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 840]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            { "conditions": { "options": { "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "rd1", "leftValue": "={{ $json.use_ocr }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] }, "renameOutput": true, "outputKey": "ocr" },
            { "conditions": { "options": { "caseSensitive": false, "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "rd2", "leftValue": "={{ $json.doc_type }}", "rightValue": "table", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "table" }
          ]
        },
        "fallbackOutput": 2,
        "options": {}
      },
      "id": "route-doc-type",
      "name": "Route by Doc Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1400, 840]
    },
    {
      "parameters": {
        "resource": "invoice",
        "binaryPropertyName": "={{ $json.attachment_key || 'attachment_0' }}"
      },
      "id": "mindee-ocr",
      "name": "Mindee OCR",
      "type": "n8n-nodes-base.mindee",
      "typeVersion": 3,
      "position": [1700, 700],
      "credentials": { "mindeeInvoiceApi": { "id": "ShycnKUWIqZZrzsd", "name": "Mindee Invoice account" } }
    },
    {
      "parameters": {
        "jsCode": "const mindee = $input.first().json;\nlet orig = {};\ntry { orig = $('Detect Document Type').item.json; } catch(e) {}\nreturn [{ json: {\n  vendor: mindee.supplier_name || mindee.vendor || 'Unknown',\n  document_type: orig.doc_type || 'invoice',\n  reference_number: mindee.invoice_number || mindee.reference || 'N/A',\n  date: mindee.date || new Date().toISOString().split('T')[0],\n  due_date: mindee.due_date || null,\n  amount: parseFloat(mindee.total_amount || mindee.amount || 0),\n  tax_amount: parseFloat(mindee.total_tax || mindee.tax_amount || 0),\n  currency: mindee.locale?.currency || 'GBP',\n  description: 'Document from ' + (orig.sender_email || orig.sender_id || 'unknown'),\n  key_details: JSON.stringify(mindee),\n  line_items: mindee.line_items || [],\n  source_channel: orig.source_channel || 'unknown',\n  sender_id: orig.sender_id || 'unknown',\n  sender_email: orig.sender_email || null,\n  doc_type: orig.doc_type || 'invoice',\n  subject: orig.subject || '',\n  mindee_raw: mindee\n} }];"
      },
      "id": "normalize-mindee",
      "name": "Normalize Mindee Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://super-agent-production.up.railway.app/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Token", "value": "={{ $env.SUPER_AGENT_PASSWORD }}" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'You are a financial document extraction specialist for Bridge Digital. Extract ALL financial data from this document. Document type: ' + $json.doc_type + '. Subject/context: ' + ($json.subject || $json.text || 'None provided') + '. Extract and return ONLY a valid JSON object (no markdown, no explanation) with these fields: { vendor: string, document_type: string, reference_number: string, date: string (YYYY-MM-DD), due_date: string or null, amount: number, tax_amount: number, currency: string, description: string, key_details: string, line_items: array, source_channel: \"' + $json.source_channel + '\", sender_id: \"' + $json.sender_id + '\", sender_email: ' + JSON.stringify($json.sender_email) + ', doc_type: \"' + $json.doc_type + '\" }', session_id: 'ai_extract_' + Date.now() }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "ai-extract",
      "name": "AI Document Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 980]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json.response || '{}';\nlet orig = {};\ntry { orig = $('Detect Document Type').item.json; } catch(e) {}\nlet parsed;\ntry {\n  const match = resp.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : resp);\n} catch(e) {\n  parsed = { vendor: 'Unknown', document_type: orig.doc_type || 'unknown', amount: 0, description: resp.substring(0,300) };\n}\nreturn [{ json: {\n  vendor: parsed.vendor || 'Unknown',\n  document_type: parsed.document_type || orig.doc_type || 'invoice',\n  reference_number: parsed.reference_number || 'N/A',\n  date: parsed.date || new Date().toISOString().split('T')[0],\n  due_date: parsed.due_date || null,\n  amount: parseFloat(parsed.amount || 0),\n  tax_amount: parseFloat(parsed.tax_amount || 0),\n  currency: parsed.currency || 'GBP',\n  description: parsed.description || '',\n  key_details: parsed.key_details || JSON.stringify(parsed),\n  line_items: parsed.line_items || [],\n  source_channel: orig.source_channel || parsed.source_channel || 'unknown',\n  sender_id: orig.sender_id || parsed.sender_id || 'unknown',\n  sender_email: orig.sender_email || parsed.sender_email || null,\n  doc_type: orig.doc_type || parsed.doc_type || 'invoice',\n  subject: orig.subject || ''\n} }];"
      },
      "id": "parse-ai-extract",
      "name": "Parse AI Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 980]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst content = d.text || d.subject || 'Table document received';\nreturn [{ json: {\n  vendor: d.sender_email || d.sender_id || 'Unknown',\n  document_type: 'financial_table',\n  reference_number: 'TBL-' + Date.now(),\n  date: new Date().toISOString().split('T')[0],\n  due_date: null,\n  amount: 0,\n  tax_amount: 0,\n  currency: 'GBP',\n  description: content.substring(0, 500),\n  key_details: content,\n  line_items: [],\n  source_channel: d.source_channel,\n  sender_id: d.sender_id,\n  sender_email: d.sender_email,\n  doc_type: 'table',\n  subject: d.subject || '',\n  needs_manual_review: true\n} }];"
      },
      "id": "parse-table",
      "name": "Parse Table / CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://super-agent-production.up.railway.app/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Token", "value": "={{ $env.SUPER_AGENT_PASSWORD }}" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'You are a finance data validation specialist for Bridge Digital. Validate and enrich the following extracted financial document data. Fix OCR errors, normalise dates to YYYY-MM-DD, normalise amounts to 2 decimal places, fill missing fields where possible. Return ONLY a valid JSON object (no markdown): { vendor: string, invoice_number: string, date: string, due_date: string|null, amount: number, tax_amount: number, currency: string, line_items: array, payment_terms: string, po_number: string, document_type: string, description: string, extraction_confidence: number (0-100) }. Input data: ' + JSON.stringify($json), session_id: 'enhanced_' + Date.now() }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "enhanced-extraction",
      "name": "Enhanced Extraction - Super Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2350, 950]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json.response || '{}';\nlet origData = {};\ntry { origData = $('Normalize Mindee Output').item.json; } catch(e) {}\nif (!origData.source_channel) { try { origData = $('Parse AI Extract').item.json; } catch(e) {} }\nif (!origData.source_channel) { try { origData = $('Parse Table / CSV').item.json; } catch(e) {} }\nlet parsed;\ntry {\n  const match = resp.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : resp);\n} catch(e) { parsed = {}; }\nreturn [{ json: {\n  ...origData,\n  ...parsed,\n  source_channel: origData.source_channel || 'unknown',\n  sender_id: origData.sender_id || 'unknown',\n  sender_email: origData.sender_email || null,\n  doc_type: origData.doc_type || parsed.document_type || 'invoice',\n  amount: parseFloat(parsed.amount || origData.amount || 0),\n  tax_amount: parseFloat(parsed.tax_amount || origData.tax_amount || 0),\n  currency: parsed.currency || origData.currency || 'GBP',\n  date: parsed.date || origData.date || new Date().toISOString().split('T')[0]\n} }];"
      },
      "id": "parse-enhanced",
      "name": "Parse Enhanced Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 950]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://super-agent-production.up.railway.app/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Token", "value": "={{ $env.SUPER_AGENT_PASSWORD }}" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'You are a senior finance analyst for Bridge Digital. Categorise and analyse this financial document. 1) CATEGORY: assign primary (Office Supplies, Travel, Marketing, Software/SaaS, Professional Services, Utilities, Rent, Payroll, Tax/HMRC, Insurance, Equipment, Training, Subscriptions, Other) and subcategory. 2) ANOMALY CHECK: flag duplicates, unusual amounts, suspicious vendors, missing required fields, tax calculation errors, weekend/holiday billing. 3) PRIORITY: low/medium/high/urgent. Return ONLY valid JSON (no markdown): { category: string, subcategory: string, vendor: string, amount: number, date: string, description: string, anomaly_flag: boolean, anomaly_severity: \"none\"|\"low\"|\"medium\"|\"high\"|\"critical\", anomaly_reason: string, anomaly_recommendations: array, confidence_score: number, budget_line: string, priority: string, action_required: string }. Document data: ' + JSON.stringify($json), session_id: 'categorize' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "categorization",
      "name": "Expense Categorization - Super Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2950, 950]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json.response || '{}';\nlet origData = {};\ntry { origData = $('Parse Enhanced Extraction').item.json; } catch(e) {}\nlet parsed;\ntry {\n  const match = resp.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : resp);\n} catch(e) {\n  parsed = { category: 'Uncategorized', anomaly_flag: true, anomaly_severity: 'high', anomaly_reason: 'Parse failure — manual review needed', anomaly_recommendations: ['Manual review required'], confidence_score: 0, priority: 'high', action_required: 'Manual review' };\n}\nreturn [{ json: {\n  ...origData,\n  ...parsed,\n  anomaly_recommendations: Array.isArray(parsed.anomaly_recommendations) ? parsed.anomaly_recommendations.join('; ') : (parsed.anomaly_recommendations || ''),\n  processed_date: new Date().toISOString()\n} }];"
      },
      "id": "parse-categorization",
      "name": "Parse Categorization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 950]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [{ "id": "c2", "leftValue": "={{ $json.anomaly_flag }}", "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-anomalies",
      "name": "Anomaly Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3550, 950]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO expenses (category, subcategory, vendor, amount, date, description, anomaly_flag, anomaly_severity, anomaly_reason, anomaly_recommendations, confidence_score, budget_line, source_channel, sender_id, doc_type, priority, action_required, processed_date) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16,$17,$18)",
        "options": {
          "queryReplacement": "={{ [$json.category||'Uncategorized', $json.subcategory||'', $json.vendor||'Unknown', $json.amount||0, $json.date||new Date().toISOString().split('T')[0], $json.description||'', $json.anomaly_flag||false, $json.anomaly_severity||'none', $json.anomaly_reason||'', $json.anomaly_recommendations||'', $json.confidence_score||0, $json.budget_line||'', $json.source_channel||'unknown', $json.sender_id||'unknown', $json.doc_type||'invoice', $json.priority||'low', $json.action_required||'', $json.processed_date||new Date().toISOString()] }}"
        }
      },
      "id": "store-expense",
      "name": "Store in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3850, 780],
      "credentials": { "postgres": { "id": "Ae3yvuqjgMnVRrCo", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "sendTo": "bridge.digital.solution@gmail.com",
        "subject": "={{ '⚠️ Finance Alert [' + ($json.anomaly_severity || 'UNKNOWN').toUpperCase() + ']: ' + $json.vendor + ' — £' + $json.amount }}",
        "emailType": "html",
        "message": "=<h2 style='color:#c0392b'>Finance Anomaly Detected</h2><table border='1' cellpadding='8' cellspacing='0' style='border-collapse:collapse;font-family:Arial'><tr><td><b>Source Channel</b></td><td>{{ $json.source_channel }} ({{ $json.sender_id }})</td></tr><tr><td><b>Document Type</b></td><td>{{ $json.doc_type }}</td></tr><tr><td><b>Vendor</b></td><td>{{ $json.vendor }}</td></tr><tr><td><b>Amount</b></td><td>{{ $json.currency }} {{ $json.amount }}</td></tr><tr><td><b>Category</b></td><td>{{ $json.category }} / {{ $json.subcategory }}</td></tr><tr><td><b>Date</b></td><td>{{ $json.date }}</td></tr><tr><td><b>Severity</b></td><td style='color:#c0392b'><b>{{ $json.anomaly_severity }}</b></td></tr><tr><td><b>Reason</b></td><td>{{ $json.anomaly_reason }}</td></tr><tr><td><b>Recommendations</b></td><td>{{ $json.anomaly_recommendations }}</td></tr><tr><td><b>Priority</b></td><td>{{ $json.priority }}</td></tr><tr><td><b>Action Required</b></td><td>{{ $json.action_required }}</td></tr><tr><td><b>Confidence Score</b></td><td>{{ $json.confidence_score }}%</td></tr></table>",
        "options": {}
      },
      "id": "alert-gmail",
      "name": "Alert via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [3850, 950],
      "credentials": { "gmailOAuth2": { "id": "DL39Lr8wENjvFtij", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=⚠️ Finance Alert [{{ ($json.anomaly_severity || 'UNKNOWN').toUpperCase() }}]\n\nSource: {{ $json.source_channel }}\nVendor: {{ $json.vendor }}\nAmount: {{ $json.currency }} {{ $json.amount }}\nType: {{ $json.doc_type }}\nReason: {{ $json.anomaly_reason }}\nPriority: {{ $json.priority }}\nAction: {{ $json.action_required }}",
        "additionalFields": {}
      },
      "id": "alert-telegram",
      "name": "Alert via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3850, 1120],
      "credentials": { "telegramApi": { "id": "vaWr2cxS1Q9HsYd4", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst icon = d.anomaly_flag ? '⚠️' : '✅';\nconst status = d.anomaly_flag ? 'Flagged for review: ' + d.anomaly_reason : 'No anomalies — processed successfully';\nconst text = icon + ' *Document Processed*\\n\\n*Vendor:* ' + (d.vendor||'Unknown') + '\\n*Amount:* ' + (d.currency||'GBP') + ' ' + (d.amount||0) + '\\n*Type:* ' + (d.doc_type||'document') + '\\n*Category:* ' + (d.category||'Uncategorized') + '\\n*Date:* ' + (d.date||'N/A') + '\\n\\n' + status;\nreturn [{ json: { ...d, confirmation_text: text } }];"
      },
      "id": "build-confirmation",
      "name": "Build Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3850, 1300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "rc1", "leftValue": "={{ $json.source_channel }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "whatsapp" },
            { "conditions": { "options": { "caseSensitive": false, "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "rc2", "leftValue": "={{ $json.source_channel }}", "rightValue": "telegram", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "telegram" }
          ]
        },
        "options": {}
      },
      "id": "route-confirmation",
      "name": "Route Confirmation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [4150, 1300]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1028630140342045",
        "recipientPhoneNumber": "={{ $json.sender_id }}",
        "textBody": "={{ $json.confirmation_text }}",
        "additionalFields": {}
      },
      "id": "whatsapp-confirm",
      "name": "WhatsApp Confirmation",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [4450, 1200],
      "credentials": { "whatsAppApi": { "id": "cO8ewwCrbB15ov3L", "name": "WhatsApp account" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.sender_id }}",
        "text": "={{ $json.confirmation_text }}",
        "additionalFields": {}
      },
      "id": "telegram-confirm",
      "name": "Telegram Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4450, 1400],
      "credentials": { "telegramApi": { "id": "vaWr2cxS1Q9HsYd4", "name": "Telegram account" } }
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "weeks", "triggerAtDay": [1], "triggerAtHour": 9 }] } },
      "id": "weekly-schedule",
      "name": "Weekly Summary Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [200, 1650]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT category, subcategory, vendor, amount, date, doc_type, source_channel, anomaly_flag, anomaly_severity, priority, processed_date FROM expenses WHERE processed_date >= NOW() - INTERVAL '7 days' ORDER BY processed_date DESC",
        "options": {}
      },
      "id": "fetch-weekly",
      "name": "Fetch Weekly Expenses",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 1650],
      "credentials": { "postgres": { "id": "Ae3yvuqjgMnVRrCo", "name": "Postgres account" } }
    },
    {
      "parameters": { "aggregate": "aggregateAllItemData", "options": {} },
      "id": "aggregate-weekly",
      "name": "Aggregate Weekly Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [800, 1650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://super-agent-production.up.railway.app/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Token", "value": "={{ $env.SUPER_AGENT_PASSWORD }}" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'You are Finance Operations Controller for Bridge Digital. Generate the weekly finance report. Include: total spend, spend by category (HTML table), breakdown by intake channel (Gmail/Outlook/WhatsApp/Telegram), anomalies flagged this week, top 5 vendors, and 3 actionable recommendations. Provide TWO formats in your response: [EMAIL_FORMAT]full HTML report with tables[/EMAIL_FORMAT] and [MSG_FORMAT]concise plain text with emoji (max 800 chars)[/MSG_FORMAT]. Data: ' + JSON.stringify($json), session_id: 'weekly_summary' }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "weekly-ai",
      "name": "Weekly Summary - Super Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 1650]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json.response || '';\nconst emailMatch = resp.match(/\\[EMAIL_FORMAT\\]([\\s\\S]*?)\\[\\/EMAIL_FORMAT\\]/);\nconst msgMatch = resp.match(/\\[MSG_FORMAT\\]([\\s\\S]*?)\\[\\/MSG_FORMAT\\]/);\nconst emailContent = emailMatch ? emailMatch[1].trim() : resp;\nconst msgContent = msgMatch ? msgMatch[1].trim() : resp.substring(0, 800);\nreturn [{ json: { email_content: emailContent, msg_content: msgContent } }];"
      },
      "id": "split-weekly",
      "name": "Split Weekly Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 1650]
    },
    {
      "parameters": {
        "sendTo": "bridge.digital.solution@gmail.com",
        "subject": "={{ '📊 Weekly Finance Report — ' + $now.format('DD MMM YYYY') }}",
        "emailType": "html",
        "message": "={{ $json.email_content }}",
        "options": {}
      },
      "id": "email-weekly",
      "name": "Email Weekly Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1700, 1550],
      "credentials": { "gmailOAuth2": { "id": "DL39Lr8wENjvFtij", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1028630140342045",
        "recipientPhoneNumber": "+447345787028",
        "textBody": "={{ '📊 *Weekly Finance Report*\\n\\n' + $json.msg_content }}",
        "additionalFields": {}
      },
      "id": "whatsapp-weekly",
      "name": "WhatsApp Weekly Summary",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1700, 1700],
      "credentials": { "whatsAppApi": { "id": "cO8ewwCrbB15ov3L", "name": "WhatsApp account" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ '📊 Weekly Finance Report\\n\\n' + $json.msg_content }}",
        "additionalFields": {}
      },
      "id": "telegram-weekly",
      "name": "Telegram Weekly Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1700, 1850],
      "credentials": { "telegramApi": { "id": "vaWr2cxS1Q9HsYd4", "name": "Telegram account" } }
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "months", "triggerAtDay": 28, "triggerAtHour": 17, "triggerAtMinute": 0 }] } },
      "id": "monthly-schedule",
      "name": "Monthly Pack Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 2150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM expenses WHERE processed_date >= NOW() - INTERVAL '30 days' ORDER BY processed_date DESC",
        "options": {}
      },
      "id": "fetch-monthly",
      "name": "Fetch Monthly Expenses",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 2150],
      "credentials": { "postgres": { "id": "Ae3yvuqjgMnVRrCo", "name": "Postgres account" } }
    },
    {
      "parameters": { "aggregate": "aggregateAllItemData", "options": {} },
      "id": "aggregate-monthly",
      "name": "Aggregate Monthly Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [800, 2150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://super-agent-production.up.railway.app/chat",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "X-Token", "value": "={{ $env.SUPER_AGENT_PASSWORD }}" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'You are Finance Operations Controller for Bridge Digital. Generate the month-end financial pack for accountant review. Include HTML-formatted sections: (1) Executive Summary, (2) Total Expenses by Category table, (3) P&L Overview, (4) VAT/Tax Summary, (5) Channel Intake Breakdown (Gmail/Outlook/WhatsApp/Telegram), (6) Anomalies Log, (7) Top Vendors, (8) Outstanding Items, (9) Month-over-Month Comparison, (10) Recommendations. Format professionally. Data: ' + JSON.stringify($json), session_id: 'monthly_pack' }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "monthly-ai",
      "name": "Month-End Pack - Super Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 2150]
    },
    {
      "parameters": {
        "sendTo": "bridge.digital.solution@gmail.com",
        "subject": "={{ '📋 Month-End Financial Pack — ' + $now.format('MMMM YYYY') }}",
        "emailType": "html",
        "message": "={{ $json.response }}",
        "options": {}
      },
      "id": "email-monthly",
      "name": "Email Month-End Pack",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1400, 2050],
      "credentials": { "gmailOAuth2": { "id": "DL39Lr8wENjvFtij", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "={{ '📋 Month-End Financial Pack Ready\\n\\nThe ' + $now.format('MMMM YYYY') + ' pack has been sent to bridge.digital.solution@gmail.com\\n\\nCheck your email for the full report.' }}",
        "additionalFields": {}
      },
      "id": "telegram-monthly",
      "name": "Telegram Monthly Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1400, 2250],
      "credentials": { "telegramApi": { "id": "vaWr2cxS1Q9HsYd4", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS expenses (\n  id SERIAL PRIMARY KEY,\n  category VARCHAR(100),\n  subcategory VARCHAR(100),\n  vendor VARCHAR(255),\n  amount DECIMAL(12,2),\n  date VARCHAR(50),\n  description TEXT,\n  anomaly_flag BOOLEAN DEFAULT false,\n  anomaly_severity VARCHAR(20) DEFAULT 'none',\n  anomaly_reason TEXT,\n  anomaly_recommendations TEXT,\n  confidence_score INTEGER,\n  budget_line VARCHAR(100),\n  source_channel VARCHAR(50),\n  sender_id VARCHAR(255),\n  doc_type VARCHAR(50) DEFAULT 'invoice',\n  priority VARCHAR(20) DEFAULT 'low',\n  action_required TEXT,\n  tax_verified BOOLEAN DEFAULT false,\n  line_items_verified BOOLEAN DEFAULT false,\n  processed_date TIMESTAMPTZ DEFAULT NOW()\n)",
        "options": {}
      },
      "id": "init-table",
      "name": "Init Expenses Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [200, 2600],
      "credentials": { "postgres": { "id": "Ae3yvuqjgMnVRrCo", "name": "Postgres account" } },
      "notes": "Run once manually to create the expenses table, then disable."
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger":            { "main": [[{ "node": "Normalize WhatsApp",          "type": "main", "index": 0 }]] },
    "Telegram Trigger":            { "main": [[{ "node": "Normalize Telegram",          "type": "main", "index": 0 }]] },
    "Gmail Finance Monitor":       { "main": [[{ "node": "Normalize Gmail",             "type": "main", "index": 0 }]] },
    "Outlook / Hotmail Monitor":   { "main": [[{ "node": "Normalize Outlook",           "type": "main", "index": 0 }]] },
    "Normalize WhatsApp":          { "main": [[{ "node": "Has Document?",               "type": "main", "index": 0 }]] },
    "Normalize Telegram":          { "main": [[{ "node": "Has Document?",               "type": "main", "index": 0 }]] },
    "Normalize Gmail":             { "main": [[{ "node": "Has Document?",               "type": "main", "index": 0 }]] },
    "Normalize Outlook":           { "main": [[{ "node": "Has Document?",               "type": "main", "index": 0 }]] },
    "Has Document?": {
      "main": [
        [{ "node": "Detect Document Type",        "type": "main", "index": 0 }],
        [{ "node": "Finance Q&A - Super Agent",   "type": "main", "index": 0 }]
      ]
    },
    "Finance Q&A - Super Agent":   { "main": [[{ "node": "Merge Q&A Response",          "type": "main", "index": 0 }]] },
    "Merge Q&A Response":          { "main": [[{ "node": "Route Q&A by Channel",        "type": "main", "index": 0 }]] },
    "Route Q&A by Channel": {
      "main": [
        [{ "node": "Send WhatsApp Reply",         "type": "main", "index": 0 }],
        [{ "node": "Send Telegram Reply",         "type": "main", "index": 0 }]
      ]
    },
    "Detect Document Type":        { "main": [[{ "node": "Route by Doc Type",           "type": "main", "index": 0 }]] },
    "Route by Doc Type": {
      "main": [
        [{ "node": "Mindee OCR",                  "type": "main", "index": 0 }],
        [{ "node": "Parse Table / CSV",           "type": "main", "index": 0 }],
        [{ "node": "AI Document Extract",         "type": "main", "index": 0 }]
      ]
    },
    "Mindee OCR":                  { "main": [[{ "node": "Normalize Mindee Output",     "type": "main", "index": 0 }]] },
    "Normalize Mindee Output":     { "main": [[{ "node": "Enhanced Extraction - Super Agent", "type": "main", "index": 0 }]] },
    "AI Document Extract":         { "main": [[{ "node": "Parse AI Extract",            "type": "main", "index": 0 }]] },
    "Parse AI Extract":            { "main": [[{ "node": "Enhanced Extraction - Super Agent", "type": "main", "index": 0 }]] },
    "Parse Table / CSV":           { "main": [[{ "node": "Enhanced Extraction - Super Agent", "type": "main", "index": 0 }]] },
    "Enhanced Extraction - Super Agent": { "main": [[{ "node": "Parse Enhanced Extraction", "type": "main", "index": 0 }]] },
    "Parse Enhanced Extraction":   { "main": [[{ "node": "Expense Categorization - Super Agent", "type": "main", "index": 0 }]] },
    "Expense Categorization - Super Agent": { "main": [[{ "node": "Parse Categorization", "type": "main", "index": 0 }]] },
    "Parse Categorization":        { "main": [[{ "node": "Anomaly Detected?",           "type": "main", "index": 0 }]] },
    "Anomaly Detected?": {
      "main": [
        [
          { "node": "Store in Database",          "type": "main", "index": 0 },
          { "node": "Alert via Gmail",            "type": "main", "index": 0 },
          { "node": "Alert via Telegram",         "type": "main", "index": 0 },
          { "node": "Build Confirmation",         "type": "main", "index": 0 }
        ],
        [
          { "node": "Store in Database",          "type": "main", "index": 0 },
          { "node": "Build Confirmation",         "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Confirmation":          { "main": [[{ "node": "Route Confirmation",          "type": "main", "index": 0 }]] },
    "Route Confirmation": {
      "main": [
        [{ "node": "WhatsApp Confirmation",       "type": "main", "index": 0 }],
        [{ "node": "Telegram Confirmation",       "type": "main", "index": 0 }]
      ]
    },
    "Weekly Summary Schedule":     { "main": [[{ "node": "Fetch Weekly Expenses",       "type": "main", "index": 0 }]] },
    "Fetch Weekly Expenses":       { "main": [[{ "node": "Aggregate Weekly Data",       "type": "main", "index": 0 }]] },
    "Aggregate Weekly Data":       { "main": [[{ "node": "Weekly Summary - Super Agent", "type": "main", "index": 0 }]] },
    "Weekly Summary - Super Agent": { "main": [[{ "node": "Split Weekly Response",     "type": "main", "index": 0 }]] },
    "Split Weekly Response": {
      "main": [[
        { "node": "Email Weekly Summary",         "type": "main", "index": 0 },
        { "node": "WhatsApp Weekly Summary",      "type": "main", "index": 0 },
        { "node": "Telegram Weekly Summary",      "type": "main", "index": 0 }
      ]]
    },
    "Monthly Pack Schedule":       { "main": [[{ "node": "Fetch Monthly Expenses",     "type": "main", "index": 0 }]] },
    "Fetch Monthly Expenses":      { "main": [[{ "node": "Aggregate Monthly Data",     "type": "main", "index": 0 }]] },
    "Aggregate Monthly Data":      { "main": [[{ "node": "Month-End Pack - Super Agent", "type": "main", "index": 0 }]] },
    "Month-End Pack - Super Agent": {
      "main": [[
        { "node": "Email Month-End Pack",         "type": "main", "index": 0 },
        { "node": "Telegram Monthly Notification", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
