n8n/gmail_error_handler.json
{
  "name": "Gmail-Error-Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "err-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-1",
              "name": "workflow_name",
              "value": "={{ $json.workflow?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "err-2",
              "name": "node_name",
              "value": "={{ $json.execution?.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "err-3",
              "name": "error_message",
              "value": "={{ $json.execution?.error?.message || JSON.stringify($json.execution?.error) || 'No error message' }}",
              "type": "string"
            },
            {
              "id": "err-4",
              "name": "execution_id",
              "value": "={{ $json.execution?.id || '' }}",
              "type": "string"
            },
            {
              "id": "err-5",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-error",
      "name": "Extract Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO errors (workflow_name, node_name, error_message, execution_id, error_timestamp, raw_data) VALUES ($1, $2, $3, $4, NOW(), $5::jsonb)",
        "options": {
          "queryParameters": "={{ $json.workflow_name }},={{ $json.node_name }},={{ $json.error_message }},={{ $json.execution_id }},={{ JSON.stringify({ workflow: $json.workflow_name, node: $json.node_name, error: $json.error_message }) }}"
        }
      },
      "id": "log-to-db",
      "name": "Log Error to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "RECONNECT",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as error_count FROM errors WHERE workflow_name = $1 AND error_timestamp > NOW() - INTERVAL '1 hour'",
        "options": {
          "queryParameters": "={{ $json.workflow_name }}"
        }
      },
      "id": "check-error-rate",
      "name": "Check Error Rate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "RECONNECT",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ parseInt($json.error_count) || 0 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "should-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "=⚠️ Gmail Admin Alert: {{ $('Extract Error Details').item.json.workflow_name }} failed {{ $json.error_count }}x in 1 hour",
        "message": "=<h2>Gmail Admin Workflow Error Alert</h2><p><strong>Workflow:</strong> {{ $('Extract Error Details').item.json.workflow_name }}</p><p><strong>Node:</strong> {{ $('Extract Error Details').item.json.node_name }}</p><p><strong>Error:</strong> {{ $('Extract Error Details').item.json.error_message }}</p><p><strong>Execution ID:</strong> {{ $('Extract Error Details').item.json.execution_id }}</p><p><strong>Error count (last hour):</strong> {{ $json.error_count }}</p><p><strong>Time:</strong> {{ $('Extract Error Details').item.json.timestamp }}</p><hr><p><em>This alert was generated by the Gmail-Error-Handler workflow.</em></p>",
        "options": {
          "appendAttributionToBody": false
        }
      },
      "id": "send-alert",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "RECONNECT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "skip-1",
              "name": "alert_sent",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "skip-2",
              "name": "reason",
              "value": "Error rate below threshold",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "skip-alert",
      "name": "Below Threshold",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Extract Error Details", "type": "main", "index": 0 }]]
    },
    "Extract Error Details": {
      "main": [[{ "node": "Log Error to DB", "type": "main", "index": 0 }]]
    },
    "Log Error to DB": {
      "main": [[{ "node": "Check Error Rate", "type": "main", "index": 0 }]]
    },
    "Check Error Rate": {
      "main": [[{ "node": "Should Alert?", "type": "main", "index": 0 }]]
    },
    "Should Alert?": {
      "main": [
        [{ "node": "Send Alert Email", "type": "main", "index": 0 }],
        [{ "node": "Below Threshold", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Centralized error handler for all Gmail Admin workflows. Logs errors to PostgreSQL and sends alert emails when error rate exceeds threshold."
  },
  "tags": []
}
