n8n/recon_os/WF02_scope_guardian.json
{
  "name": "RECON OS — WF-02 Scope Guardian",
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "wf-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, status, testing_window_start, testing_window_end, rate_limit_profile, lab_only\nFROM engagements\nWHERE id = '{{ $json.engagement_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "pg-get-engagement",
      "name": "Get Engagement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "RECON_OS_PG_CRED", "name": "RECON OS PostgreSQL" } }
    },
    {
      "parameters": {
        "jsCode": "const eng = $input.first().json;\nconst trig = $('Execute Workflow Trigger').first().json;\nconst asset = trig.asset_value || '';\nconst moduleType = (trig.module_type || 'passive').toString();\n\nif (!eng || !eng.id) {\n  return [{ json: { allowed: false, reason: 'engagement_not_found', asset_value: asset, module_type: moduleType } }];\n}\nif (eng.status !== 'active') {\n  return [{ json: { allowed: false, reason: 'engagement_not_active', status: eng.status, asset_value: asset, engagement_id: trig.engagement_id, module_type: moduleType } }];\n}\nconst now = new Date();\nconst start = new Date(eng.testing_window_start);\nconst end = new Date(eng.testing_window_end);\nif (now < start || now > end) {\n  return [{ json: { allowed: false, reason: 'outside_testing_window', window_start: eng.testing_window_start, window_end: eng.testing_window_end, asset_value: asset, engagement_id: eng.id, module_type: moduleType } }];\n}\n\nconst offensive = moduleType.startsWith('wifi_evil_twin') || moduleType.startsWith('mitm_') || moduleType === 'decepticon_autonomous';\nif (offensive && !eng.lab_only) {\n  return [{ json: { allowed: false, reason: 'offensive_module_outside_lab', asset_value: asset, engagement_id: eng.id, module_type: moduleType } }];\n}\n\nreturn [{ json: { engagement_ok: true, engagement_id: eng.id, rate_limit_profile: eng.rate_limit_profile, lab_only: !!eng.lab_only, asset_value: asset, module_type: moduleType } }];"
      },
      "id": "check-engagement",
      "name": "Check Engagement Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-eng", "leftValue": "={{ $json.engagement_ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-eng-ok",
      "name": "IF Engagement OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, value, scope_type, in_scope\nFROM scope_rules\nWHERE engagement_id = '{{ $json.engagement_id }}'\nAND in_scope = true;",
        "options": {}
      },
      "id": "pg-get-scope",
      "name": "Get Scope Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": { "postgres": { "id": "RECON_OS_PG_CRED", "name": "RECON OS PostgreSQL" } }
    },
    {
      "parameters": {
        "jsCode": "const rules = $input.all().map(i => i.json);\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst chk = $('Check Engagement Status').first().json;\nconst assetValue = (triggerData.asset_value || '').toLowerCase().trim().replace(/\\.$/,'');\nconst engId = chk.engagement_id;\nconst rateProfile = chk.rate_limit_profile;\nconst moduleType = chk.module_type || 'passive';\nconst labOnly = !!chk.lab_only;\n\nfunction normalizeHost(h) {\n  return (h||'').toLowerCase().trim().replace(/\\.$/,'').replace(/^https?:\\/\\//,'').split('/')[0];\n}\n\nconst isWifiOffensive = moduleType.startsWith('wifi_evil_twin') || moduleType.startsWith('mitm_');\n\nlet matched = null;\nfor (const rule of rules) {\n  const ruleVal = normalizeHost(rule.value);\n  if (isWifiOffensive) {\n    // Offensive WiFi/MitM modules must match a wifi_lab or subnet_lab scope rule exactly\n    if ((rule.scope_type === 'wifi_lab' || rule.scope_type === 'subnet_lab') && assetValue === ruleVal) {\n      matched = rule; break;\n    }\n  } else if (rule.scope_type === 'domain' || rule.scope_type === 'web_app' || rule.scope_type === 'api') {\n    if (assetValue === ruleVal) { matched = rule; break; }\n  } else if (rule.scope_type === 'subdomain_wildcard') {\n    const base = ruleVal.replace(/^\\*\\./, '');\n    if (assetValue === base || assetValue.endsWith('.' + base)) { matched = rule; break; }\n  } else if (rule.scope_type === 'ip') {\n    if (assetValue === ruleVal) { matched = rule; break; }\n  } else if (rule.scope_type === 'cidr') {\n    const [network, bits] = ruleVal.split('/');\n    matched = null;\n  } else if (rule.scope_type === 'environment') {\n    if (assetValue.includes(ruleVal)) { matched = rule; break; }\n  } else if (rule.scope_type === 'wifi_lab' || rule.scope_type === 'subnet_lab') {\n    // Lab scope rule but request is non-offensive — also match exact for passive lab audits\n    if (assetValue === ruleVal) { matched = rule; break; }\n  }\n}\n\nif (!matched) {\n  const reason = isWifiOffensive ? 'offensive_module_target_not_in_lab_scope' : 'out_of_scope';\n  return [{ json: { allowed: false, reason, asset_value: assetValue, engagement_id: engId, module_type: moduleType } }];\n}\n\nif (isWifiOffensive && !labOnly) {\n  return [{ json: { allowed: false, reason: 'offensive_module_outside_lab', asset_value: assetValue, engagement_id: engId, module_type: moduleType } }];\n}\n\nreturn [{ json: { allowed: true, scope_rule_id: matched.id, scope_type: matched.scope_type, asset_value: assetValue, engagement_id: engId, rate_limit_profile: rateProfile, module_type: moduleType, lab_only: labOnly } }];"
      },
      "id": "check-scope",
      "name": "Check Asset Scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (event_type, actor, engagement_id, entity_type, payload)\nVALUES ('oos_attempt_blocked', 'scope_guardian', '{{ $json.engagement_id }}', 'asset', '{\"asset_value\":\"{{ $json.asset_value }}\",\"reason\":\"{{ $json.reason }}\",\"module_type\":\"{{ $json.module_type }}\"}'::jsonb);",
        "options": {}
      },
      "id": "pg-audit-block",
      "name": "Audit OOS Block",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 500],
      "credentials": { "postgres": { "id": "RECON_OS_PG_CRED", "name": "RECON OS PostgreSQL" } }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Get Engagement", "type": "main", "index": 0 }]] },
    "Get Engagement": { "main": [[{ "node": "Check Engagement Status", "type": "main", "index": 0 }]] },
    "Check Engagement Status": { "main": [[{ "node": "IF Engagement OK?", "type": "main", "index": 0 }]] },
    "IF Engagement OK?": { "main": [
      [{ "node": "Get Scope Rules", "type": "main", "index": 0 }],
      [{ "node": "Audit OOS Block", "type": "main", "index": 0 }]
    ]},
    "Get Scope Rules": { "main": [[{ "node": "Check Asset Scope", "type": "main", "index": 0 }]] },
    "Check Asset Scope": { "main": [[{ "node": "Audit OOS Block", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "saveExecutionProgress": true },
  "meta": { "description": "RECON OS WF-02: Scope Guardian — validates every asset against engagement status, time window, and scope rules. Now also enforces module_type gating: offensive modules (wifi_evil_twin_*, mitm_*, decepticon_autonomous) require engagement.lab_only=true AND a matching wifi_lab/subnet_lab scope rule. Returns {allowed, reason, scope_rule_id, module_type, lab_only}." }
}
