n8n_workflows/eth_outcome_tracker.json
{"name":"ETH Outcome Tracker","connections":{"Read Vault Signals":{"main":[[{"index":0,"node":"Evaluate Outcomes","type":"main"}]]},"Evaluate Outcomes":{"main":[[{"index":0,"node":"Write Outcome to Vault","type":"main"},{"index":0,"type":"main","node":"Telegram Performance"},{"index":0,"type":"main","node":"Write Adaptive Params"}]]},"Schedule Trigger":{"main":[[{"node":"Read Vault Signals","type":"main","index":0}]]}},"nodes":[{"parameters":{"rule":{"interval":[{"hoursInterval":4,"field":"hours","triggerAtMinute":0}]}},"type":"n8n-nodes-base.scheduleTrigger","name":"Schedule Trigger","id":"ot01","typeVersion":1.2,"position":[0,300]},{"parameters":{"options":{},"sendHeaders":true,"method":"GET","url":"https://inspiring-cat-production.up.railway.app/memory/export","headerParameters":{"parameters":[{"name":"X-Memory-Secret","value":"2dc6c69574c14d615ce146e54640aa13030dade7aa86697c"}]},"sendQuery":true,"queryParameters":{"parameters":[{"value":"crypto_eth_v1","name":"source"},{"value":"30","name":"limit"},{"value":"2","name":"min_importance"}]}},"id":"ot03","name":"Read Vault Signals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"onError":"continueRegularOutput","position":[200,300]},{"type":"n8n-nodes-base.code","id":"ot04","name":"Evaluate Outcomes","parameters":{"jsCode":"// Evaluate Outcomes 芒聙聰 v6 (triple-barrier + Wilson lower bound)\nconst https = require('https');\n\n// Fetch current price\nconst currentPrice = await new Promise((resolve) => {\n  const req = https.get('https://api.kraken.com/0/public/Ticker?pair=XETHZUSD', (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => {\n      try {\n        const j = JSON.parse(d);\n        const key = Object.keys(j.result || {})[0];\n        resolve(key ? parseFloat(j.result[key].c[0]) : 0);\n      } catch(e) { resolve(0); }\n    });\n  });\n  req.on('error', () => resolve(0));\n  req.setTimeout(8000, () => { req.destroy(); resolve(0); });\n});\n\nif (currentPrice === 0) {\n  return [{ json: { error: 'No ETH price', hitRate: 0, evaluated: 0, summary: 'OUTCOME ERROR: ETH price unavailable', adaptiveParams: null, telegramMsg: '\\u26A0 OUTCOME TRACKER ERROR: ETH price fetch failed.' } }];\n}\n\nconst vaultRaw = $input.first().json;\nconst memories = (vaultRaw && vaultRaw.memories) ? vaultRaw.memories : [];\nconst cutoff48h = new Date(Date.now() - 48 * 3600 * 1000).toISOString();\n\nlet correct = 0, incorrect = 0, neutral = 0, tooSoon = 0, stale = 0;\nconst outcomes = [];\n\n// Wilson lower bound (z=1.96 for 95% CI)\nconst wilsonLower = (wins, n, z = 1.96) => {\n  if (n === 0) return 0;\n  const p = wins / n;\n  const denom = 1 + (z*z)/n;\n  const center = (p + (z*z)/(2*n)) / denom;\n  const margin = (z/denom) * Math.sqrt((p*(1-p))/n + (z*z)/(4*n*n));\n  return Math.max(0, center - margin);\n};\n\nfor (const mem of memories) {\n  const content = mem.content || '';\n  const createdAt = mem.created_at || '';\n  if (createdAt && createdAt < cutoff48h) { stale++; continue; }\n  if (!content.includes('TRADE SIGNAL')) continue;\n  const dirMatch   = content.match(/\\\\b(BUY|SELL|WAIT)\\\\s+ETH\\\\b/);\n  const priceMatch = content.match(/@ \\$([\\d,]+(?:\\.\\d+)?)/);\n  const confMatch  = content.match(/Confidence:([\\d.]+)%/);\n  const regMatch   = content.match(/Regime:(\\w+)/);\n  const atrMatch   = content.match(/ATR\\(?14\\)?:?\\s*\\$?([\\d.]+)/);\n  if (!dirMatch || !priceMatch) continue;\n  const dir = dirMatch[1];\n  const regime = regMatch ? regMatch[1] : 'UNKNOWN';\n  const signalPrice = parseFloat(priceMatch[1].replace(/,/g, ''));\n  const conf = confMatch ? parseFloat(confMatch[1]) : 50;\n  const atr14 = atrMatch ? parseFloat(atrMatch[1]) : signalPrice * 0.015; // fallback 1.5%\n  if (dir === 'WAIT') { neutral++; continue; }\n  if (signalPrice === 0) continue;\n  const ageSecs = createdAt ? (Date.now() - new Date(createdAt).getTime()) / 1000 : 14400;\n\n  // 芒聰聙芒聰聙芒聰聙 TRIPLE-BARRIER GRADING 芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙\n  // TP barrier: signal direction 脙聴 1.5脙聴ATR profit\n  // SL barrier: signal direction 脙聴 1.0脙聴ATR loss\n  // Time barrier: 4h after signal (the OT cycle)\n  // Without intra-period prices we use current price + age as proxy:\n  //   - if pctMove crossed +1.5脙聴ATR/price magnitude 芒聠聮 TP hit (CORRECT for BUY)\n  //   - if pctMove crossed -1.0脙聴ATR/price 芒聠聮 SL hit (INCORRECT for BUY)\n  //   - if neither 芒聠聮 time hit, label by sign of move (with min threshold)\n  const tpThreshold = (1.5 * atr14 / signalPrice) * 100; // % move for TP\n  const slThreshold = (1.0 * atr14 / signalPrice) * 100; // % move for SL\n  const minMove = ageSecs < 3600 ? 0.3 : ageSecs < 14400 ? 0.6 : 1.2;\n  const pctMove = ((currentPrice - signalPrice) / signalPrice) * 100;\n  const dirMove = dir === 'BUY' ? pctMove : -pctMove; // signed move in signal direction\n\n  let outcome, hitType;\n  if (dirMove >= tpThreshold)        { outcome = 'CORRECT';   hitType = 'TP'; correct++; }\n  else if (dirMove <= -slThreshold)  { outcome = 'INCORRECT'; hitType = 'SL'; incorrect++; }\n  else if (Math.abs(pctMove) < minMove) { outcome = 'TOO_SOON'; hitType = 'EARLY'; tooSoon++; }\n  else if (dirMove > 0)              { outcome = 'CORRECT';   hitType = 'TIME'; correct++; }\n  else                                { outcome = 'INCORRECT'; hitType = 'TIME'; incorrect++; }\n\n  outcomes.push({ dir, regime, signalPrice, currentPrice: Math.round(currentPrice), pctMove: Math.round(pctMove*100)/100, conf, outcome, hitType, ageMins: Math.round(ageSecs/60), ageSecs, tpThreshold: tpThreshold.toFixed(2), slThreshold: slThreshold.toFixed(2) });\n}\n\nconst gradeable    = correct + incorrect;\nconst hitRateRaw   = gradeable > 0 ? Math.round((correct / gradeable) * 100) : 0;\nconst hitRateWilson = Math.round(wilsonLower(correct, gradeable) * 100); // pessimistic estimate\nconst graded       = outcomes.filter(o => o.outcome !== 'TOO_SOON');\nconst avgConf      = graded.length > 0 ? Math.round(graded.reduce((s, o) => s + o.conf, 0) / graded.length * 10) / 10 : 0;\nconst evaluated    = correct + incorrect + neutral + tooSoon;\nconst recentGraded = graded.slice(0, 3);\nconst dataQuality  = gradeable < 5 ? 'INSUFFICIENT' : gradeable < 10 ? 'BUILDING' : 'SUFFICIENT';\nconst threshold    = 55;\n\n// Per-direction with Wilson lower\nconst buyGraded  = graded.filter(o => o.dir === 'BUY');\nconst sellGraded = graded.filter(o => o.dir === 'SELL');\nconst buyCorrect  = buyGraded.filter(o  => o.outcome === 'CORRECT').length;\nconst sellCorrect = sellGraded.filter(o => o.outcome === 'CORRECT').length;\nconst buyHitRate  = buyGraded.length  > 0 ? Math.round(buyCorrect / buyGraded.length * 100) : 50;\nconst sellHitRate = sellGraded.length > 0 ? Math.round(sellCorrect / sellGraded.length * 100) : 50;\nconst buyHRWilson  = Math.round(wilsonLower(buyCorrect, buyGraded.length) * 100);\nconst sellHRWilson = Math.round(wilsonLower(sellCorrect, sellGraded.length) * 100);\n\n// Per-regime accuracy with exponential time-decay (36h half-life)\nconst regimeStats = {};\nfor (const o of graded) {\n  const r = o.regime || 'UNKNOWN';\n  if (!regimeStats[r]) regimeStats[r] = { correct: 0, total: 0, weightedCorrect: 0, weightedTotal: 0 };\n  const ageHours = (o.ageSecs || 14400) / 3600;\n  const decayW = Math.exp(-ageHours / 36);\n  regimeStats[r].total++;\n  regimeStats[r].weightedTotal += decayW;\n  if (o.outcome === 'CORRECT') {\n    regimeStats[r].correct++;\n    regimeStats[r].weightedCorrect += decayW;\n  }\n}\n\n// Confidence calibration\nconst highConfGraded = graded.filter(o => o.conf >= 75);\nconst lowConfGraded  = graded.filter(o => o.conf < 65);\nconst highConfHR = highConfGraded.length >= 3 ? Math.round(highConfGraded.filter(o => o.outcome === 'CORRECT').length / highConfGraded.length * 100) : hitRateRaw;\nconst lowConfHR  = lowConfGraded.length  >= 3 ? Math.round(lowConfGraded.filter(o  => o.outcome === 'CORRECT').length / lowConfGraded.length  * 100) : hitRateRaw;\nconst confCalibrated = highConfHR < lowConfHR - 10;\n\n// 芒聰聙芒聰聙芒聰聙 Brier score (calibration metric) 芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙\nconst brierPairs = graded.map(o => ({ prob: o.conf / 100, outcome: o.outcome === 'CORRECT' ? 1 : 0 }));\nconst brier = brierPairs.length > 0 ? brierPairs.reduce((s, p) => s + (p.prob - p.outcome) ** 2, 0) / brierPairs.length : null;\nconst brierGrade = brier === null ? 'N/A' : brier < 0.18 ? 'EXCELLENT' : brier < 0.22 ? 'GOOD' : brier < 0.25 ? 'MARGINAL' : 'POOR';\n\n// Adaptive minConf 芒聙聰 driven by WILSON LOWER, not raw hitRate\nlet adaptiveMinConf = 60;\nif (gradeable >= 10) {\n  if      (hitRateWilson < 35)  adaptiveMinConf = 68;\n  else if (hitRateWilson < 42)  adaptiveMinConf = 65;\n  else if (hitRateWilson < 50)  adaptiveMinConf = 62;\n  else if (hitRateWilson > 65 && !confCalibrated) adaptiveMinConf = 56;\n  else if (hitRateWilson > 58 && !confCalibrated) adaptiveMinConf = 58;\n  else                          adaptiveMinConf = 60;\n  if (confCalibrated) adaptiveMinConf = Math.min(adaptiveMinConf + 4, 68);\n}\n\n// Direction multipliers 芒聙聰 also driven by Wilson lower\nconst buyMult  = gradeable >= 8 ? parseFloat(Math.max(0.80, Math.min(1.20, 0.60 + (buyHRWilson  / 100) * 0.6)).toFixed(2)) : 1.0;\nconst sellMult = gradeable >= 8 ? parseFloat(Math.max(0.80, Math.min(1.20, 0.60 + (sellHRWilson / 100) * 0.6)).toFixed(2)) : 1.0;\n\n// Strategy weight adaptation\nconst defaultWt = { trend:1.5, meanRev:1.0, momentum:1.2, breakout:1.1, smc:1.3, multiTF:1.8, fibonacci:0.9, macro:1.3, micro:1.3, stat:0.8 };\nconst regimeToStrat = {\n  BULL_TREND_STRONG: ['trend','multiTF','momentum'], BULL_TREND_WEAK: ['trend','multiTF'],\n  BEAR_TREND_STRONG: ['trend','multiTF','momentum'], BEAR_TREND_WEAK: ['trend','multiTF'],\n  RANGE_BOUND: ['meanRev','smc','fibonacci'], BREAKOUT_BULL: ['breakout','momentum','micro'],\n  BREAKOUT_BEAR: ['breakout','momentum','micro'], HIGH_VOL_EXPAND: ['breakout','momentum'],\n  LOW_VOL_COMPRESS: ['meanRev','fibonacci'], RISK_ON: ['macro','multiTF'],\n  RISK_OFF: ['macro','stat'], EXTREME_CAUTION: ['macro','stat'],\n};\n\nconst adaptiveWt = Object.assign({}, defaultWt);\nif (gradeable >= 10) {\n  for (const [regime, stats] of Object.entries(regimeStats)) {\n    if (stats.weightedTotal < 1.5) continue;\n    const weightedHR = stats.weightedCorrect / stats.weightedTotal;\n    const delta = weightedHR > 0.70 ? 0.15 : weightedHR > 0.60 ? 0.08 : weightedHR < 0.35 ? -0.18 : weightedHR < 0.45 ? -0.10 : 0;\n    if (delta === 0) continue;\n    for (const s of (regimeToStrat[regime] || [])) {\n      if (adaptiveWt[s] !== undefined) adaptiveWt[s] = Math.round(Math.max(0.4, Math.min(2.8, adaptiveWt[s] + delta)) * 100) / 100;\n    }\n  }\n  const origSum = Object.values(defaultWt).reduce((a, b) => a + b, 0);\n  const newSum  = Object.values(adaptiveWt).reduce((a, b) => a + b, 0);\n  if (newSum > 0.1) for (const k of Object.keys(adaptiveWt)) adaptiveWt[k] = Math.round(adaptiveWt[k] / newSum * origSum * 100) / 100;\n}\n\nconst regimeStatsSummary = Object.fromEntries(\n  Object.entries(regimeStats).filter(([, s]) => s.total > 0)\n    .map(([r, s]) => [r, s.correct + '/' + s.total + '(' + Math.round(s.weightedCorrect/Math.max(s.weightedTotal,0.01)*100) + '%w)'])\n);\n\nconst adaptiveParams = 'ETH_ADAPT_PARAMS | ' + new Date().toISOString().slice(0,16) + 'Z'\n  + ' | minConf:' + adaptiveMinConf + ' | buyMult:' + buyMult + ' | sellMult:' + sellMult\n  + ' | hitRate:' + hitRateRaw + '% | hitRateWilson:' + hitRateWilson + '%'\n  + ' | buyHR:' + buyHitRate + '% | sellHR:' + sellHitRate + '%'\n  + ' | buyHRWilson:' + buyHRWilson + '% | sellHRWilson:' + sellHRWilson + '%'\n  + ' | brier:' + (brier === null ? 'NA' : brier.toFixed(3))\n  + ' | highConfHR:' + highConfHR + '% | gradeable:' + gradeable\n  + ' | wt:' + JSON.stringify(adaptiveWt) + ' | regimeStats:' + JSON.stringify(regimeStatsSummary)\n  + ' | dataQuality:' + dataQuality;\n\n// Hit type breakdown (TP/SL/TIME/EARLY)\nconst tpHits   = outcomes.filter(o => o.hitType === 'TP').length;\nconst slHits   = outcomes.filter(o => o.hitType === 'SL').length;\nconst timeHits = outcomes.filter(o => o.hitType === 'TIME').length;\n\nconst summary = 'OUTCOME REPORT | ' + new Date().toISOString().slice(0,16) + 'Z\\nETH @ $' + Math.round(currentPrice)\n  + '\\nEvaluated: ' + evaluated + ' (' + gradeable + ' gradeable, ' + tooSoon + ' too-soon, ' + stale + ' stale, ' + neutral + ' waits)'\n  + '\\nHit Rate: ' + hitRateRaw + '% raw | ' + hitRateWilson + '% Wilson lower (' + correct + '/' + gradeable + ' graded)'\n  + '\\nBarriers: TP=' + tpHits + ' SL=' + slHits + ' TIME=' + timeHits\n  + '\\nBUY accuracy: ' + buyHitRate + '%/' + buyHRWilson + '%w (' + buyGraded.length + ' sigs) | SELL: ' + sellHitRate + '%/' + sellHRWilson + '%w (' + sellGraded.length + ' sigs)'\n  + '\\nBrier: ' + (brier === null ? 'N/A' : brier.toFixed(3)) + ' (' + brierGrade + ')'\n  + '\\nAdaptive minConf: ' + adaptiveMinConf + ' | buyMult: ' + buyMult + ' | sellMult: ' + sellMult\n  + '\\nLast 3 graded: ' + (recentGraded.map(o => o.dir + '[' + o.hitType + '] ' + o.outcome + ' (' + o.pctMove + '%)').join(' | ') || 'none yet');\n\nconst ts = new Date().toISOString().replace('T', ' ').slice(0, 16) + ' UTC';\nconst HR = '\\u2501'.repeat(20);\nconst hrBadge = hitRateWilson >= 60 ? '\\uD83D\\uDD25' : hitRateWilson >= 50 ? '\\u2705' : hitRateWilson > 0 ? '\\u26A0' : '\\uD83D\\uDCCA';\nconst hrStatus = hitRateWilson >= threshold ? '\\u2705 Wilson lower bound above ' + threshold + '%' : hitRateWilson > 0 ? '\\u26A0 Wilson below ' + threshold + '% 芒聙聰 paper mode' : '\\uD83D\\uDCCA Accumulating data';\nconst dqBadge = dataQuality === 'SUFFICIENT' ? '\\uD83D\\uDFE2' : dataQuality === 'BUILDING' ? '\\uD83D\\uDFE1' : '\\uD83D\\uDD34';\nconst outcomeLines = recentGraded.map(o => {\n  const ico = o.outcome === 'CORRECT' ? '\\u2705' : '\\u274C';\n  const dir2 = o.dir === 'BUY' ? '\\uD83D\\uDFE2 BUY' : '\\uD83D\\uDD34 SELL';\n  const hit = o.hitType === 'TP' ? '\\uD83C\\uDFAF TP' : o.hitType === 'SL' ? '\\uD83D\\uDED1 SL' : '\\u23F1 TIME';\n  return ico + ' ' + dir2 + ' ' + hit + '  $' + o.signalPrice.toLocaleString('en-US') + '  \\u2192  ' + (o.pctMove >= 0 ? '+' : '') + o.pctMove + '%  (' + o.ageMins + 'min)';\n});\nconst adaptLine = gradeable >= 10\n  ? '\\n\\u2699 <b>Adaptive params updated</b>: minConf <b>' + adaptiveMinConf + '</b> | BUY\\xd7' + buyMult + ' | SELL\\xd7' + sellMult\n  : '\\n\\u23F3 Collecting data for adaptation (' + gradeable + '/10 needed)';\n\nconst telegramMsg = [\n  '\\uD83D\\uDCCA <b>PERFORMANCE UPDATE 芒聙聰 ETH v1</b>',\n  '\\uD83D\\uDDD3 ' + ts, '', HR,\n  hrBadge + ' <b>HIT RATE: ' + hitRateRaw + '% raw | ' + hitRateWilson + '% Wilson</b> (' + correct + '/' + gradeable + ')',\n  hrStatus, HR, '',\n  '\\uD83D\\uDCB0 ETH: <b>$' + Math.round(currentPrice).toLocaleString('en-US') + '</b>',\n  '\\uD83D\\uDCE6 Avg Confidence: <b>' + avgConf + '%</b>   Brier: <b>' + (brier === null ? 'N/A' : brier.toFixed(3)) + '</b> ' + brierGrade,\n  '',\n  '<b>Outcome breakdown:</b>',\n  '\\u2705 Correct: <b>' + correct + '</b>   \\u274C Incorrect: <b>' + incorrect + '</b>   \\u23F3 Too-soon: <b>' + tooSoon + '</b>',\n  '\\uD83C\\uDFAF TP: ' + tpHits + '   \\uD83D\\uDED1 SL: ' + slHits + '   \\u23F1 TIME: ' + timeHits,\n  '\\u26AA Wait: <b>' + neutral + '</b>   \\uD83D\\uDCC5 Stale (>48h): <b>' + stale + '</b>',\n  '\\uD83D\\uDFE2 BUY: <b>' + buyHitRate + '%</b>/' + buyHRWilson + '%w (' + buyGraded.length + ')   \\uD83D\\uDD34 SELL: <b>' + sellHitRate + '%</b>/' + sellHRWilson + '%w (' + sellGraded.length + ')',\n  adaptLine, '',\n  '<b>Last graded:</b>',\n  outcomeLines.length ? outcomeLines.join('\\n') : '<i>No graded signals yet</i>',\n  '',\n  dqBadge + ' Data quality: <b>' + dataQuality + '</b>  (' + gradeable + ' graded)',\n  '',\n  '<i>\\u23F1 Every 4h  \\u00B7  Triple-barrier + Wilson lower  \\u00B7  v6</i>'\n].join('\\n');\n\nreturn [{ json: { summary, hitRate: hitRateRaw, hitRateWilson, correct, incorrect, neutral, tooSoon, stale, evaluated, gradeable, currentPrice, avgConf, outcomes: outcomes.slice(0, 10), dataQuality, buyHitRate, sellHitRate, buyHRWilson, sellHRWilson, adaptiveMinConf, buyMult, sellMult, adaptiveWt, adaptiveParams, confCalibrated, highConfHR, lowConfHR, brier, brierGrade, tpHits, slHits, timeHits, telegramMsg } }];\n"},"position":[400,300],"onError":"continueRegularOutput","typeVersion":2},{"name":"Write Outcome to Vault","id":"ot05","position":[600,200],"onError":"continueRegularOutput","type":"n8n-nodes-base.code","typeVersion":2,"parameters":{"jsCode":"// Write Outcome Summary to inspiring-cat vault\nconst https = require('https');\nconst data = $input.first().json;\nconst summary = data.summary || 'OUTCOME REPORT: no summary';\n\nconst payload = JSON.stringify({\n  memories: [{\n    content: summary,\n    source: 'outcome_tracker',\n    memory_type: 'episodic',\n    importance: 4,\n    tags: ['eth_outcome', 'performance']\n  }]\n});\n\nconst result = await new Promise((resolve) => {\n  const opts = {\n    hostname: 'inspiring-cat-production.up.railway.app',\n    path: '/memory/ingest',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Memory-Secret': '2dc6c69574c14d615ce146e54640aa13030dade7aa86697c',\n      'Content-Length': Buffer.byteLength(payload)\n    }\n  };\n  const req = https.request(opts, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({ ok: false, err: d.slice(0,80) }); } });\n  });\n  req.on('error', e => resolve({ ok: false, err: e.message }));\n  req.setTimeout(8000, () => { req.destroy(); resolve({ ok: false, err: 'timeout' }); });\n  req.write(payload);\n  req.end();\n});\n\nreturn [{ json: { stored: !!result.ok, result, summary: summary.slice(0, 100) } }];\n"}},{"id":"ot06","name":"Telegram Performance","type":"n8n-nodes-base.telegram","credentials":{"telegramApi":{"name":"Telegram account","id":"vaWr2cxS1Q9HsYd4"}},"parameters":{"chatId":"6275020593","additionalFields":{"parse_mode":"HTML"},"operation":"sendMessage","text":"={{ $json.telegramMsg }}","resource":"message","replyMarkup":"none"},"position":[600,300],"onError":"continueRegularOutput","webhookId":"1c5e9f15-c518-41eb-920b-945120996f06","typeVersion":1.2},{"parameters":{"jsCode":"// Write Adaptive Params to inspiring-cat vault\nconst https = require('https');\nconst data = $input.first().json;\nconst adaptiveParams = data.adaptiveParams;\n\nif (!adaptiveParams) {\n  return [{ json: { stored: false, reason: 'no adaptiveParams in input 芒聙聰 data quality insufficient' } }];\n}\n\nconst payload = JSON.stringify({\n  memories: [{\n    content: adaptiveParams,\n    source: 'eth_outcome_tracker',\n    memory_type: 'adaptive',\n    importance: 5,\n    tags: ['eth_adapt_params', 'performance', 'learning']\n  }]\n});\n\nconst result = await new Promise((resolve) => {\n  const opts = {\n    hostname: 'inspiring-cat-production.up.railway.app',\n    path: '/memory/ingest',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Memory-Secret': '2dc6c69574c14d615ce146e54640aa13030dade7aa86697c',\n      'Content-Length': Buffer.byteLength(payload)\n    }\n  };\n  const req = https.request(opts, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({ ok: false, err: d.slice(0,80) }); } });\n  });\n  req.on('error', e => resolve({ ok: false, err: e.message }));\n  req.setTimeout(8000, () => { req.destroy(); resolve({ ok: false, err: 'timeout' }); });\n  req.write(payload);\n  req.end();\n});\n\nreturn [{ json: { stored: !!result.ok, result, adaptiveParams: adaptiveParams.slice(0, 150) } }];\n"},"id":"ot07","name":"Write Adaptive Params","type":"n8n-nodes-base.code","typeVersion":2,"onError":"continueRegularOutput","position":[600,400]}],"settings":{"availableInMCP":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null}