n8n_workflows/perf_report.json
{"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1"},"nodes":[{"typeVersion":1.2,"id":"dr01","parameters":{"rule":{"interval":[{"expression":"0 8 * * *","field":"cronExpression"}]}},"type":"n8n-nodes-base.scheduleTrigger","position":[0,300],"name":"Daily 08:00 UTC"},{"parameters":{"method":"GET","options":{},"url":"https://api.kraken.com/0/public/Ticker?pair=XBTUSD"},"type":"n8n-nodes-base.httpRequest","position":[200,200],"name":"Fetch Price","onError":"continueRegularOutput","typeVersion":4.2,"id":"dr02"},{"id":"dr03","typeVersion":4.2,"onError":"continueRegularOutput","position":[200,400],"name":"Read 24H Signals","parameters":{"method":"GET","options":{},"url":"https://super-agent-production.up.railway.app/memory/export","queryParameters":{"parameters":[{"value":"288","name":"limit"},{"value":"crypto_signal","name":"tag"}]},"headerParameters":{"parameters":[{"name":"X-Vault-Secret","value":"2dc6c69574c14d615ce146e54640aa13030dade7aa86697c"}]},"sendHeaders":true,"sendQuery":true},"type":"n8n-nodes-base.httpRequest"},{"position":[200,600],"name":"Read Outcomes","parameters":{"sendQuery":true,"sendHeaders":true,"url":"https://super-agent-production.up.railway.app/memory/export","options":{},"method":"GET","headerParameters":{"parameters":[{"name":"X-Vault-Secret","value":"2dc6c69574c14d615ce146e54640aa13030dade7aa86697c"}]},"queryParameters":{"parameters":[{"name":"limit","value":"10"},{"name":"tag","value":"crypto_outcome"}]}},"type":"n8n-nodes-base.httpRequest","id":"dr04","onError":"continueRegularOutput","typeVersion":4.2},{"typeVersion":2,"type":"n8n-nodes-base.code","parameters":{"jsCode":"// 芒聰聙芒聰聙 Build Daily Report + Telegram message 芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙\nconst vaultRaw   = $(\"Read 24H Signals\").first().json;\nconst outcomeRaw = $(\"Read Outcomes\").first().json;\nconst tickerRaw  = $(\"Fetch Price\").first().json;\n\nconst memories = (vaultRaw   && vaultRaw.memories)  ? vaultRaw.memories  : [];\nconst outcomes = (outcomeRaw && outcomeRaw.memories) ? outcomeRaw.memories : [];\nconst tickerResult = tickerRaw && tickerRaw.result ? tickerRaw.result : {};\nconst tickerKey = Object.keys(tickerResult)[0];\nconst ticker = tickerResult[tickerKey] || {};\nconst price     = ticker.c ? parseFloat(ticker.c[0]) : 0;\nconst open      = ticker.o ? parseFloat(ticker.o[1]) : price;\nconst change24h = open > 0 ? Math.round(((price - open) / open) * 10000) / 100 : 0;\n\nconst dataOk       = price > 0;\nconst signalDataOk = memories.length > 0;\nconst outcomeDataOk = outcomes.length > 0;\n\n// Count signals from last 24h\nlet buys = 0, sells = 0, waits = 0, totalConf = 0, confCount = 0;\nconst last24h = new Date(Date.now() - 86400000).toISOString();\nfor (const m of memories) {\n  if (!m.created_at || m.created_at < last24h) continue;\n  const c = m.content || '';\n  if (/TRADE SIGNAL[^:]*:\\s*BUY\\s+BTC/.test(c))  buys++;\n  else if (/TRADE SIGNAL[^:]*:\\s*SELL\\s+BTC/.test(c)) sells++;\n  else if (/TRADE SIGNAL[^:]*:\\s*WAIT\\s+BTC/.test(c)) waits++;\n  const cm = c.match(/Confidence:([\\d.]+)%/);\n  if (cm) { totalConf += parseFloat(cm[1]); confCount++; }\n}\n\n// Parse latest outcome report\nlet hitRate = 'N/A', correct = 0, incorrect = 0, gradeable = 0, avgConf = 0;\nlet outcomeSummary = outcomeDataOk ? 'No outcome report found' : 'Outcome data unavailable';\nfor (const o of outcomes) {\n  const c = o.content || '';\n  const hrMatch = c.match(/Hit Rate:\\s*(\\d+)%.*?\\((\\d+)\\/(\\d+) graded\\)/);\n  if (hrMatch) {\n    hitRate = hrMatch[1] + '%';\n    correct = parseInt(hrMatch[2]);\n    gradeable = parseInt(hrMatch[3]);\n    incorrect = gradeable - correct;\n    const acMatch = c.match(/Avg Confidence:\\s*([\\d.]+)%/);\n    avgConf = acMatch ? parseFloat(acMatch[1]) : 0;\n    outcomeSummary = c.split('\\n').slice(0, 5).join(' | ').replace(/\\s+/g, ' ');\n    break;\n  }\n}\n\nconst sessionAvgConf = confCount > 0 ? Math.round(totalConf / confCount * 10) / 10 : avgConf;\nconst totalSignals = buys + sells + waits;\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst hitNum  = hitRate !== 'N/A' ? parseInt(hitRate) : -1;\nconst threshold = 55;\n\nconst statusLine = !dataOk\n  ? 'PRICE DATA UNAVAILABLE'\n  : !signalDataOk\n  ? 'No signals recorded yet'\n  : hitNum >= threshold\n  ? 'Hit rate ' + hitRate + ' ABOVE ' + threshold + '% threshold'\n  : hitNum >= 0\n  ? 'Hit rate ' + hitRate + ' BELOW ' + threshold + '% - paper trading only'\n  : 'Accumulating outcome data';\n\nconst report = 'DAILY CRYPTO REPORT - ' + dateStr +\n  '\\nBTC/USD: $' + Math.round(price) + ' (' + (change24h >= 0 ? '+' : '') + change24h + '% 24H)' +\n  (!dataOk ? ' [PRICE FETCH FAILED]' : '') +\n  '\\n\\nSIGNALS LAST 24H: ' + totalSignals + ' total' + (!signalDataOk ? ' [VAULT UNAVAILABLE]' : '') +\n  '\\nBUY: ' + buys + ' | SELL: ' + sells + ' | WAIT: ' + waits +\n  '\\nAvg Signal Confidence: ' + sessionAvgConf + '%' +\n  '\\n\\nPERFORMANCE (cumulative graded):\\nHit Rate: ' + hitRate + ' | Correct: ' + correct + ' | Incorrect: ' + incorrect + ' | Gradeable: ' + gradeable +\n  '\\n' + outcomeSummary +\n  '\\n\\n' + statusLine;\n\n// 芒聰聙芒聰聙 Build Telegram Message 芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙\nconst HR = '\\u2501'.repeat(20);\nconst chgEmoji = change24h > 3 ? '\\uD83D\\uDE80' : change24h > 0.5 ? '\\uD83D\\uDCC8' : change24h < -3 ? '\\uD83D\\uDCC9' : change24h < -0.5 ? '\\uD83D\\uDD34' : '\\u27A1\\uFE0F';\nconst hrBadge  = hitNum >= 70 ? '\\uD83D\\uDD25' : hitNum >= threshold ? '\\u2705' : hitNum >= 0 ? '\\u26A0\\uFE0F' : '\\uD83D\\uDCCA';\nconst hrStatus = !dataOk\n  ? '\\uD83D\\uDEA8 Price data unavailable'\n  : hitNum >= threshold\n  ? '\\u2705 <b>Above ' + threshold + '% threshold \\u2014 signal quality GOOD</b>'\n  : hitNum >= 0\n  ? '\\u26A0\\uFE0F <b>Below ' + threshold + '% \\u2014 paper trading mode</b>'\n  : '\\uD83D\\uDCCA Building dataset \\u2014 need more signals';\n\nconst signalBalance = totalSignals > 0\n  ? 'Bias: ' + (buys > sells + waits ? '\\uD83D\\uDFE2 Bullish (' + Math.round(buys/totalSignals*100) + '% BUY)' : sells > buys + waits ? '\\uD83D\\uDD34 Bearish (' + Math.round(sells/totalSignals*100) + '% SELL)' : '\\uD83D\\uDFE1 Neutral (mixed)')\n  : 'No signals recorded';\n\nconst telegramMsg = [\n  '\\uD83D\\uDDD3 <b>DAILY REPORT \\u2014 CRYPTO SPECIALIST v3</b>',\n  '\\uD83D\\uDCC5 ' + dateStr + ' \\u00B7 08:00 UTC',\n  '',\n  HR,\n  '\\uD83D\\uDCB0 BTC/USD: <b>$' + Math.round(price).toLocaleString('en-US') + '</b>   ' + chgEmoji + ' ' + (change24h >= 0 ? '+' : '') + change24h + '% 24H' + (!dataOk ? '  \\uD83D\\uDEA8 PRICE UNAVAILABLE' : ''),\n  '',\n  HR,\n  '\\uD83D\\uDCCA <b>SIGNALS (last 24h): ' + totalSignals + ' total</b>' + (!signalDataOk ? '  \\uD83D\\uDEA8 VAULT UNAVAILABLE' : ''),\n  '\\uD83D\\uDFE2 BUY: <b>' + buys + '</b>   \\uD83D\\uDD34 SELL: <b>' + sells + '</b>   \\u26AA WAIT: <b>' + waits + '</b>',\n  '\\uD83D\\uDCB3 Avg Signal Confidence: <b>' + sessionAvgConf + '%</b>',\n  signalBalance,\n  '',\n  HR,\n  hrBadge + ' <b>PERFORMANCE (cumulative)</b>',\n  'Hit Rate: <b>' + hitRate + '</b>   \\u2705 Correct: ' + correct + '   \\u274C Incorrect: ' + incorrect + '   Graded: ' + gradeable,\n  hrStatus,\n  '',\n  '<i>\\u23F1 Next report: tomorrow 08:00 UTC  \\u00B7  Threshold: ' + threshold + '%  \\u00B7  v3-super</i>'\n].join('\\n');\n\nreturn [{ json: { report, price, change24h, buys, sells, waits, hitRate, correct, incorrect, gradeable, sessionAvgConf, dateStr, dataOk, signalDataOk, outcomeDataOk, telegramMsg } }];\n"},"position":[400,400],"id":"dr05","name":"Build Daily Report"},{"webhookId":"de717361-918a-4740-ba0b-7ef7e125af8b","credentials":{"telegramApi":{"id":"vaWr2cxS1Q9HsYd4","name":"Telegram account"}},"typeVersion":1.2,"id":"dr06","parameters":{"resource":"message","chatId":"6275020593","additionalFields":{"parse_mode":"HTML"},"operation":"sendMessage","text":"={{ $json.telegramMsg }}"},"type":"n8n-nodes-base.telegram","name":"Send Daily Telegram","position":[600,400]}],"connections":{"Daily 08:00 UTC":{"main":[[{"node":"Fetch Price","type":"main","index":0},{"index":0,"type":"main","node":"Read 24H Signals"},{"node":"Read Outcomes","type":"main","index":0}]]},"Build Daily Report":{"main":[[{"index":0,"node":"Send Daily Telegram","type":"main"}]]},"Read Outcomes":{"main":[[{"node":"Build Daily Report","type":"main","index":0}]]},"Read 24H Signals":{"main":[[{"index":0,"type":"main","node":"Build Daily Report"}]]},"Fetch Price":{"main":[[{"node":"Build Daily Report","type":"main","index":0}]]}},"name":"Crypto Daily Performance Report","staticData":null}