n8n_workflows/watchdog.json
{"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"nodes":[{"type":"n8n-nodes-base.scheduleTrigger","parameters":{"rule":{"interval":[{"minutesInterval":1,"field":"minutes"}]}},"name":"Schedule Every 1 Min","typeVersion":1.2,"position":[0,300],"id":"vw01"},{"id":"vw02","position":[200,300],"onError":"continueRegularOutput","parameters":{"url":"https://api.kraken.com/0/public/Ticker?pair=XBTUSD","options":{},"method":"GET"},"name":"Fetch 1M Ticker","typeVersion":4.2,"type":"n8n-nodes-base.httpRequest"},{"type":"n8n-nodes-base.code","typeVersion":2,"name":"Check Spike","parameters":{"jsCode":"// 芒聰聙芒聰聙 Volatility Watchdog + Telegram message 芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙\nconst raw    = $(\"Fetch 1M Ticker\").first().json;\nconst result = raw && raw.result ? raw.result : {};\nconst key    = Object.keys(result)[0];\nconst ticker = result[key] || {};\nconst price  = ticker.c ? parseFloat(ticker.c[0]) : 0;\nif (!price) {\n  return [{ json: { triggered: false, reason: 'No price data', price: 0, ts: new Date().toISOString(), telegramMsg: '' } }];\n}\n\n// Kraken ticker: index [0]=today, [1]=24h rolling\nconst high24    = ticker.h ? parseFloat(ticker.h[1]) : price;\nconst low24     = ticker.l ? parseFloat(ticker.l[1]) : price;\nconst open24    = ticker.o ? parseFloat(ticker.o[1]) : price;\nconst vwap24    = ticker.p ? parseFloat(ticker.p[1]) : price;\nconst highToday = ticker.h ? parseFloat(ticker.h[0]) : price;\nconst lowToday  = ticker.l ? parseFloat(ticker.l[0]) : price;\n\nconst range24pct = open24 > 0 ? ((high24 - low24) / open24) * 100 : 0;\nconst rangeToday = open24 > 0 ? ((highToday - lowToday) / open24) * 100 : 0;\nconst vwapDev    = vwap24 > 0 ? ((price - vwap24) / vwap24) * 100 : 0;\nconst vwapDevAbs = Math.abs(vwapDev);\nconst priceMove  = open24 > 0 ? Math.abs((price - open24) / open24) * 100 : 0;\nconst rangePos   = (high24 > low24) ? (price - low24) / (high24 - low24) : 0.5;\nconst atExtreme  = rangePos > 0.95 || rangePos < 0.05;\n\nconst RANGE_SPIKE_PCT = 6.0;\nconst PRICE_MOVE_PCT  = 3.0;\nconst VWAP_DEV_PCT    = 2.0;\n\nconst rangeSpike   = range24pct > RANGE_SPIKE_PCT;\nconst priceSpike   = priceMove  > PRICE_MOVE_PCT;\nconst vwapSpike    = vwapDevAbs > VWAP_DEV_PCT;\nconst breakoutSpike = atExtreme && rangeToday > 2.0;\n\nconst triggered = rangeSpike || priceSpike || vwapSpike || breakoutSpike;\n\nconst reason = [];\nif (rangeSpike)    reason.push('24H range ' + range24pct.toFixed(2) + '% > ' + RANGE_SPIKE_PCT + '%');\nif (priceSpike)    reason.push('Price move ' + priceMove.toFixed(2) + '% from open');\nif (vwapSpike)     reason.push('VWAP dev ' + vwapDevAbs.toFixed(2) + '% (' + (vwapDev > 0 ? 'above' : 'below') + ')');\nif (breakoutSpike) reason.push('Range extreme (' + (rangePos * 100).toFixed(0) + '%) + intraday ' + rangeToday.toFixed(2) + '%');\n\nconst ts = new Date().toISOString();\n\n// 芒聰聙芒聰聙 Build Telegram Message (only sent when triggered=true) 芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙芒聰聙\nconst HR = '\\u2501'.repeat(20);\nconst spikeType  = rangeSpike || priceSpike ? 'HIGH' : 'MODERATE';\nconst spikeEmoji = spikeType === 'HIGH' ? '\\uD83D\\uDEA8\\uD83D\\uDEA8' : '\\u26A1\\u26A1';\nconst priceDir   = price > open24 ? '\\uD83D\\uDE80 ABOVE open' : '\\uD83D\\uDD3B BELOW open';\nconst vwapDir    = vwapDev > 0 ? '\\uD83D\\uDFE2 above VWAP' : '\\uD83D\\uDD34 below VWAP';\nconst extremeLabel = rangePos > 0.95 ? '\\uD83D\\uDFE2 near day HIGH \\u2014 breakout zone' : rangePos < 0.05 ? '\\uD83D\\uDD34 near day LOW \\u2014 breakdown zone' : '\\uD83D\\uDFE1 mid-range';\n\nconst telegramMsg = [\n  spikeEmoji + ' <b>VOLATILITY SPIKE DETECTED</b> ' + spikeEmoji,\n  '\\uD83D\\uDDD3 ' + ts.replace('T', ' ').slice(0, 19) + ' UTC',\n  '',\n  HR,\n  '\\uD83D\\uDCB0 BTC/USD: <b>$' + Math.round(price).toLocaleString('en-US') + '</b>  \\u00B7  ' + priceDir,\n  '\\uD83D\\uDCC8 24H Range: <b>' + range24pct.toFixed(2) + '%</b>' + (rangeSpike ? ' \\u26A0\\uFE0F SPIKE' : ''),\n  '\\uD83D\\uDCD0 Intraday Range: <b>' + rangeToday.toFixed(2) + '%</b>',\n  '\\uD83C\\uDFAF VWAP Dev: <b>' + (vwapDev >= 0 ? '+' : '') + vwapDev.toFixed(2) + '%</b>  \\u00B7  ' + vwapDir,\n  '\\uD83D\\uDCCD Range Position: <b>' + (rangePos * 100).toFixed(0) + '%</b>  \\u00B7  ' + extremeLabel,\n  '',\n  HR,\n  '\\uD83D\\uDD0D <b>Trigger reasons:</b>',\n  reason.map(r => '\\u2022 ' + r).join('\\n') || '\\u2022 Composite spike score',\n  '',\n  '\\uD83D\\uDD04 <b>Action:</b> Extra analysis scan triggered outside 5-min schedule',\n  '',\n  '<i>\\u23F1 Normal schedule resumes in 5 min  \\u00B7  v3-super</i>'\n].join('\\n');\n\nreturn [{ json: {\n  triggered,\n  price,\n  range24pct:  Math.round(range24pct  * 100) / 100,\n  rangeToday:  Math.round(rangeToday  * 100) / 100,\n  priceMove:   Math.round(priceMove   * 100) / 100,\n  vwapDev:     Math.round(vwapDev     * 100) / 100,\n  rangePos:    Math.round(rangePos    * 100) / 100,\n  atExtreme,\n  reason: reason.join(' | ') || 'normal vol',\n  ts,\n  telegramMsg: triggered ? telegramMsg : ''\n}}];\n"},"position":[400,300],"id":"vw03"},{"position":[600,300],"id":"vw04","type":"n8n-nodes-base.if","parameters":{"conditions":{"options":{"typeValidation":"strict","caseSensitive":true},"combinator":"and","conditions":[{"id":"spike-check","operator":{"operation":"true","type":"boolean"},"rightValue":true,"leftValue":"={{ $json.triggered }}"}]}},"name":"Is Spike?","typeVersion":2},{"position":[800,200],"onError":"continueRegularOutput","id":"vw05","type":"n8n-nodes-base.httpRequest","name":"Trigger Main Workflow","parameters":{"url":"https://outstanding-blessing-production-1d4b.up.railway.app/api/v1/workflows/7onbBjeUwHkSsuyc/run","method":"POST","sendBody":true,"sendHeaders":true,"bodyParameters":{"parameters":[{"value":"[]","name":"startNodes"}]},"options":{},"headerParameters":{"parameters":[{"value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwOTk3N2NkYS05MTQwLTRlNjgtYTk0OC1lODhkMWY0MDBjMTgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZWUxMTlkYzItN2MzZi00NTc1LThjMDAtNGM1MWM5NmZhZmEzIiwiaWF0IjoxNzc2NTEwODI5LCJleHAiOjE3NzkwNTg4MDB9.Az2G4U7gh55B2MoJK1Ewhk-CNDUqpph-0JYMiSuIWMw","name":"X-N8N-API-KEY"}]}},"typeVersion":4.2},{"credentials":{"telegramApi":{"id":"vaWr2cxS1Q9HsYd4","name":"Telegram account"}},"id":"vw06","position":[800,400],"typeVersion":1.2,"parameters":{"resource":"message","additionalFields":{"parse_mode":"HTML"},"chatId":"6275020593","text":"={{ $json.telegramMsg }}","operation":"sendMessage"},"name":"Telegram Spike Alert","webhookId":"bc5f4ac2-be84-42c6-9ef1-30886e5dc406","type":"n8n-nodes-base.telegram"}],"connections":{"Fetch 1M Ticker":{"main":[[{"node":"Check Spike","type":"main","index":0}]]},"Check Spike":{"main":[[{"index":0,"node":"Is Spike?","type":"main"}]]},"Is Spike?":{"main":[[{"type":"main","node":"Trigger Main Workflow","index":0},{"index":0,"node":"Telegram Spike Alert","type":"main"}],[]]},"Schedule Every 1 Min":{"main":[[{"index":0,"type":"main","node":"Fetch 1M Ticker"}]]}},"staticData":null,"name":"Crypto Volatility Watchdog"}