n8n_workflows/weight_tuner.json
{"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"connections":{"WT Fetch BTC Price":{"main":[[{"index":0,"node":"WT Compute Weights","type":"main"}]]},"WT Compute Weights":{"main":[[{"node":"WT Write Adaptive Params","type":"main","index":0},{"type":"main","node":"WT Telegram Report","index":0}]]},"WT Read Signals":{"main":[[{"type":"main","node":"WT Compute Weights","index":0}]]},"Daily 06:30 UTC":{"main":[[{"index":0,"type":"main","node":"WT Fetch BTC Price"},{"type":"main","node":"WT Read Signals","index":0}]]}},"nodes":[{"id":"wt01","type":"n8n-nodes-base.scheduleTrigger","parameters":{"rule":{"interval":[{"expression":"30 6 * * *","field":"cronExpression"}]}},"position":[0,300],"name":"Daily 06:30 UTC","typeVersion":1.2},{"id":"wt02","type":"n8n-nodes-base.httpRequest","onError":"continueRegularOutput","position":[200,200],"parameters":{"options":{},"url":"https://api.kraken.com/0/public/Ticker?pair=XBTUSD","method":"GET"},"typeVersion":4.2,"name":"WT Fetch BTC Price"},{"name":"WT Read Signals","typeVersion":4.2,"position":[200,400],"parameters":{"method":"GET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Memory-Secret","value":"2dc6c69574c14d615ce146e54640aa13030dade7aa86697c"}]},"url":"https://inspiring-cat-production.up.railway.app/memory/export?limit=60&source=crypto_specialist_v3","options":{"response":{"response":{"neverError":true}},"timeout":15000}},"onError":"continueRegularOutput","type":"n8n-nodes-base.httpRequest","id":"wt03"},{"name":"WT Compute Weights","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"// Weight Tuner — Daily autonomous weight optimizer\n// Reads last 60 signals, evaluates each against current price,\n// computes EMA-weighted accuracy per regime, updates strategy weights.\nconst tickerRaw = $('WT Fetch BTC Price').first().json;\nconst tickerResult = tickerRaw && tickerRaw.result ? tickerRaw.result : {};\nconst tickerKey = Object.keys(tickerResult)[0];\nconst ticker = tickerResult[tickerKey] || {};\nconst currentPrice = ticker.c ? parseFloat(ticker.c[0]) : 0;\n\nconst vaultRaw = $('WT Read Signals').first().json;\nconst memories = (vaultRaw && vaultRaw.memories) ? vaultRaw.memories : [];\n\nif (currentPrice === 0 || memories.length === 0) {\n  return [{ json: { error: 'No data available', skipped: true, reason: 'BTC price: ' + currentPrice + ', memories: ' + memories.length } }];\n}\n\nconst now = Date.now();\nconst results = [];\n\n// Evaluate each stored signal against current price\nfor (const mem of memories) {\n  const content = mem.content || '';\n  if (!content.includes('TRADE SIGNAL')) continue;\n  const dirMatch   = content.match(/TRADE SIGNAL[^:]*:\\s*(BUY|SELL|WAIT)\\s+BTC/);\n  const priceMatch = content.match(/@ \\$([\\d,]+(?:\\.\\d+)?)/);\n  const confMatch  = content.match(/Confidence:([\\d.]+)%/);\n  const regMatch   = content.match(/Regime:(\\w+)/);\n  const hurstMatch = content.match(/Hurst:([\\d.]+)\\((\\w+)\\)/);\n  if (!dirMatch || !priceMatch) continue;\n  const dir = dirMatch[1];\n  if (dir === 'WAIT') continue;\n  const signalPrice = parseFloat(priceMatch[1].replace(/,/g, ''));\n  const conf = confMatch ? parseFloat(confMatch[1]) : 50;\n  const regime = regMatch ? regMatch[1] : 'UNKNOWN';\n  const hurstR = hurstMatch ? hurstMatch[2] : 'RANDOM';\n  if (signalPrice === 0) continue;\n  const createdAt = mem.created_at || '';\n  const ageSecs = createdAt ? (now - new Date(createdAt).getTime()) / 1000 : 86400;\n  if (ageSecs > 72 * 3600) continue; // only look at last 72 hours\n  const minMove = ageSecs < 3600 ? 0.3 : ageSecs < 14400 ? 0.6 : 1.0;\n  const pctMove = ((currentPrice - signalPrice) / signalPrice) * 100;\n  if (Math.abs(pctMove) < minMove) continue; // too soon\n  const correct = (dir === 'BUY' && pctMove > 0) || (dir === 'SELL' && pctMove < 0);\n  // Exponential time-decay: recent signals weighted 2x vs 24h-old\n  const decayWeight = Math.exp(-ageSecs / (24 * 3600));\n  results.push({ dir, regime, hurstR, conf, correct, decayWeight, ageSecs, pctMove });\n}\n\nconst gradeable = results.length;\nif (gradeable === 0) {\n  return [{ json: { error: 'No gradeable signals in last 72h', skipped: true } }];\n}\n\n// Compute weighted overall hit rate\nconst wtCorrect = results.reduce((s, r) => s + (r.correct ? r.decayWeight : 0), 0);\nconst wtTotal   = results.reduce((s, r) => s + r.decayWeight, 0);\nconst hitRate   = Math.round(wtCorrect / wtTotal * 100);\n\n// Per-direction weighted accuracy\nconst buyResults  = results.filter(r => r.dir === 'BUY');\nconst sellResults = results.filter(r => r.dir === 'SELL');\nconst buyWtC  = buyResults.reduce((s, r) => s + (r.correct ? r.decayWeight : 0), 0);\nconst buyWtT  = buyResults.reduce((s, r) => s + r.decayWeight, 0);\nconst sellWtC = sellResults.reduce((s, r) => s + (r.correct ? r.decayWeight : 0), 0);\nconst sellWtT = sellResults.reduce((s, r) => s + r.decayWeight, 0);\nconst buyHitRate  = buyWtT  > 0.1 ? Math.round(buyWtC  / buyWtT  * 100) : 50;\nconst sellHitRate = sellWtT > 0.1 ? Math.round(sellWtC / sellWtT * 100) : 50;\n\n// Per-regime weighted accuracy\nconst regimeStats = {};\nfor (const r of results) {\n  if (!regimeStats[r.regime]) regimeStats[r.regime] = { wtC: 0, wtT: 0 };\n  regimeStats[r.regime].wtT += r.decayWeight;\n  if (r.correct) regimeStats[r.regime].wtC += r.decayWeight;\n}\n\n// Hurst-based routing: which strategy family fits the market character?\nconst trendResults  = results.filter(r => r.hurstR === 'TREND');\nconst meanRevResults = results.filter(r => r.hurstR === 'MEAN_REV');\nconst trendWtC  = trendResults.reduce((s, r) => s + (r.correct ? r.decayWeight : 0), 0);\nconst trendWtT  = trendResults.reduce((s, r) => s + r.decayWeight, 0);\nconst mrWtC     = meanRevResults.reduce((s, r) => s + (r.correct ? r.decayWeight : 0), 0);\nconst mrWtT     = meanRevResults.reduce((s, r) => s + r.decayWeight, 0);\nconst trendHR   = trendWtT  > 0.5 ? trendWtC  / trendWtT  : 0.5;\nconst meanRevHR = mrWtT     > 0.5 ? mrWtC     / mrWtT     : 0.5;\n\n// Map regimes to strategy families\nconst regimeToStrat = {\n  BULL_TREND_STRONG:  ['trend','multiTF','momentum'],\n  BULL_TREND_WEAK:    ['trend','multiTF'],\n  BEAR_TREND_STRONG:  ['trend','multiTF','momentum'],\n  BEAR_TREND_WEAK:    ['trend','multiTF'],\n  RANGE_BOUND:        ['meanRev','smc','fibonacci'],\n  BREAKOUT_BULL:      ['breakout','momentum','micro'],\n  BREAKOUT_BEAR:      ['breakout','momentum','micro'],\n  HIGH_VOL_EXPAND:    ['breakout','momentum'],\n  LOW_VOL_COMPRESS:   ['meanRev','fibonacci'],\n  RISK_ON:            ['macro','multiTF'],\n  RISK_OFF:           ['macro','stat'],\n  EXTREME_CAUTION:    ['macro','stat'],\n};\n\n// Base weights — EMA update: new = (1-alpha)*current + alpha*target\nconst alpha = 0.25; // learning rate — conservative to prevent overfitting\nconst defaultWt = { trend:1.5, meanRev:1.0, momentum:1.2, breakout:1.1, smc:1.3, multiTF:1.8, fibonacci:0.9, macro:1.3, micro:1.3, stat:0.8 };\nconst adaptiveWt = Object.assign({}, defaultWt);\nconst adjustments = {};\n\nfor (const [regime, stats] of Object.entries(regimeStats)) {\n  if (stats.wtT < 0.8) continue; // need meaningful signal mass\n  const regHR = stats.wtC / stats.wtT;\n  // Target adjustment: max ±0.25 per cycle\n  const targetDelta = Math.max(-0.25, Math.min(0.25, (regHR - 0.55) * 1.5));\n  const strats = regimeToStrat[regime] || [];\n  for (const s of strats) {\n    if (adaptiveWt[s] !== undefined) {\n      const emaTarget = defaultWt[s] + targetDelta;\n      // EMA smoothing: blend toward target\n      adaptiveWt[s] = Math.round(((1 - alpha) * adaptiveWt[s] + alpha * emaTarget) * 100) / 100;\n      adaptiveWt[s] = Math.max(0.4, Math.min(2.8, adaptiveWt[s]));\n      adjustments[s] = (adjustments[s] || 0) + targetDelta;\n    }\n  }\n}\n\n// Additional: Hurst-based overlay — if trend-following works better, boost trend family\nif (trendWtT > 0.5 && meanRevHR > 0 && trendHR > 0) {\n  const hurstDelta = (trendHR - meanRevHR) * 0.2; // up to 0.2 weight shift\n  adaptiveWt['trend']   = Math.round(Math.max(0.4, Math.min(2.8, adaptiveWt['trend']   + hurstDelta)) * 100) / 100;\n  adaptiveWt['meanRev'] = Math.round(Math.max(0.4, Math.min(2.8, adaptiveWt['meanRev'] - hurstDelta)) * 100) / 100;\n}\n\n// Normalize weights to preserve total magnitude\nconst origSum = Object.values(defaultWt).reduce((a, b) => a + b, 0);\nconst newSum  = Object.values(adaptiveWt).reduce((a, b) => a + b, 0);\nif (newSum > 0.1) {\n  for (const k of Object.keys(adaptiveWt)) {\n    adaptiveWt[k] = Math.round(adaptiveWt[k] / newSum * origSum * 100) / 100;\n  }\n}\n\n// Adaptive minConf\nlet adaptiveMinConf = 60;\nif (gradeable >= 10) {\n  if      (hitRate < 40)  adaptiveMinConf = 68;\n  else if (hitRate < 48)  adaptiveMinConf = 65;\n  else if (hitRate < 55)  adaptiveMinConf = 62;\n  else if (hitRate > 72)  adaptiveMinConf = 56;\n  else if (hitRate > 65)  adaptiveMinConf = 58;\n  else                    adaptiveMinConf = 60;\n}\n\nconst buyMult  = gradeable >= 8 ? parseFloat(Math.max(0.80, Math.min(1.20, 0.50 + (buyHitRate  / 100))).toFixed(2)) : 1.0;\nconst sellMult = gradeable >= 8 ? parseFloat(Math.max(0.80, Math.min(1.20, 0.50 + (sellHitRate / 100))).toFixed(2)) : 1.0;\n\nconst regimeStatsSummary = Object.fromEntries(\n  Object.entries(regimeStats).map(([r, s]) => [r, Math.round(s.wtC/s.wtT*100) + '%w (' + results.filter(x=>x.regime===r).length + 'sig)'])\n);\n\n\n// ─── DEFLATED SHARPE GATE (Bailey & Lopez de Prado 2014) ──────────────\n// Compute approximate Sharpe ratio of the realized returns and check if\n// it exceeds the noise threshold given # of trials. Only promote new\n// weights if statistically significant.\nconst realizedRets = results.map(r => (r.correct ? 1 : -1) * r.decayWeight);\nlet dsrPass = false, dsr = null, sharpeRaw = null;\nif (realizedRets.length >= 15) {\n  const mean = realizedRets.reduce((a,b) => a+b, 0) / realizedRets.length;\n  const sd   = Math.sqrt(realizedRets.reduce((s,r) => s + (r-mean)**2, 0) / (realizedRets.length-1));\n  if (sd > 0) {\n    sharpeRaw = mean / sd;\n    // Skewness and kurtosis of returns\n    const skew = realizedRets.reduce((s,r) => s + ((r-mean)/sd)**3, 0) / realizedRets.length;\n    const kurt = realizedRets.reduce((s,r) => s + ((r-mean)/sd)**4, 0) / realizedRets.length;\n    // Critical Sharpe with N trials (we explore ~10 weight configurations)\n    const numTrials = 10;\n    const sr0 = Math.sqrt(2 * Math.log(numTrials)) - Math.log(Math.log(numTrials));\n    const sigmaSR = Math.sqrt((1 - skew * sharpeRaw + ((kurt - 1)/4) * sharpeRaw**2) / (realizedRets.length - 1));\n    if (sigmaSR > 0) {\n      dsr = (sharpeRaw - sr0 * sigmaSR) / sigmaSR;\n      dsrPass = dsr > 1.96; // 95% confidence\n    }\n  }\n}\n\n// If DSR fails, keep weights at default (don't promote noise)\nif (!dsrPass && realizedRets.length >= 15) {\n  for (const k of Object.keys(adaptiveWt)) adaptiveWt[k] = defaultWt[k];\n}\n// ─────────────────────────────────────────────────────────────────────\n\n\nconst adaptiveParams = 'ADAPTIVE_PARAMS | ' + new Date().toISOString().slice(0,16) + 'Z'\n  + ' | minConf:' + adaptiveMinConf\n  + ' | buyMult:' + buyMult\n  + ' | sellMult:' + sellMult\n  + ' | hitRate:' + hitRate + '%'\n  + ' | buyHR:' + buyHitRate + '%'\n  + ' | sellHR:' + sellHitRate + '%'\n  + ' | highConfHR:' + wt_highConfHR + '%' + ' | lowConfHR:' + wt_lowConfHR + '%' + ' | confCalibrated:' + wt_confCalibrated\n  + ' | gradeable:' + gradeable\n  + ' | wt:' + JSON.stringify(adaptiveWt)\n  + ' | regimeStats:' + JSON.stringify(regimeStatsSummary)\n  + ' | dataQuality:' + (gradeable < 5 ? 'INSUFFICIENT' : gradeable < 15 ? 'BUILDING' : 'SUFFICIENT')\n  + ' | dsr:' + (dsr === null ? 'NA' : dsr.toFixed(2)) + ' | dsrPass:' + dsrPass + ' | sharpeRaw:' + (sharpeRaw === null ? 'NA' : sharpeRaw.toFixed(3))\n  + ' | trendHR:' + Math.round(trendHR*100) + '%'\n  + ' | meanRevHR:' + Math.round(meanRevHR*100) + '%';\n\nconst report = 'WEIGHT TUNER REPORT | ' + new Date().toISOString().slice(0,16) + 'Z'\n  + '\\nBTC @ $' + Math.round(currentPrice) + ' | Signals analyzed: ' + memories.length + ' | Gradeable (72h): ' + gradeable\n  + '\\nWeighted hit rate: ' + hitRate + '% | BUY: ' + buyHitRate + '% | SELL: ' + sellHitRate + '%'\n  + '\\nTrend-regime HR: ' + Math.round(trendHR*100) + '% | MeanRev-regime HR: ' + Math.round(meanRevHR*100) + '%'\n  + '\\nNew weights: ' + JSON.stringify(adaptiveWt)\n  + '\\nAdjustments: ' + JSON.stringify(adjustments)\n  + '\\nAdaptive minConf: ' + adaptiveMinConf;\n\nreturn [{ json: { adaptiveParams, report, hitRate, dsr, dsrPass, sharpeRaw, buyHitRate, sellHitRate, gradeable, adaptiveWt, adaptiveMinConf, buyMult, sellMult, regimeStatsSummary, adjustments } }];\n"},"onError":"continueRegularOutput","type":"n8n-nodes-base.code","id":"wt04"},{"onError":"continueRegularOutput","type":"n8n-nodes-base.code","id":"wt05","typeVersion":2,"name":"WT Write Adaptive Params","position":[600,200],"parameters":{"jsCode":"// Weight Tuner: Write Adaptive Params to inspiring-cat vault\nconst https = require('https');\nconst data = $input.first().json;\nconst adaptiveParams = data.adaptiveParams;\n\nif (!adaptiveParams || data.skipped) {\n  return [{ json: { stored: false, reason: data.error || data.reason || 'skipped' } }];\n}\n\nconst payload = JSON.stringify({\n  memories: [{\n    content: adaptiveParams,\n    source: 'weight_tuner',\n    memory_type: 'adaptive',\n    importance: 5,\n    tags: ['crypto_adaptive_params', 'performance', 'learning', 'weight_tuner']\n  }]\n});\n\nconst result = await new Promise((resolve) => {\n  const opts = {\n    hostname: 'inspiring-cat-production.up.railway.app',\n    path: '/memory/ingest',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Memory-Secret': '2dc6c69574c14d615ce146e54640aa13030dade7aa86697c',\n      'Content-Length': Buffer.byteLength(payload)\n    }\n  };\n  const req = https.request(opts, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({ ok: false, err: d.slice(0,80) }); } });\n  });\n  req.on('error', e => resolve({ ok: false, err: e.message }));\n  req.setTimeout(8000, () => { req.destroy(); resolve({ ok: false, err: 'timeout' }); });\n  req.write(payload);\n  req.end();\n});\n\nreturn [{ json: { stored: !!result.ok, result, preview: adaptiveParams.slice(0, 150) } }];\n"}},{"webhookId":"a97ba430-6ac0-4e7b-9e04-9208faa03980","typeVersion":1.2,"name":"WT Telegram Report","parameters":{"additionalFields":{"parse_mode":"HTML"},"text":"={{ \"⚙️ <b>WEIGHT TUNER DAILY REPORT</b>\\n\\n\" + $json.report }}","chatId":"={{ $env.TELEGRAM_CHAT_ID }}"},"position":[600,400],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"vaWr2cxS1Q9HsYd4","name":"Telegram account"}},"type":"n8n-nodes-base.telegram","id":"wt06"}],"staticData":null,"name":"Crypto Weight Tuner (Daily Optimizer)"}